force-app/main/default/flows/Account_Add_ZoomInfo_Tagging.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>addTaggingToCollection</name>
        <label>addTaggingToCollection</label>
        <locationX>2326</locationX>
        <locationY>1656</locationY>
        <assignmentItems>
            <assignToReference>taggingsToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>taggingRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_each_tag_occurrence</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_last_Tag_value</name>
        <label>Assign last Tag value</label>
        <locationX>2238</locationX>
        <locationY>816</locationY>
        <assignmentItems>
            <assignToReference>zoomInfoTags_collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>zoomInfoTags_original</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_each_tag_occurrence</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_n_1_values_to_tag_collection</name>
        <label>Assign n-1 values to tag collection</label>
        <locationX>2502</locationX>
        <locationY>816</locationY>
        <assignmentItems>
            <assignToReference>zoomInfoTags_collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>zoomInfoTags_split</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>i</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>iPlusPlus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>occurrencesOfComma_collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>i</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>zoomInfoTags_original</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>zoomInfoTags_Substitute</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>setCommaCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Comma_Occurrence_Assignment</name>
        <label>Comma Occurrence Assignment</label>
        <locationX>1490</locationX>
        <locationY>456</locationY>
        <assignmentItems>
            <assignToReference>occurrencesOfComma_collection</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>setCommaCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_addTaggingToCollection</name>
        <label>Copy 1 of addTaggingToCollection</label>
        <locationX>2766</locationX>
        <locationY>1536</locationY>
        <assignmentItems>
            <assignToReference>taggingsToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>taggingRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_each_tag_occurrence</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_createTaggingRecord</name>
        <label>Copy 1 of createTaggingRecord</label>
        <locationX>2766</locationX>
        <locationY>1416</locationY>
        <assignmentItems>
            <assignToReference>taggingRecord.UniTag__Tag__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Tag</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taggingRecord.UniTag__sObject_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taggingRecord.UniTag__Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taggingRecord.UniTag__Record_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_addTaggingToCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>createTaggingRecord</name>
        <label>createTaggingRecord</label>
        <locationX>2326</locationX>
        <locationY>1536</locationY>
        <assignmentItems>
            <assignToReference>taggingRecord.UniTag__Tag__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Tag_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taggingRecord.UniTag__sObject_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taggingRecord.UniTag__Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taggingRecord.UniTag__Record_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addTaggingToCollection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>End_Loop</name>
        <label>End Loop?</label>
        <locationX>2370</locationX>
        <locationY>696</locationY>
        <defaultConnector>
            <targetReference>Assign_n_1_values_to_tag_collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Finished</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>i</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>occurrencesOfComma</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>i</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>10.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_last_Tag_value</targetReference>
            </connector>
            <label>Finished</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existing_Tagging_found</name>
        <label>Existing Tagging found?</label>
        <locationX>2458</locationX>
        <locationY>1416</locationY>
        <defaultConnector>
            <targetReference>For_each_tag_occurrence</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Tagging_Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Tagging.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createTaggingRecord</targetReference>
            </connector>
            <label>Tagging Not Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tag_Found</name>
        <label>Tag Found?</label>
        <locationX>2612</locationX>
        <locationY>1176</locationY>
        <defaultConnector>
            <targetReference>Create_Tag</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Tag_Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Existing_Tagging</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <description>testing async</description>
    <environments>Default</environments>
    <formulas>
        <description>Incrementing i</description>
        <name>iPlusPlus</name>
        <dataType>Number</dataType>
        <expression>{!i} + 1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>occurrencesOfComma</name>
        <dataType>Number</dataType>
        <expression>(LEN({!$Record.AddTags__c}) - LEN(SUBSTITUTE(LOWER({!$Record.AddTags__c}),&quot;,&quot;,&quot;&quot;)))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>zoomInfoTags_split</name>
        <dataType>String</dataType>
        <expression>LEFT({!zoomInfoTags_original}, FIND(&apos;,&apos;, {!zoomInfoTags_original})-1)</expression>
    </formulas>
    <formulas>
        <name>zoomInfoTags_Substitute</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!zoomInfoTags_original}, {!zoomInfoTags_split} &amp; &apos;,&apos;, &apos;&apos;)</expression>
    </formulas>
    <interviewLabel>Account - Add ZoomInfo Tagging {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account - Add ZoomInfo Tagging - Update</label>
    <loops>
        <name>For_each_tag_occurrence</name>
        <label>For each tag occurrence</label>
        <locationX>2238</locationX>
        <locationY>936</locationY>
        <collectionReference>zoomInfoTags_collection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Tag_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Tagging_with_Existing_Tag</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>setCommaCollection</name>
        <label>setCommaCollection</label>
        <locationX>1490</locationX>
        <locationY>576</locationY>
        <collectionReference>occurrencesOfComma_collection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>End_Loop</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>For_each_tag_occurrence</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Tag</name>
        <label>Create Tag</label>
        <locationX>2766</locationX>
        <locationY>1296</locationY>
        <connector>
            <targetReference>Copy_1_of_createTaggingRecord</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>For_each_tag_occurrence</elementReference>
            </value>
        </inputAssignments>
        <object>UniTag__Tag__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Tagging_with_Existing_Tag</name>
        <label>Create Tagging with Existing Tag</label>
        <locationX>2238</locationX>
        <locationY>2064</locationY>
        <inputReference>taggingsToInsert</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Existing_Tagging</name>
        <label>Get Existing Tagging</label>
        <locationX>2458</locationX>
        <locationY>1296</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_Tagging_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UniTag__Tag__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Tag_Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>UniTag__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>UniTag__Tagging__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Tag_Record</name>
        <label>Get Tag Record</label>
        <locationX>2612</locationX>
        <locationY>1056</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Tag_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>For_each_tag_occurrence</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>UniTag__Tag__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>330</locationX>
        <locationY>48</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AddTags__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Comma_Occurrence_Assignment</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Iterator</description>
        <name>i</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>occurrencesOfComma_collection</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>taggingRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>UniTag__Tagging__c</objectType>
    </variables>
    <variables>
        <name>taggingsToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>UniTag__Tagging__c</objectType>
    </variables>
    <variables>
        <name>taggingsToInsert_collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>UniTag__Tagging__c</objectType>
    </variables>
    <variables>
        <name>tagsToTag_collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>UniTag__Tag__c</objectType>
    </variables>
    <variables>
        <name>zoomInfoTags_collection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>zoomInfoTags_original</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.AddTags__c</elementReference>
        </value>
    </variables>
</Flow>
