force-app/main/default/flows/AccountUpdateIndustry.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_Industry_Values</name>
        <label>Assign Industry Values</label>
        <locationX>50</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>$Record.Industry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Industry_Mapping.SalesforceIndustry__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SubIndustry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Industry_Mapping.SalesforceSubIndustry__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Other_value</name>
        <label>Assign Other value</label>
        <locationX>314</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>$Record.Industry</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Needs Review</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Found_Industry</name>
        <label>Found Industry?</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Assign_Other_value</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Industry_Mapping</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Industry_Values</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Create Only</description>
    <environments>Default</environments>
    <formulas>
        <name>forZoomInfoMapping</name>
        <dataType>String</dataType>
        <expression>IF( ISBLANK({!$Record.ZoomInfoSubIndustry__c}),{!$Record.ZoomInfoIndustry__c},{!$Record.ZoomInfoIndustry__c}+&quot;-&quot;+{!$Record.ZoomInfoSubIndustry__c})</expression>
    </formulas>
    <interviewLabel>Account - Update Industry/Subindustry {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account - Update Industry/Subindustry</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Industry_Mapping</name>
        <label>Get Industry Mapping</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Industry</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ExternalId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>forZoomInfoMapping</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>IndustryMapping__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Industry_Mapping</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ZoomInfoIndustry__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
