force-app/main/default/flows/AddAMClaimsGoalsButton.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>AddSingleGoalToCollection</name>
        <label>Add Single Goal to Collection</label>
        <locationX>754</locationX>
        <locationY>1238</locationY>
        <assignmentItems>
            <assignToReference>collectionGoals</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SelectedGoalsLoop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SelectedGoalsLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateAMClaimOnEachGoal</name>
        <label>Update AM Claim on Each Goal</label>
        <locationX>754</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>SelectedGoalsLoop.AMClaim__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddSingleGoalToCollection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>AmClaimStatusCheck</name>
        <label>Am Claim Status Check</label>
        <locationX>380</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>MaximumNumberOfGoalsReached</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>StatusIsSubmittedPendingOrApproved</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetAMClaims.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetAMClaims.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetAMClaims.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AMClaimStillPending</targetReference>
            </connector>
            <label>Status Is Submitted, Pending Or Approved</label>
        </rules>
    </decisions>
    <decisions>
        <name>MaximumNumberOfGoalsReached</name>
        <label>Maximum Number Of Goals Reached?</label>
        <locationX>710</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>GoalLimitReached</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetAMClaims.NumberofGoalOpportunities__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetMyGoals</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>NoGoalsAvailableDecision</name>
        <label>No Goals Available Decision</label>
        <locationX>490</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>SelectGoalsScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NoGoalsAvailable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetMyGoals</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NoGoalAvailableTextScreen</targetReference>
            </connector>
            <label>No Goals Available</label>
        </rules>
    </decisions>
    <description>09/01/2023 Cas Hefti added an Error Message for when an AM Claim is still Pending for Approval</description>
    <environments>Default</environments>
    <formulas>
        <name>forMaxGoalsToAdd</name>
        <dataType>Number</dataType>
        <expression>5 - BLANKVALUE({!GetAMClaims.NumberofGoalOpportunities__c}, 0)</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>AMGoalsSelect {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add AM Claims Goals Button</label>
    <loops>
        <name>SelectedGoalsLoop</name>
        <label>Selected Goals Loop</label>
        <locationX>666</locationX>
        <locationY>998</locationY>
        <collectionReference>SelectedGoalsManual</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>UpdateAMClaimOnEachGoal</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateAllGoals</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetAMClaims</name>
        <label>Get AM Claims</label>
        <locationX>380</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AmClaimStatusCheck</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AmClaim__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetMyGoals</name>
        <label>Get My Goals</label>
        <locationX>490</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>NoGoalsAvailableDecision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IAmTheOwner__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AMClaim__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GoalOpportunity__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateAllGoals</name>
        <label>Update All Goals</label>
        <locationX>666</locationX>
        <locationY>1454</locationY>
        <inputReference>collectionGoals</inputReference>
    </recordUpdates>
    <screens>
        <name>AMClaimStillPending</name>
        <label>AM Claim Still Pending</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>AMClaimStillPendingError</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Oh no! It seems your AM Claim has the Status &quot;Submitted&quot;, &quot;Pending&quot; or &quot;Approved&quot;.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;If possible, please go to the Approval section on the AM Claim and use the &apos;Recall&apos; button before you try again.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>GoalLimitReached</name>
        <label>Goal Limit Reached</label>
        <locationX>930</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>MaxGoalsMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;Oh no! You have reached the maximum amount of 5 Goals on this Claim. Please make sure you&apos;re not creating duplicates. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;If you have multiple Opportunities for 1 merchant, you can group those into 1 Goal by linking multiple Opps to a given Goal.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>GoalsToBeAdded</name>
        <label>Goals To Be Added</label>
        <locationX>666</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SelectedGoalsLoop</targetReference>
        </connector>
        <fields>
            <name>SelectedGoalsOverview</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>GoalOpportunity__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Selected Goals overview</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>SelectedGoalsManual</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-256d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Goal Opportunity Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;AMCommercialGoal2__c&quot;,&quot;guid&quot;:&quot;column-e522&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;AM Commercial Goal&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NoGoalAvailableTextScreen</name>
        <label>No Goal Available Text Screen</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NoGoalsSelectedText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Sorry, there are &lt;/span&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;no &lt;/span&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Goals available for you.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Please create new Goals after closing this screen and give it another go later!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SelectGoalsScreen</name>
        <label>Select Goals Screen</label>
        <locationX>666</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GoalsToBeAdded</targetReference>
        </connector>
        <fields>
            <name>NoteMaxGoals</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Note: A maximum of 5 goals can be attached to your AM Claim&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SelectGoals</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>GoalOpportunity__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select Goals</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>GetMyGoals</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-8427&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;Goal Opportunity Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Goal Opportunity Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;AMCommercialGoal2__c&quot;,&quot;guid&quot;:&quot;column-e831&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;AM Commercial Goal&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <elementReference>forMaxGoalsToAdd</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varFirstSelected</assignToReference>
                <name>firstSelectedRow</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>SelectedGoalsManual</assignToReference>
                <name>selectedRows</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetAMClaims</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>collectionGoals</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GoalOpportunity__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedGoalsManual</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GoalOpportunity__c</objectType>
    </variables>
    <variables>
        <name>singleGoalRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GoalOpportunity__c</objectType>
    </variables>
    <variables>
        <name>varFirstSelected</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GoalOpportunity__c</objectType>
    </variables>
    <variables>
        <name>varGoalsRecordCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
