force-app/main/default/flows/After_Save_Update_Get_Feedback.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Set_Contact_Last_NPS_Field</name>
        <label>Set Contact Last NPS Field</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>Get_Contact.LastNPS__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.NPS__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Was_Date_Responded_Set_or_Updated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Contact_Responded_Date</name>
        <label>Set Contact Responded Date</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>Get_Contact.NPSRespondedDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Date_Responded__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_record_the_latest_NPS</name>
        <label>Is record the latest NPS?</label>
        <locationX>336</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Latest</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Latest_NPS_Get_Feedback.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Was_NPS_Set_or_Updated</targetReference>
            </connector>
            <label>Is Latest</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Date_Responded_Set_or_Updated</name>
        <label>Was Date Responded Set or Updated?</label>
        <locationX>182</locationX>
        <locationY>947</locationY>
        <defaultConnector>
            <targetReference>Update_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Responded_Date_Set_or_Updated</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Date_Responded__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Date_Responded__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Contact_Responded_Date</targetReference>
            </connector>
            <label>Responded Date Set or Updated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_NPS_Set_or_Updated</name>
        <label>Was NPS Set or Updated?</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Was_Date_Responded_Set_or_Updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NPS_Set_or_Updated</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NPS__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NPS__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Contact_Last_NPS_Field</targetReference>
            </connector>
            <label>NPS Set or Updated</label>
        </rules>
    </decisions>
    <description>NPS Sent date decision node removed.</description>
    <environments>Default</environments>
    <interviewLabel>After-Save Update Get Feedback {!$Flow.CurrentDateTime}</interviewLabel>
    <label>After-Save Update Get Feedback</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>336</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Latest_NPS_Get_Feedback</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Latest_NPS_Get_Feedback</name>
        <label>Get Latest NPS Get Feedback</label>
        <locationX>336</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_record_the_latest_NPS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact_ID__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsDeleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Date_Responded__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Get_Feedback__c</object>
        <sortField>Date_Responded__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>182</locationX>
        <locationY>1247</locationY>
        <inputReference>Get_Contact</inputReference>
    </recordUpdates>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>NPS__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Get_Feedback__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
