force-app/main/default/flows/AfterSaveUpdatesDocuSignRecipientStatus.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>SetAdyenSignature</name>
        <label>Set Adyen Signature?</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>AdyenSignature1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.dsfs__Recipient_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.dsfs__Recipient_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SignedByAdyen__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.dsfs__Parent_Status_Record__r.Adyen_Signature_1__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateAdyenSignature1</targetReference>
            </connector>
            <label>Adyen Signature 1</label>
        </rules>
        <rules>
            <name>AdyenSignature2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.dsfs__Recipient_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.dsfs__Recipient_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SignedByAdyen__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.dsfs__Parent_Status_Record__r.Adyen_Signature_1__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.dsfs__Parent_Status_Record__r.Adyen_Signature_2__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateAdyenSignature2</targetReference>
            </connector>
            <label>Adyen Signature 2</label>
        </rules>
    </decisions>
    <description>updated the update update</description>
    <environments>Default</environments>
    <interviewLabel>Before-Save Updates DocuSign Recipient Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>After-Save Updates DocuSign Recipient Status</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>UpdateAdyenSignature1</name>
        <label>Update Adyen Signature 1</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.dsfs__Parent_Status_Record__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Adyen_Signature_1__c</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <object>dsfs__DocuSign_Status__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateAdyenSignature2</name>
        <label>Update Adyen Signature 2</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.dsfs__Parent_Status_Record__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Adyen_Signature_2__c</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <object>dsfs__DocuSign_Status__c</object>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SetAdyenSignature</targetReference>
        </connector>
        <object>dsfs__DocuSign_Recipient_Status__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
