force-app/main/default/flows/AfterSaveUpdateHandoverSendOutNotificationsToTeamLeads.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SendEmailToUsers</name>
        <label>Send email to users</label>
        <locationX>402</locationX>
        <locationY>3695</locationY>
        <actionName>EmailUtility</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>IsTheIMUpdatedFromMonday</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailsToBeSent</name>
            <value>
                <elementReference>EmailWrapper</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>AssignmentAccountManagement</name>
        <label>AssignmentAccountManagement</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>EmailWrapperSingle.mappingName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountManagement</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailWrapperSingle.recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignToCollectionAM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignmentAccountManagementPool</name>
        <label>AssignmentAccountManagementPool</label>
        <locationX>182</locationX>
        <locationY>839</locationY>
        <assignmentItems>
            <assignToReference>EmailWrapperSingle.mappingName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountManagementPool</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailWrapperSingle.recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignToCollectionAMPool</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignmentImplementationManager</name>
        <label>Assignment Implementation Manager</label>
        <locationX>182</locationX>
        <locationY>1247</locationY>
        <assignmentItems>
            <assignToReference>EmailWrapperSingle.mappingName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ImplementationManager</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailWrapperSingle.recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignToImplementationManagerCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignmentOnboardingSpecialist</name>
        <label>Assignment Onboarding Specialist</label>
        <locationX>182</locationX>
        <locationY>2063</locationY>
        <assignmentItems>
            <assignToReference>EmailWrapperSingle.mappingName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OnboardingSpecialist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailWrapperSingle.recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignToOnboardingSpecialistCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignmentPartnerManager</name>
        <label>AssignmentPartnerManager</label>
        <locationX>182</locationX>
        <locationY>3287</locationY>
        <assignmentItems>
            <assignToReference>EmailWrapperSingle.mappingName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PartnerManager</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailWrapperSingle.recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignToPartnerManagerCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignmentPartnerPool</name>
        <label>AssignmentPartnerPool</label>
        <locationX>182</locationX>
        <locationY>2879</locationY>
        <assignmentItems>
            <assignToReference>EmailWrapperSingle.mappingName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PartnerPool</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailWrapperSingle.recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignToPartnerPoolCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignmentProjectOperationsManager</name>
        <label>Assignment Project Operations Manager</label>
        <locationX>182</locationX>
        <locationY>1655</locationY>
        <assignmentItems>
            <assignToReference>EmailWrapperSingle.mappingName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProjectOperationsManager</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailWrapperSingle.recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignToProjectOperationsManagerCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignmentSales</name>
        <label>AssignmentSales</label>
        <locationX>182</locationX>
        <locationY>2471</locationY>
        <assignmentItems>
            <assignToReference>EmailWrapperSingle.mappingName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sales</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailWrapperSingle.recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignToSalesCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignToCollectionAM</name>
        <label>AssignToCollectionAM</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>EmailWrapper</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EmailWrapperSingle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsAccountManagementPoolRequested</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignToCollectionAMPool</name>
        <label>AssignToCollectionAMPool</label>
        <locationX>182</locationX>
        <locationY>947</locationY>
        <assignmentItems>
            <assignToReference>EmailWrapper</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EmailWrapperSingle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ImplementationManagerRequested</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignToImplementationManagerCollection</name>
        <label>Assign to Implementation Manager Collection</label>
        <locationX>182</locationX>
        <locationY>1355</locationY>
        <assignmentItems>
            <assignToReference>EmailWrapper</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EmailWrapperSingle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ProjectOperationsManagerRequested</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignToOnboardingSpecialistCollection</name>
        <label>Assign to Onboarding Specialist Collection</label>
        <locationX>182</locationX>
        <locationY>2171</locationY>
        <assignmentItems>
            <assignToReference>EmailWrapper</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EmailWrapperSingle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsSalesRequested</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignToPartnerManagerCollection</name>
        <label>Assign to Partner Manager Collection</label>
        <locationX>182</locationX>
        <locationY>3395</locationY>
        <assignmentItems>
            <assignToReference>EmailWrapper</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EmailWrapperSingle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsTheVariableEmpty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignToPartnerPoolCollection</name>
        <label>Assign to Partner Pool Collection</label>
        <locationX>182</locationX>
        <locationY>2987</locationY>
        <assignmentItems>
            <assignToReference>EmailWrapper</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EmailWrapperSingle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsPartnerManagerRequested</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignToProjectOperationsManagerCollection</name>
        <label>Assign to Project Operations Manager Collection</label>
        <locationX>182</locationX>
        <locationY>1763</locationY>
        <assignmentItems>
            <assignToReference>EmailWrapper</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EmailWrapperSingle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OnboardingSpecialistRequested</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignToSalesCollection</name>
        <label>Assign to Sales Collection</label>
        <locationX>182</locationX>
        <locationY>2579</locationY>
        <assignmentItems>
            <assignToReference>EmailWrapper</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EmailWrapperSingle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsPartnerPoolRequested</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>ImplementationManagerRequested</name>
        <label>Implementation Manager Requested?</label>
        <locationX>314</locationX>
        <locationY>1139</locationY>
        <defaultConnector>
            <targetReference>ProjectOperationsManagerRequested</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesImplementationManager</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ImplementationManager__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ImplementationManager__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewRecord</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignmentImplementationManager</targetReference>
            </connector>
            <label>Yes, Implementation Manager</label>
        </rules>
    </decisions>
    <decisions>
        <description>Find out if Account Management Pool is requested and if so, send an email</description>
        <name>IsAccountManagementPoolRequested</name>
        <label>Is Account Management Pool Requested?</label>
        <locationX>314</locationX>
        <locationY>731</locationY>
        <defaultConnector>
            <targetReference>ImplementationManagerRequested</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesPool</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AMPool__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AMPool__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewRecord</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignmentAccountManagementPool</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Find out if Account Management is requested and if so, send an email</description>
        <name>IsAMRequested</name>
        <label>Is Account Management Requested?</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>IsAccountManagementPoolRequested</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesAMRequested</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AccountManager__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountManager__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewRecord</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignmentAccountManagement</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsPartnerManagerRequested</name>
        <label>Is Partner Manager Requested?</label>
        <locationX>314</locationX>
        <locationY>3179</locationY>
        <defaultConnector>
            <targetReference>IsTheVariableEmpty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesDedicatedPartnerManager</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DedicatedPartnerManager__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AssignedPartnerManager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PartnerPool__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewRecord</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignmentPartnerManager</targetReference>
            </connector>
            <label>Yes Dedicated Partner Manager</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsPartnerPoolRequested</name>
        <label>Is Partner Pool Requested?</label>
        <locationX>314</locationX>
        <locationY>2771</locationY>
        <defaultConnector>
            <targetReference>IsPartnerManagerRequested</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesPartnerPool</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PartnerPool__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AssignedPartnerManager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PartnerPool__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewRecord</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignmentPartnerPool</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsSalesRequested</name>
        <label>Is Sales Requested?</label>
        <locationX>314</locationX>
        <locationY>2363</locationY>
        <defaultConnector>
            <targetReference>IsPartnerPoolRequested</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesSales</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sales__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sales_Manager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sales__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewRecord</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignmentSales</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsTheIMUpdatedFromMonday</name>
        <label>Is the IM updated from Monday?</label>
        <locationX>314</locationX>
        <locationY>3887</locationY>
        <defaultConnector>
            <targetReference>IsThePOMUpdatedFromMonday</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ImplementationManagerAssigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ImplementationManager__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MondayImplementationManagerEmail__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IM__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetTheIMUser</targetReference>
            </connector>
            <label>Implementation Manager Assigned</label>
        </rules>
        <rules>
            <name>IMMoreInformationRejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IMRejectionReason__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IMRejectionReason__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateTheIMFieldToNull</targetReference>
            </connector>
            <label>IM - More Information/Rejected</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsThePOMUpdatedFromMonday</name>
        <label>Is the POM updated from Monday?</label>
        <locationX>314</locationX>
        <locationY>4295</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ProjectOperationsManagerPOM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ProjectOperationsManager__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MondayProjectOperationManagerEmail__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AssignedPom__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetThePOM</targetReference>
            </connector>
            <label>Project Operations Manager</label>
        </rules>
        <rules>
            <name>POMMoreInformationRejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.POMRejectionReason__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.POMRejectionReason__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateThePOMFieldToNull</targetReference>
            </connector>
            <label>POM - More Information/Rejected</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsTheVariableEmpty</name>
        <label>Is the variable empty?</label>
        <locationX>314</locationX>
        <locationY>3587</locationY>
        <defaultConnector>
            <targetReference>SendEmailToUsers</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmailWrapper</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IsTheIMUpdatedFromMonday</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>OnboardingSpecialistRequested</name>
        <label>Onboarding Specialist Requested?</label>
        <locationX>314</locationX>
        <locationY>1955</locationY>
        <defaultConnector>
            <targetReference>IsSalesRequested</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesOnboardingSpecialist</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OnboardingSpecialist__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OnboardingSpecialist__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewRecord</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignmentOnboardingSpecialist</targetReference>
            </connector>
            <label>Yes, Onboarding Specialist</label>
        </rules>
    </decisions>
    <decisions>
        <name>ProjectOperationsManagerRequested</name>
        <label>Project Operations Manager Requested?</label>
        <locationX>314</locationX>
        <locationY>1547</locationY>
        <defaultConnector>
            <targetReference>OnboardingSpecialistRequested</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesProjectOperationsManager</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ProjectOperationsManager__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ProjectOperationsManager__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewRecord</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignmentProjectOperationsManager</targetReference>
            </connector>
            <label>Yes, Project Operations Manager</label>
        </rules>
    </decisions>
    <description>Gon 17/10: Updated some metadata issues.</description>
    <environments>Default</environments>
    <formulas>
        <name>AccountManagement</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record.Umbrella_Region__c})+&apos;AccountManagement&apos;</expression>
    </formulas>
    <formulas>
        <name>AccountManagementPool</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record.Umbrella_Region__c})+&apos;AccountManagementPool&apos;</expression>
    </formulas>
    <formulas>
        <name>ImplementationManager</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record.Umbrella_Region__c})+&apos;ImplementationManager&apos;</expression>
    </formulas>
    <formulas>
        <name>NewRecord</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>OnboardingSpecialist</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record.Umbrella_Region__c})+&apos;OnboardingSpecialist&apos;</expression>
    </formulas>
    <formulas>
        <name>PartnerManager</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record.Umbrella_Region__c})+&apos;DedicatedPartnerManager&apos;</expression>
    </formulas>
    <formulas>
        <name>PartnerPool</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record.Umbrella_Region__c})+&apos;PartnerManagerPool&apos;</expression>
    </formulas>
    <formulas>
        <name>ProjectOperationsManager</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record.Umbrella_Region__c})+&apos;ProjectOperationsManager&apos;</expression>
    </formulas>
    <formulas>
        <name>Sales</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record.Umbrella_Region__c})+&apos;Sales&apos;</expression>
    </formulas>
    <interviewLabel>After Save Update Handover - Send out notifications to Team Leads {!$Flow.CurrentDateTime}</interviewLabel>
    <label>After Save Update Handover - Send out notifications to Team Leads</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetTheIMUser</name>
        <label>Get the IM user</label>
        <locationX>50</locationX>
        <locationY>3995</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateIM</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MondayImplementationManagerEmail__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetThePOM</name>
        <label>Get the POM</label>
        <locationX>50</locationX>
        <locationY>4403</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdatePOM</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MondayProjectOperationManagerEmail__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateIM</name>
        <label>Update the IM</label>
        <locationX>50</locationX>
        <locationY>4103</locationY>
        <connector>
            <targetReference>IsThePOMUpdatedFromMonday</targetReference>
        </connector>
        <inputAssignments>
            <field>IM__c</field>
            <value>
                <elementReference>GetTheIMUser.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdatePOM</name>
        <label>Update POM</label>
        <locationX>50</locationX>
        <locationY>4511</locationY>
        <inputAssignments>
            <field>AssignedPom__c</field>
            <value>
                <elementReference>GetThePOM.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateTheIMFieldToNull</name>
        <label>Update the IM field to null</label>
        <locationX>314</locationX>
        <locationY>3995</locationY>
        <connector>
            <targetReference>IsThePOMUpdatedFromMonday</targetReference>
        </connector>
        <inputAssignments>
            <field>ImplementationManager__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateThePOMFieldToNull</name>
        <label>Update the POM field to null</label>
        <locationX>314</locationX>
        <locationY>4403</locationY>
        <inputAssignments>
            <field>ProjectOperationsManager__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>IsAMRequested</targetReference>
        </connector>
        <filterFormula>{!$Record.RecordType.DeveloperName} = &apos;Handover&apos;</filterFormula>
        <object>Handover__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>EmailWrapper</name>
        <apexClass>EmailWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EmailWrapperSingle</name>
        <apexClass>EmailWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
