force-app/main/default/flows/AfterSaveAgentWorkCaseStatusUpdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>SetCaseInProgress</name>
        <label>Set Case In progress</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>QueryCaseRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetManagerNameField</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetManagerNameField</name>
        <label>Set Manager Name Field</label>
        <locationX>176</locationX>
        <locationY>731</locationY>
        <assignmentItems>
            <assignToReference>QueryCaseRecord.Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Manager__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateCase</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>DecCaseStatus</name>
        <label>Case Status</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>SetManagerNameField</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QueryCaseRecord.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>SetCaseInProgress</targetReference>
            </connector>
            <label>New</label>
        </rules>
        <rules>
            <name>Handover</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QueryCaseRecord.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Handover</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetCaseInProgress</targetReference>
            </connector>
            <label>Handover</label>
        </rules>
    </decisions>
    <description>Updates the case status from &apos;New&apos; to &apos;In Progress&apos; once the agent accepts the case from Omni-Channel.</description>
    <environments>Default</environments>
    <interviewLabel>After-Save Agent Work Case Status Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>After-Save Agent Work Case Status Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>QueryCaseRecord</name>
        <label>Query Case Record</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DecCaseStatus</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WorkItemId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateCase</name>
        <label>Update Case</label>
        <locationX>176</locationX>
        <locationY>839</locationY>
        <inputReference>QueryCaseRecord</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>QueryCaseRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opened</stringValue>
            </value>
        </filters>
        <object>AgentWork</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
