force-app/main/default/flows/AfterSaveUpdatesUser.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>NewDocusignEmail</name>
        <label>New Docusign Email</label>
        <locationX>248</locationX>
        <locationY>1127</locationY>
        <actionName>User.New_Docusign_Email</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Sales_User_Deactivated</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>NewUserWelcomeEmail</name>
        <label>New User Welcome Email</label>
        <locationX>248</locationX>
        <locationY>791</locationY>
        <actionName>User.New_user_welcome_email</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>NewDocusignUserCreated</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>NoManagerOrInactiveManager</name>
        <label>NoManagerOrInactiveManager</label>
        <locationX>314</locationX>
        <locationY>1703</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>NoManagerInactiveManager</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>EmailAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>User Deactivated without Manager OR Inactive Manager</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>AssignErrorEmail</name>
        <label>Assign Error Email</label>
        <locationX>314</locationX>
        <locationY>1583</locationY>
        <assignmentItems>
            <assignToReference>EmailAddress</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>reyila.yideaiti@adyen.com</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NoManagerOrInactiveManager</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Manager_Active</name>
        <label>Is Manager Active?</label>
        <locationX>182</locationX>
        <locationY>1463</locationY>
        <defaultConnector>
            <targetReference>AssignErrorEmail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Active_Manager</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Manager.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Platform_Event_Task</targetReference>
            </connector>
            <label>Active Manager</label>
        </rules>
    </decisions>
    <decisions>
        <name>NewDocusignUserCreated</name>
        <label>New Docusign User Created</label>
        <locationX>380</locationX>
        <locationY>1007</locationY>
        <defaultConnector>
            <targetReference>Sales_User_Deactivated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NewDocusignUserCreatedDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.dsfs__DSProSFUsername__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NewDocusignEmail</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>New Docusign User Created Decision</label>
        </rules>
    </decisions>
    <decisions>
        <name>NewUserCreated</name>
        <label>NewUserCreated</label>
        <locationX>380</locationX>
        <locationY>671</locationY>
        <defaultConnector>
            <targetReference>NewDocusignUserCreated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NewUserCreatedDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewUserCreatedFormula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.UserType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Standard</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NewUserWelcomeEmail</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>New User Created</label>
        </rules>
    </decisions>
    <decisions>
        <name>Sales_User_Deactivated</name>
        <label>Sales User Deactivated?</label>
        <locationX>380</locationX>
        <locationY>1343</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Deactivated</name>
            <conditionLogic>(1 AND 2) AND (3 OR 4 OR 5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Profile_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Adyen v2 Account Manager</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Profile_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Adyen v2 Account Manager Lead</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Profile_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Adyen v2 Sales</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Profile_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Adyen v2 Sales Lead</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Manager_Active</targetReference>
            </connector>
            <label>Deactivated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Team_is_Sales</name>
        <label>Team is Sales?</label>
        <locationX>380</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>NewUserCreated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4) AND (5 OR (6 AND 7))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ProfileId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.SalesProfileId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ProfileId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.SalesLeadProfileId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.ProfileId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.SalesProfileId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.ProfileId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.SalesLeadProfileId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ProfileId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Platform_Event_Participant</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>19/01/23 Dennis: Added new functionality in order to push a task + Notification when team member is deactivated in SF</description>
    <environments>Default</environments>
    <formulas>
        <description>Formula used to check if a Users Profile should be in the Commercial Users Public Group</description>
        <name>forCommercialUserProfile</name>
        <dataType>String</dataType>
        <expression>{!$Record.Profile_Name__c}</expression>
    </formulas>
    <formulas>
        <name>ForDueDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + 3</expression>
    </formulas>
    <formulas>
        <name>ForReminder</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} + 7</expression>
    </formulas>
    <formulas>
        <name>NewUserCreatedFormula</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>After-Save Updates User {!$Flow.CurrentDateTime}</interviewLabel>
    <label>After-Save Updates User</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Platform_Event_Task</name>
        <label>Create Platform Event - Task</label>
        <locationX>50</locationX>
        <locationY>1583</locationY>
        <inputAssignments>
            <field>AssignedTo__c</field>
            <value>
                <elementReference>$Record.ManagerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <stringValue>User Deactivation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comments__c</field>
            <value>
                <elementReference>CommentsTask</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DueDate__c</field>
            <value>
                <elementReference>ForDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority__c</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime__c</field>
            <value>
                <elementReference>ForReminder</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderSet__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject__c</field>
            <value>
                <stringValue>User from your team is deactivated!</stringValue>
            </value>
        </inputAssignments>
        <object>CreateTask__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Platform_Event_Participant</name>
        <label>Platform Event Participant</label>
        <locationX>248</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>NewUserCreated</targetReference>
        </connector>
        <inputAssignments>
            <field>RecordId__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>ParticipantPlatformEvent__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Team_is_Sales</targetReference>
        </connector>
        <object>User</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>CommentsTask</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hi {!$Record.Manager__c},
A user account from your team is deactivated in Salesforce: {!$Record.FirstName} {!$Record.LastName} 
Please check if {!$Record.FirstName} still owns records in Salesforce. If so, please assign those records to active owners.</text>
    </textTemplates>
    <textTemplates>
        <name>NoManagerInactiveManager</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hi Rahila,
This user is deactivated in Salesforce but the Manager field is empty or the manager is inactive! 
User: {!$Record.FirstName} {!$Record.LastName}
Please check if he/she is the owner of open records. Contact Team Lead to follow up on this if so.</text>
    </textTemplates>
    <variables>
        <name>CollectionPlatformEventRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>HistoryRecordCreation__e</objectType>
    </variables>
    <variables>
        <name>EmailAddress</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NewHistoryPlatformRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>HistoryRecordCreation__e</objectType>
    </variables>
    <variables>
        <name>NewParticipantPlatformRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ParticipantPlatformEvent__e</objectType>
    </variables>
    <variables>
        <name>varShouldHistoryRecordBeCreated</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
