force-app/main/default/flows/After_Save_Updates_Handover.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_to_Assigned_CSM</name>
        <label>Email to Assigned CSM</label>
        <locationX>885</locationX>
        <locationY>2007</locationY>
        <actionName>Handover__c.EmailToHandoverCSM</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Transacting_Completed_User_populated</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Email_to_Handover_AM</name>
        <label>Email to Handover AM</label>
        <locationX>1357</locationX>
        <locationY>1779</locationY>
        <actionName>Handover__c.EmailToHandoverAm</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Transacting_Completed_User_populated</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Email_to_Handover_IM_POM_Queue</name>
        <label>Email to Handover IM/POM Queue</label>
        <locationX>1301</locationX>
        <locationY>776</locationY>
        <actionName>Handover__c.EmailToHandoverImPomQueue</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>IM_Assigned</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Email_to_Sales_Manager</name>
        <label>Email to Sales Manager</label>
        <locationX>1509</locationX>
        <locationY>431</locationY>
        <actionName>Handover__c.EmailToHandoverSales</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>AssignLeadOwner</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>EmailToSalesHandoverQueue</name>
        <label>EmailToSalesHandoverQueue</label>
        <locationX>1511</locationX>
        <locationY>273</locationY>
        <actionName>Handover__c.EmailToSalesHandoverQueue</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Desired_Region_updated</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Handover_notification_IM</name>
        <label>Handover notification IM</label>
        <locationX>1305</locationX>
        <locationY>962</locationY>
        <actionName>Handover__c.Handover_notification_IM</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Notification_to_Creator_IM_Changed</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Handover_notification_POM</name>
        <label>Handover notification POM</label>
        <locationX>1304</locationX>
        <locationY>1142</locationY>
        <actionName>Handover__c.Handover_notification_POM</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Notification_to_Creator_POM_Changed</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>HandoverHasBeenCompleted</name>
        <label>Handover Has Been Completed</label>
        <locationX>1229</locationX>
        <locationY>2150</locationY>
        <actionName>Handover__c.Handover_Completed</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>LeadOrAccount</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Notification_assignment_CX_Queue</name>
        <label>Notification assignment CX Queue</label>
        <locationX>1330</locationX>
        <locationY>1462</locationY>
        <actionName>Handover__c.EmailToHandoverQueue</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>AssignedToAnAM</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Notification_Handover_assigned_to_AM</name>
        <label>Notification Handover assigned to AM</label>
        <locationX>1350</locationX>
        <locationY>1610</locationY>
        <actionName>Handover__c.EmailToHandoverAm</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>AssignedToAM</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Notification_OS</name>
        <label>Notification OS</label>
        <locationX>1313</locationX>
        <locationY>1305</locationY>
        <actionName>Handover__c.Handover_notification_OS</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Status_updated_to_AM_Requested</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Notification_to_Creator_IM_Changed</name>
        <label>Notification to Creator (IM Changed)</label>
        <locationX>1499</locationX>
        <locationY>971</locationY>
        <actionName>Handover__c.HandoverNotificationCreatorIMChanged</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Pom_Assigned</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Notification_to_Creator_POM_Changed</name>
        <label>Notification to Creator (POM Changed)</label>
        <locationX>1515</locationX>
        <locationY>1150</locationY>
        <actionName>Handover__c.HandoverNotificationCreatorPOMChanged</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Assigned_OS</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>AssignAccountValues</name>
        <label>Assign Account Values</label>
        <locationX>1578</locationX>
        <locationY>2200</locationY>
        <assignmentItems>
            <assignToReference>HandoverAccount.ATV_Currency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Estimated_ATV__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HandoverAccount.Adyen_Platform_Account_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formBackofficeAccountName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HandoverAccount.CommercialContactMerchantLookupAcc__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CommercialContactMerchantLookup__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HandoverAccount.Entities__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Entities__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HandoverAccount.TechnicalContactMerchantLookupAcc__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.TechnicalContactMerchantLookup__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HandoverAccount.TechnicalContactSystemIntegratorLookupAc__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.TechnicalContactSystemIntegratorLookup__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HandoverAccount.Total_Monthly_Transactions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MonthlyTransactionCount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HandoverAccount.Website</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Website_Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShouldAccountBeUpdated</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HandoverAccount.POSIntegrations__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PosIntegrations__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HandoverAccount.Shopper__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ShoppersCountries__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HandoverAccount.BusinessAsUsual__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formBusinessAsUsual</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HandoverAccount.MerchantCoreBusinessModel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MerchantCoreBusinessModel__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HandoverAccount.SubBusinessModel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SubBusinessModel__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HandoverAccount.PreferredLanguage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PreferredLanguage__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HandoverAccount.EcommerceIntegrations__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.EcomIntegrations__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HandoverAccount.WhyTheyNeedAdyen__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.WhyAdyen__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Should_Account_Be_Updated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignLeadOwner</name>
        <label>Assign Lead Owner</label>
        <locationX>1678</locationX>
        <locationY>439</locationY>
        <assignmentItems>
            <assignToReference>ShouldLeadBeUpdated</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HandoverLead.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Sales_Manager__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Desired_Region_updated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignLeadValues</name>
        <label>Assign Lead Values</label>
        <locationX>1573</locationX>
        <locationY>2322</locationY>
        <assignmentItems>
            <assignToReference>HandoverLead.BackOfficeAccountName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BackOffice_Account_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HandoverLead.Business_Model_Lead__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Business_Model__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HandoverLead.CommercialContactMerchantLookupLead__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CommercialContactMerchantLookup__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HandoverLead.CurrentPreviousProvider__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PreviousProvider__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HandoverLead.EstimatedATV__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Estimated_ATV__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HandoverLead.NumberOfTransactionsAMonth__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MonthlyTransactionCount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HandoverLead.TechnicalContactMerchantLookupLead__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.TechnicalContactMerchantLookup__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HandoverLead.TechnicalContactSystemIntegratorLookupLe__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.TechnicalContactSystemIntegratorLookup__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HandoverLead.Website</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Website_Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HandoverLead.WhyAdyen__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.WhyAdyen__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShouldLeadBeUpdated</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HandoverLead.Legal_Entities__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Entities__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HandoverLead.Shoppers_Countries__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ShoppersCountries__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HandoverLead.LeadOrigin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LeadOrigin__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HandoverLead.SDRMarginEstimate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SDRMarginEstimate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HandoverLead.MerchantCoreBusinessModel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MerchantCoreBusinessModel__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HandoverLead.SubBusinessModel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SubBusinessModel__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Should_Account_Be_Updated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_AccountId</name>
        <label>Set AccountId</label>
        <locationX>1344</locationX>
        <locationY>2469</locationY>
        <assignmentItems>
            <assignToReference>HandoverAccount.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_OpportunityId</name>
        <label>Set OpportunityId</label>
        <locationX>1324</locationX>
        <locationY>2671</locationY>
        <assignmentItems>
            <assignToReference>HandoverOpportunity.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetLeadId</name>
        <label>Set Lead Id</label>
        <locationX>1337</locationX>
        <locationY>2920</locationY>
        <assignmentItems>
            <assignToReference>HandoverLead.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Lead__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateLead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Account_AM_CSS_Region</name>
        <label>Update Account AM/CSS Region</label>
        <locationX>1577</locationX>
        <locationY>1919</locationY>
        <assignmentItems>
            <assignToReference>HandoverAccount.AMCXCSSRegion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Desired_AM_Region__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account_Owner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Account_Owner</name>
        <label>Update Account Owner</label>
        <locationX>1581</locationX>
        <locationY>2052</locationY>
        <assignmentItems>
            <assignToReference>HandoverAccount.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AssignToUser__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShouldAccountBeUpdated</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_AM_CSS_Region_on_Account</name>
        <label>Update AM/CSS Region on Account</label>
        <locationX>1298</locationX>
        <locationY>561</locationY>
        <assignmentItems>
            <assignToReference>HandoverAccount.AMCXCSSRegion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Desired_AM_Region__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HandoverAccount.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShouldAccountBeUpdated</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Status_updated_to_IM_Requested</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Account_or_Lead_Handover</name>
        <label>Account or Lead Handover?</label>
        <locationX>1093</locationX>
        <locationY>372</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Status_to_Sales_Requested</targetReference>
            </connector>
            <label>Lead</label>
        </rules>
        <rules>
            <name>Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Desired_Region_updated</targetReference>
            </connector>
            <label>Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assigned_OS</name>
        <label>Assigned OS</label>
        <locationX>1097</locationX>
        <locationY>1299</locationY>
        <defaultConnector>
            <targetReference>Status_updated_to_AM_Requested</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OS_is_Assigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Assigned_OS__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Assigned_OS__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Assigned_OS__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Handover</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Assigned</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notification_OS</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assigned_to_CSM_New_Process</name>
        <label>Assigned to CSM (New Process)</label>
        <locationX>876</locationX>
        <locationY>1790</locationY>
        <defaultConnector>
            <targetReference>Transacting_Completed_User_populated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_CSM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Assigned_CSM__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Assigned_CSM__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Assigned_CSM__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Assigned_CSM__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>SalesSupportUserId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Assigned_CSM__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>UnmanagedUser</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Handover</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Assigned</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_to_Assigned_CSM</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>AssignedToAM</name>
        <label>Assigned To AM (New Process)</label>
        <locationX>1105</locationX>
        <locationY>1776</locationY>
        <defaultConnector>
            <targetReference>Assigned_to_CSM_New_Process</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Assigned_AM__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Assigned_AM__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Assigned_AM__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Assigned_AM__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Account_Management_Opportunity_RT_Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Assigned_AM__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>SalesSupportUserId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Assigned_AM__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>UnmanagedUser</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Handover</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Assigned</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_to_Handover_AM</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>AssignedToAnAM</name>
        <label>Assigned to an AM</label>
        <locationX>1102</locationX>
        <locationY>1600</locationY>
        <defaultConnector>
            <targetReference>AssignedToAM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesAssignedToAnAM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AssignToUser__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AssignToUser__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.AssignToUser__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AssignToUser__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Label.CustomerSuccessUserId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AssignToUser__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>SalesSupportUserId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AssignToUser__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>UnmanagedUser</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Assigned</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notification_Handover_assigned_to_AM</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Desired_Region_updated</name>
        <label>Desired Region updated</label>
        <locationX>1093</locationX>
        <locationY>558</locationY>
        <defaultConnector>
            <targetReference>Status_updated_to_IM_Requested</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesDesired_Region_updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Desired_AM_Region__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Desired_AM_Region__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account__r.AMCXCSSRegion__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Desired_AM_Region__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Desired_AM_Region__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_AM_CSS_Region_on_Account</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>If a Handover is Completed we want to update the related Account or Lead accordingly.</description>
        <name>HandoverCompleted</name>
        <label>Handover Completed?</label>
        <locationX>1099</locationX>
        <locationY>2256</locationY>
        <defaultConnector>
            <targetReference>Should_Account_Be_Updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Handover</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HandoverHasBeenCompleted</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>IM_Assigned</name>
        <label>IM Assigned</label>
        <locationX>1097</locationX>
        <locationY>956</locationY>
        <defaultConnector>
            <targetReference>Pom_Assigned</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesIM_Assigned</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AssignedIm__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AssignedIm__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.AssignedIm__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IM__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IM__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.IM__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Assigned</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Handover_notification_IM</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>IS_account_AM_CSS_Region_Populated</name>
        <label>IS account AM/CSS Region Populated?</label>
        <locationX>1316</locationX>
        <locationY>2002</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesISDesiredAMCSSRegionPopulated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Desired_AM_Region__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Handover</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_AM_CSS_Region</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>Record_Type_is_new_Handover</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Handover</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Owner</targetReference>
            </connector>
            <label>No - RT is not new Handover</label>
        </rules>
    </decisions>
    <decisions>
        <name>LeadOrAccount</name>
        <label>Lead or Account?</label>
        <locationX>1335</locationX>
        <locationY>2257</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignAccountValues</targetReference>
            </connector>
            <label>Account</label>
        </rules>
        <rules>
            <name>Lead1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignLeadValues</targetReference>
            </connector>
            <label>Lead</label>
        </rules>
    </decisions>
    <decisions>
        <name>Pom_Assigned</name>
        <label>Pom Assigned</label>
        <locationX>1094</locationX>
        <locationY>1137</locationY>
        <defaultConnector>
            <targetReference>Assigned_OS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesPom_Assigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AssignedPom__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AssignedPom__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.AssignedPom__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Assigned</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Handover_notification_POM</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_Account_Be_Updated</name>
        <label>Should Account Be Updated</label>
        <locationX>1097</locationX>
        <locationY>2460</locationY>
        <defaultConnector>
            <targetReference>Should_Opportunity_Be_updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ShouldAccountBeUpdated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_AccountId</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_Opportunity_Be_updated</name>
        <label>Should Opportunity Be Updated</label>
        <locationX>1097</locationX>
        <locationY>2673</locationY>
        <defaultConnector>
            <targetReference>ShouldLeadBeUpdated1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesShould_Opportunity_Be_updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ShouldOpportunityBeUpdated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_OpportunityId</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>ShouldLeadBeUpdated1</name>
        <label>Should Lead Be Updated</label>
        <locationX>1094</locationX>
        <locationY>2902</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ShouldLeadBeUpdated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetLeadId</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_to_Sales_Requested</name>
        <label>Status to Sales Requested?</label>
        <locationX>1288</locationX>
        <locationY>373</locationY>
        <defaultConnector>
            <targetReference>Desired_Region_updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_SalesRequested</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales Requested</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EmailToSalesHandoverQueue</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Assigned</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sales_Manager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_to_Sales_Manager</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_updated_to_AM_Requested</name>
        <label>Status updated to AM Requested</label>
        <locationX>1097</locationX>
        <locationY>1449</locationY>
        <defaultConnector>
            <targetReference>AssignedToAnAM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesStatus_updated_to_AM_Requested</name>
            <conditionLogic>1 AND 2 AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AM/CSM Requested</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Desired_AM_Region__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Desired_AM_Region__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notification_assignment_CX_Queue</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_updated_to_IM_Requested</name>
        <label>Status updated to IM Requested</label>
        <locationX>1100</locationX>
        <locationY>778</locationY>
        <defaultConnector>
            <targetReference>IM_Assigned</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesStatus_updated_to_IM_Requested</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IM/POM Requested</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_to_Handover_IM_POM_Queue</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Transacting_Completed_User_populated</name>
        <label>Transacting, Completed + User populated</label>
        <locationX>1106</locationX>
        <locationY>2002</locationY>
        <defaultConnector>
            <targetReference>HandoverCompleted</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesTransacting_Completed_User_populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AssignToUser__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IS_account_AM_CSS_Region_Populated</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Email Alert Handover Has Been Completed from flow V10 copied</description>
    <environments>Default</environments>
    <formulas>
        <name>formBackofficeAccountName</name>
        <dataType>String</dataType>
        <expression>IF(
{!$Record.Account__r.RecordType.DeveloperName} = &apos;Business_Account&apos;,
{!$Record.Account__r.Adyen_Platform_Account_Code__c},
{!$Record.BackOffice_Account_Name__c}
)</expression>
    </formulas>
    <formulas>
        <name>formBusinessAsUsual</name>
        <dataType>String</dataType>
        <expression>IF(
ISBLANK({!$Record.BusinessAsUsual__c}),
{!$Record.Account__r.BusinessAsUsual__c},
{!$Record.BusinessAsUsual__c}
)</expression>
    </formulas>
    <formulas>
        <description>Used to check if the recordType of the current record is CX, AM or AMCSM</description>
        <name>RecordType_CX_AM_AMCSM</name>
        <dataType>Boolean</dataType>
        <expression>OR({!$Record.RecordType.DeveloperName} = &apos;SalesToCx&apos;, {!$Record.RecordType.DeveloperName} = &apos;SalesToAM&apos;, {!$Record.RecordType.DeveloperName} = &apos;AMCSMtoAMCSM&apos;)</expression>
    </formulas>
    <formulas>
        <name>SalesSupportUserId</name>
        <dataType>String</dataType>
        <expression>{!$Label.SalesSupportUserId}</expression>
    </formulas>
    <formulas>
        <name>UnmanagedUser</name>
        <dataType>String</dataType>
        <expression>{!$Label.UnmanagedUser}</expression>
    </formulas>
    <interviewLabel>After-Save Updates Handover {!$Flow.CurrentDateTime}</interviewLabel>
    <label>After-Save Updates Handover</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>1577</locationX>
        <locationY>2484</locationY>
        <connector>
            <targetReference>Should_Opportunity_Be_updated</targetReference>
        </connector>
        <inputReference>HandoverAccount</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>1560</locationX>
        <locationY>2682</locationY>
        <connector>
            <targetReference>ShouldLeadBeUpdated1</targetReference>
        </connector>
        <inputReference>HandoverOpportunity</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Tasks</name>
        <label>Update Tasks</label>
        <locationX>1770</locationX>
        <locationY>2057</locationY>
        <connector>
            <targetReference>HandoverCompleted</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Complete the Handover</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateLead</name>
        <label>Update Lead</label>
        <locationX>1571</locationX>
        <locationY>2920</locationY>
        <inputReference>HandoverLead</inputReference>
    </recordUpdates>
    <start>
        <locationX>970</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Account_or_Lead_Handover</targetReference>
        </connector>
        <object>Handover__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>HandoverAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>HandoverLead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>HandoverOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>ShouldAccountBeUpdated</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ShouldLeadBeUpdated</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ShouldOpportunityBeUpdated</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
