force-app/main/default/flows/AfterSaveUpdatesClaim.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>AlternativeSplitHasBeenChosen</name>
        <label>Alternative Split Has Been Chosen</label>
        <locationX>50</locationX>
        <locationY>1247</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>txtAlternativeSplitChosenNotification</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>varEligibleClaimMemberEmailAdresses</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>txtsubjectline</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SubmitApproval</name>
        <label>Submit Approval</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>WasAnAlternativeSplitChosen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <elementReference>$Label.Lock</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>AssignEmailAdresses</name>
        <label>Assign Email Adresses</label>
        <locationX>138</locationX>
        <locationY>1031</locationY>
        <assignmentItems>
            <assignToReference>varEligibleClaimMemberEmailAdresses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopClaimMembers.User__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopClaimMembers</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>ClaimIsApproved</name>
        <label>Claim is approved</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>WasAnAlternativeSplitChosen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Approved</defaultConnectorLabel>
        <rules>
            <name>ClaimApproved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NumberOfClaimMembersApproved__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SubmitApproval</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Claim Approved</label>
        </rules>
    </decisions>
    <decisions>
        <name>WasAnAlternativeSplitChosen</name>
        <label>Was An Alternative Split Chosen?</label>
        <locationX>182</locationX>
        <locationY>671</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AlternativeSplitChosen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AlternativeSplit__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetEligibleClaimMembers</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Alternative Split Chosen</label>
        </rules>
    </decisions>
    <description>Update: Alternative Split Chosen Notification added by Dorka.</description>
    <environments>Default</environments>
    <interviewLabel>After-Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>After-Save Updates Claim</label>
    <loops>
        <name>LoopClaimMembers</name>
        <label>Loop Claim Members</label>
        <locationX>50</locationX>
        <locationY>911</locationY>
        <collectionReference>GetEligibleClaimMembers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignEmailAdresses</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>AlternativeSplitHasBeenChosen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetEligibleClaimMembers</name>
        <label>Get Eligible Claim Members</label>
        <locationX>50</locationX>
        <locationY>791</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopClaimMembers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EligibleForClaim__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Claim__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ClaimMembers__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ClaimIsApproved</targetReference>
        </connector>
        <object>Claim__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>txtAlternativeSplitChosenNotification</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-family: tahoma; font-size: 14px; color: rgb(8, 0, 0);&quot;&gt;Hello!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(8, 0, 0);&quot;&gt;Just a heads up that on the following Account: &lt;/span&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(8, 0, 0);&quot;&gt;{!$Record.Account__r.Name} &lt;/strong&gt;&lt;span style=&quot;font-size: 14px; color: rgb(8, 0, 0);&quot;&gt;an &lt;/span&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(8, 0, 0);&quot;&gt;Alternative Split has been chosen by &lt;/strong&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;{!$User.FirstName} {!$User.LastName}&lt;/strong&gt;&lt;span style=&quot;font-size: 14px; color: rgb(8, 0, 0);&quot;&gt;. This has implications on your split percentage as well. If you have any concern regarding the alternative split, please &lt;/span&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(8, 0, 0);&quot;&gt;make sure to resolve it before end of this quarter.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(8, 0, 0);&quot;&gt;In case of questions, you can reach us at: salesforce-claims@adyen.com.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(8, 0, 0);&quot;&gt;Best,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(8, 0, 0);&quot;&gt;Commercial Operations &amp;amp; Technology Team&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>txtrichtextalternativesplit</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;test&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>txtsubjectline</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Attention! An Alternative Split has been chosen on the following account: {!$Record.Account__r.Name}.</text>
    </textTemplates>
    <variables>
        <name>AlternativeSplitChosenSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GetEligibleRegularClaimMembers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ClaimMembers__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varEligibleClaimMemberEmailAdresses</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
