force-app/main/default/flows/After_Save_Updates_Training_Event_Occurrence.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Has_Training_Event_changed</name>
        <label>Has Training Event changed?</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.ILT_Training__Training_Event__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.ILT_Training__Training_Event__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Training_Occurrence_Name</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>forTrainingOccurrenceName</name>
        <dataType>String</dataType>
        <expression>{!$Record.Training_Name__c} + &apos; -  &apos; + {!$Record.ILT_Training__Training_Event__r.Name}</expression>
    </formulas>
    <interviewLabel>After-Save Updates Training Event Occurrence {!$Flow.CurrentDateTime}</interviewLabel>
    <label>After-Save Updates Training Event Occurrence</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Training_Occurrence_Name</name>
        <label>Update Training Occurrence Name</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Training_Name__c</field>
            <value>
                <elementReference>forTrainingOccurrenceName</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Has_Training_Event_changed</targetReference>
        </connector>
        <object>ILT_Training__Training_Event_Occurrence__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
