force-app/main/default/flows/AfterSaveUpdatesKeyContact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>Decide_on_new_or_updated_existing</name>
        <label>Decide on new or updated existing</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Evaluate Next</defaultConnectorLabel>
        <rules>
            <name>NewKeyContactOrUpdatedKeyContactArea</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.KeyContactArea__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.KeyContactArea__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>KeyContact_c_0</targetReference>
            </connector>
            <label>New Key Contact or Updated Key Contact Area</label>
        </rules>
    </decisions>
    <interviewLabel>After-Save Updates Key Contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>After-Save Updates Key Contact</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>KeyContact_c_0</name>
        <label>Key Contact Area</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>KeyContactArea__c</field>
            <value>
                <elementReference>$Record.KeyContactArea__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decide_on_new_or_updated_existing</targetReference>
        </connector>
        <object>KeyContact__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
