force-app/main/default/flows/BatchEmailHandoverNotProgressing.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>EmailHandoverNotProgressing</name>
        <label>Email Handover Not Progressing</label>
        <locationX>558</locationX>
        <locationY>48</locationY>
        <actionName>Handover__c.EmailHandoverNotProgressing</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Last_Owner_Update_was_14_days_ago</name>
        <label>Last Owner Update was 14 days ago</label>
        <locationX>390</locationX>
        <locationY>51</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TriggerDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>forOwnedByUser</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EmailHandoverNotProgressing</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>forOwnedByUser</name>
        <dataType>Boolean</dataType>
        <expression>LEFT({!$Record.OwnerId},3)=&quot;005&quot;</expression>
    </formulas>
    <formulas>
        <name>TriggerDate</name>
        <dataType>Date</dataType>
        <expression>{!$Record.LastOwnerUpdate__c} + 14</expression>
    </formulas>
    <interviewLabel>Batch Email Handover Not Progressing {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Batch Email Handover Not Progressing</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>49</locationY>
        <connector>
            <targetReference>Last_Owner_Update_was_14_days_ago</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LastOwnerUpdate__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <object>Handover__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2020-02-26</startDate>
            <startTime>07:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
