force-app/main/default/flows/BatchAccountReminderContractEndDate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ContractEndDate3090DaysFuture</name>
        <label>Contract End Date 30/90 days Future</label>
        <locationX>50</locationX>
        <locationY>360</locationY>
        <actionName>AccountPlan__c.CommitmentEndDateExpiring</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>ContractEndDateExpired</name>
        <label>Contract End Date Expired</label>
        <locationX>314</locationX>
        <locationY>360</locationY>
        <actionName>AccountPlan__c.CommitmentEndDateExpired</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>CheckMonthsForReminder</name>
        <label>Check months for reminder</label>
        <locationX>314</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Reminder90DaysFuture</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ContractEndDate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ForContractEndDate90DaysFuture</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ContractEndDate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ForContractEndDate30DaysFuture</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ContractEndDate3090DaysFuture</targetReference>
            </connector>
            <label>Reminder 90 days Future</label>
        </rules>
        <rules>
            <name>ReminderPastDate</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ContractEndDate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ForContractEndDatePast</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ContractEndDate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ForContractEndDate90DaysPast</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ContractEndDateExpired</targetReference>
            </connector>
            <label>Reminder Past Date</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ForContractEndDate30DaysFuture</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + 30</expression>
    </formulas>
    <formulas>
        <name>ForContractEndDate90DaysFuture</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + 90</expression>
    </formulas>
    <formulas>
        <name>ForContractEndDate90DaysPast</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} - 90</expression>
    </formulas>
    <formulas>
        <name>ForContractEndDatePast</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} - 1</expression>
    </formulas>
    <interviewLabel>Batch Account - Reminder Contract End Date {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Batch Account - Reminder Contract End Date</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CheckMonthsForReminder</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContractEndDate__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2021-08-18</startDate>
            <startTime>02:35:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
</Flow>
