force-app/main/default/flows/BatchCalculateGapBMBOADLiveAccounts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>CountSalesChannelsLostOpps</name>
        <label>Count Sales Channels Lost Opps</label>
        <locationX>490</locationX>
        <locationY>756</locationY>
        <assignmentItems>
            <assignToReference>countPlatforms</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>forPlatformsCountLost</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>countUnifiedCommerce</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>forUnifiedCommerceCountLost</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>countFinancialServices</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>forFinancialServicesCountLost</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>countDigital</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>forDigitalCountLost</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCountOpportunities</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopThroughLostOpportunities</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CountSalesChannelsOpenOpps</name>
        <label>Count Sales Channels Open Opps</label>
        <locationX>138</locationX>
        <locationY>756</locationY>
        <assignmentItems>
            <assignToReference>countPlatforms</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>forPlatformsCountOpen</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>countUnifiedCommerce</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>forUnifiedCommerceCountOpen</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>countFinancialServices</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>forFinancialServicesCountOpen</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>countDigital</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>forDigitalCountOpen</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCountOpportunities</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopThroughOpenOpportunities</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>BusinessModelShouldBeUpdated</name>
        <label>Business Model Should Be Updated?</label>
        <locationX>226</locationX>
        <locationY>1068</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesUpdate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BusinessModelBasedOnAdyenData__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>forBusinessModelBasedOnAdyenData</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateBusinessModelBasedOnAdyenDataOnAccount</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>UseLostOrOpenAndWonOpportunities</name>
        <label>Use Lost or Open &amp; Won Opportunities?</label>
        <locationX>226</locationX>
        <locationY>396</locationY>
        <defaultConnector>
            <targetReference>GetRelatedLostOpportunities</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Lost Opportunities</defaultConnectorLabel>
        <rules>
            <name>OpenAndWonOpportunities</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CheckForAtLeastOneOpenOrWonOpportunity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetRelatedOpenAndWonOpportunities</targetReference>
            </connector>
            <label>Open &amp; Won Opportunities</label>
        </rules>
    </decisions>
    <description>Batch flow to do a one-time calculation of BMBOAD for Live Accounts that have no value</description>
    <environments>Default</environments>
    <formulas>
        <name>forBusinessModelBasedOnAdyenData</name>
        <dataType>String</dataType>
        <expression>IF(
{!countFinancialServices} = {!varCountOpportunities}, TEXT({!$Record.MerchantCoreBusinessModel__c}),
IF(
{!countPlatforms} / ({!varCountOpportunities} - {!countFinancialServices}) &gt;= 0.5, &quot;Platforms&quot;,
IF(
{!countUnifiedCommerce} &gt; 0, &quot;Unified Commerce&quot;,
IF(
{!countDigital} &gt; 0, &quot;Digital&quot;,
&quot;&quot;))))</expression>
    </formulas>
    <formulas>
        <name>forDigitalCountLost</name>
        <dataType>Number</dataType>
        <expression>CASE({!LoopThroughLostOpportunities.Sales_channel__c}, 
&quot;Ecom&quot;, 1,
&quot;Mobile&quot;, 1,
&quot;&quot;, 1,
0 )</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>forDigitalCountOpen</name>
        <dataType>Number</dataType>
        <expression>CASE({!LoopThroughOpenOpportunities.Sales_channel__c}, 
&quot;Ecom&quot;, 1,
&quot;Mobile&quot;, 1,
&quot;&quot;, 1,
0 )</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>forFinancialServicesCountLost</name>
        <dataType>Number</dataType>
        <expression>CASE(
{!LoopThroughLostOpportunities.Sales_channel__c}, &quot;Issuing&quot;, 1, 0)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>forFinancialServicesCountOpen</name>
        <dataType>Number</dataType>
        <expression>CASE(
{!LoopThroughOpenOpportunities.Sales_channel__c}, &quot;Issuing&quot;, 1, 0)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>forPlatformsCountLost</name>
        <dataType>Number</dataType>
        <expression>CASE(
{!LoopThroughLostOpportunities.Sales_channel__c}, &quot;Adyen for Platforms&quot;, 1, 0)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>forPlatformsCountOpen</name>
        <dataType>Number</dataType>
        <expression>CASE(
{!LoopThroughOpenOpportunities.Sales_channel__c}, &quot;Adyen for Platforms&quot;, 1, 0)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>forUnifiedCommerceCountLost</name>
        <dataType>Number</dataType>
        <expression>CASE(
{!LoopThroughLostOpportunities.Sales_channel__c}, &quot;POS&quot;, 1, 
&quot;Omnichannel&quot;, 1,
0)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>forUnifiedCommerceCountOpen</name>
        <dataType>Number</dataType>
        <expression>CASE(
{!LoopThroughOpenOpportunities.Sales_channel__c}, &quot;POS&quot;, 1, 
&quot;Omnichannel&quot;, 1,
0)</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Batch - Calculate Gap BMBOAD Live Accounts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Batch - Calculate Gap BMBOAD Live Accounts</label>
    <loops>
        <name>LoopThroughLostOpportunities</name>
        <label>Loop Through Lost Opportunities</label>
        <locationX>402</locationX>
        <locationY>636</locationY>
        <collectionReference>GetRelatedLostOpportunities</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CountSalesChannelsLostOpps</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>BusinessModelShouldBeUpdated</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopThroughOpenOpportunities</name>
        <label>Loop Through Open Opportunities</label>
        <locationX>50</locationX>
        <locationY>636</locationY>
        <collectionReference>GetRelatedOpenAndWonOpportunities</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CountSalesChannelsOpenOpps</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>BusinessModelShouldBeUpdated</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>CheckForAtLeastOneOpenOrWonOpportunity</name>
        <label>Check For At Least One Open or Won Opportunity</label>
        <locationX>226</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UseLostOrOpenAndWonOpportunities</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRelatedLostOpportunities</name>
        <label>Get Related Lost Opportunities</label>
        <locationX>402</locationX>
        <locationY>516</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopThroughLostOpportunities</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRelatedOpenAndWonOpportunities</name>
        <label>Get Related Open &amp; Won Opportunities</label>
        <locationX>50</locationX>
        <locationY>516</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopThroughOpenOpportunities</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateBusinessModelBasedOnAdyenDataOnAccount</name>
        <label>Update Business Model Based on Adyen Data on Account</label>
        <locationX>94</locationX>
        <locationY>1188</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BusinessModelBasedOnAdyenData__c</field>
            <value>
                <elementReference>forBusinessModelBasedOnAdyenData</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>100</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CheckForAtLeastOneOpenOrWonOpportunity</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3</filterLogic>
        <filters>
            <field>MonthlySchedule__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>BusinessModelBasedOnAdyenData__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Count_of_opportunities__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <object>Account</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-01-30</startDate>
            <startTime>16:41:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>collectionRecipient</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>countDigital</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>countFinancialServices</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>countPlatforms</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>countUnifiedCommerce</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varCountOpportunities</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
