force-app/main/default/flows/Batch_SetMyTrailheadCustomPermissionSet.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>MyTrailhead_Permission_Assigned_Today</name>
        <label>MyTrailhead Permission Assigned Today?</label>
        <locationX>182</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>dateValueSystemModstamp</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PermissionSetId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.MyTrailheadEndUserId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetCustomPermissionSet</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Sets the custom permission set that allows Users to see the Assigned Badges, New Learnings and Recommended Learning components</description>
    <formulas>
        <name>dateValueSystemModstamp</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!$Record.SystemModstamp})</expression>
    </formulas>
    <interviewLabel>Batch - SetMyTrailheadCustomPermissionSet {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Batch - SetMyTrailheadCustomPermissionSet</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>SetCustomPermissionSet</name>
        <label>AssignMyTrailheadCustomPermissionSet</label>
        <locationX>50</locationX>
        <locationY>396</locationY>
        <inputAssignments>
            <field>AssigneeId</field>
            <value>
                <elementReference>$Record.AssigneeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PermissionSetId</field>
            <value>
                <elementReference>$Label.MyTrailhead_User_Custom_Permission</elementReference>
            </value>
        </inputAssignments>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>MyTrailhead_Permission_Assigned_Today</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssigneeId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>PermissionSetAssignment</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-01-03</startDate>
            <startTime>16:02:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
