force-app/main/default/flows/BatchStuckMyTrailheadBadgesNotifications.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SendNotification</name>
        <label>Send Notification</label>
        <locationX>182</locationX>
        <locationY>852</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>GetUserBadgeNotificationId.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>varNotificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>varNotificationTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>varNotificationRecipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>AddUserAsRecipient</name>
        <label>Add User As Recipient</label>
        <locationX>182</locationX>
        <locationY>732</locationY>
        <assignmentItems>
            <assignToReference>varNotificationRecipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.trailheadapp__User__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SendNotification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignStuckInAssignedText</name>
        <label>Assign &apos;Stuck In Assigned&apos; Text</label>
        <locationX>50</locationX>
        <locationY>516</locationY>
        <assignmentItems>
            <assignToReference>varNotificationTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue> Don&apos;t forget to win that badge!</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNotificationBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>A little while ago, the {!$Record.trailheadapp__Badge__r.Name} MyTrailhead Badge was assigned to you to help you and teach you something new. Do not forget to start with your training and win that badge. You can do it!</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddUserAsRecipient</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignStuckInInProgressText</name>
        <label>Assign &apos;Stuck In In-Progress&apos; Text</label>
        <locationX>314</locationX>
        <locationY>516</locationY>
        <assignmentItems>
            <assignToReference>varNotificationTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>So close!</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNotificationBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>You have the {!$Record.trailheadapp__Badge__r.Name} MyTrailhead training assigned to you, but yet to be completed. Do not miss out on learning something new and win that badge!</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddUserAsRecipient</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>UserBadgeStatusAndDate</name>
        <label>User Badge Status And Date</label>
        <locationX>182</locationX>
        <locationY>396</locationY>
        <defaultConnectorLabel>Not Stuck or Inactive User</defaultConnectorLabel>
        <rules>
            <name>StuckInAssignmentOneWeek</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.trailheadapp__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Assigned</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.trailheadapp__Last_Attempted_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>forWeekAgo</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.trailheadapp__User__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>AssignStuckInAssignedText</targetReference>
            </connector>
            <label>Stuck In Assignment One Week</label>
        </rules>
        <rules>
            <name>StuckInAssignmentOneMonth</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.trailheadapp__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Assigned</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.trailheadapp__Last_Attempted_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>forMonthAgo</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.trailheadapp__User__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignStuckInAssignedText</targetReference>
            </connector>
            <label>Stuck In Assignment One Month</label>
        </rules>
        <rules>
            <name>StuckInInProgressOneWeek</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.trailheadapp__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In-Progress</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Last_Attempted_Date_Formula__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>forWeekAgo</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.trailheadapp__User__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignStuckInInProgressText</targetReference>
            </connector>
            <label>Stuck In In-Progress One Week</label>
        </rules>
    </decisions>
    <description>Last Update: Ensure that Notification is only sent when the recipient is an active user</description>
    <formulas>
        <name>forMonthAgo</name>
        <dataType>Date</dataType>
        <expression>TODAY()-30</expression>
    </formulas>
    <formulas>
        <name>forToday</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>forWeekAgo</name>
        <dataType>Date</dataType>
        <expression>TODAY()-7</expression>
    </formulas>
    <interviewLabel>Batch Stuck MyTrailhead Badges Notifications {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Batch Stuck MyTrailhead Badges Notifications</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetUserBadgeNotificationId</name>
        <label>Get User Badge Notification Id</label>
        <locationX>182</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UserBadgeStatusAndDate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>UserBadgeReminder</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetUserBadgeNotificationId</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>trailheadapp__User__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>trailheadapp__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In-Progress</stringValue>
            </value>
        </filters>
        <filters>
            <field>trailheadapp__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Assigned</stringValue>
            </value>
        </filters>
        <object>trailheadapp__User_Badge__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2021-11-03</startDate>
            <startTime>11:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>myUser</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0053W000000NT4dQAG</stringValue>
        </value>
    </variables>
    <variables>
        <name>varNotificationBody</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varNotificationRecipients</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varNotificationTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varUserBadgeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>a0P3W00000SxGszUAF</stringValue>
        </value>
    </variables>
</Flow>
