force-app/main/default/flows/Before_Save_Updates_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Case_Owner_is_Claim_Support</name>
        <label>Case Owner is Claim Support</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.ClaimSupport</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Case_Owner_is_Nordics_Cases</name>
        <label>Case Owner is Nordics Cases</label>
        <locationX>440</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Nordics_Cases</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>RecordType_Choice</name>
        <label>RecordType Choice</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RecordType_is_Support</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Support</stringValue>
                </rightValue>
            </conditions>
            <label>RecordType is Support</label>
        </rules>
        <rules>
            <name>RecordType_is_LPM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LPM</stringValue>
                </rightValue>
            </conditions>
            <label>RecordType is LPM</label>
        </rules>
        <rules>
            <name>ReccordType_is_Claim_Support</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Claim_Support</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Owner_is_Claim_Support</targetReference>
            </connector>
            <label>ReccordType is Claim Support</label>
        </rules>
        <rules>
            <name>RecordType_is_Nordics_Cases</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Nordics_Cases</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Owner_is_Nordics_Cases</targetReference>
            </connector>
            <label>RecordType is Nordics Cases</label>
        </rules>
    </decisions>
    <description>Case Owner is Commercial Tools Decision Node deleted.</description>
    <environments>Default</environments>
    <interviewLabel>Before-Save Updates Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Before-Save Updates Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>RecordType_Choice</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>SupportRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>&apos;00G1w000004clmIEAQ&apos;</stringValue>
        </value>
    </variables>
</Flow>
