force-app/main/default/flows/BeforeSaveUpdatesExceptionRequest.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>UpdateMessageToApprover</name>
        <label>Update &apos;Message to Approver&apos;</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.MessageToApprover__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>textMessageToApprover</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>NewRecord</name>
        <label>New Record?</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesNewRecord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>forNewRecord</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateMessageToApprover</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <description>Checks whether record is new.</description>
        <name>forNewRecord</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Before {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Before-Save Updates Exception Request</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>NewRecord</targetReference>
        </connector>
        <object>ExceptionRequest__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>textMessageToApprover</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;b style=&quot;color: rgb(208, 12, 12);&quot;&gt;By approving this Exception Request, you acknowledge that this Exception Request is sitting outside the regular commission flow for valid reasons and is in line with Adyen&apos;s best interests.&lt;/b&gt;&lt;/p&gt;</text>
    </textTemplates>
</Flow>
