force-app/main/default/flows/BeforeSaveUpdates_ClaimMember.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>CommercialPillarSet</name>
        <label>Commercial Pillar Set?</label>
        <locationX>380</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesCommercialPillarSet</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CommercialPillar__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetCommissionPayoutMetadata</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>RecordFound</name>
        <label>Record Found?</label>
        <locationX>182</locationX>
        <locationY>551</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesRecordFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCommissionPayoutMetadata</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdatePayoutPercentage</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Before-Save Updates Claim Member {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Before-Save Updates Claim Member</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetCommissionPayoutMetadata</name>
        <label>Get Commission Payout Metadata</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RecordFound</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CommercialPillar__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CommercialPillar__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CommissionPayout__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdatePayoutPercentage</name>
        <label>Update Payout Percentage</label>
        <locationX>50</locationX>
        <locationY>671</locationY>
        <inputAssignments>
            <field>PayoutPercentage__c</field>
            <value>
                <elementReference>GetCommissionPayoutMetadata.PayoutPercentage__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CommercialPillarSet</targetReference>
        </connector>
        <object>ClaimMembers__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
