force-app/main/default/flows/BeforeSaveUpdatesOpportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>AccountManager</name>
        <label>Account Manager</label>
        <locationX>578</locationX>
        <locationY>2003</locationY>
        <assignmentItems>
            <assignToReference>$Record.OpportunitySource__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AM Generated</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Clear_Referral_Added_Date</name>
        <label>Clear Referral Added Date</label>
        <locationX>743</locationX>
        <locationY>1103</locationY>
        <assignmentItems>
            <assignToReference>$Record.ReferralAddedDate__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Is_New</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Partner_Manager</name>
        <label>Partner Manager</label>
        <locationX>314</locationX>
        <locationY>2003</locationY>
        <assignmentItems>
            <assignToReference>$Record.OpportunitySource__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PM Generated</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>SalesAllOtherProfiles</name>
        <label>Sales / All other profiles</label>
        <locationX>842</locationX>
        <locationY>2003</locationY>
        <assignmentItems>
            <assignToReference>$Record.OpportunitySource__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opportunity_Primary_Contact__r.InitialLeadSource__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>SDR_Source</name>
        <label>SDR Source</label>
        <locationX>50</locationX>
        <locationY>2003</locationY>
        <assignmentItems>
            <assignToReference>$Record.OpportunitySource__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SDR Outbound</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Referral_Added_Date</name>
        <label>Set Referral Added Date</label>
        <locationX>1007</locationX>
        <locationY>1103</locationY>
        <assignmentItems>
            <assignToReference>$Record.ReferralAddedDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_New</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetPartnerReferralContactOwner</name>
        <label>Set Partner Referral Contact Owner</label>
        <locationX>941</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>$Record.PartnerReferralContactOwner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PartnerReferralContact__r.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Refferal_By_Account_Updated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetTerminalPBID</name>
        <label>Set Terminal PB ID</label>
        <locationX>941</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.TerminalPriceBook</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NewOrUpdatedPartnerReferralContact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateExistingBusiness</name>
        <label>Existing Business</label>
        <locationX>908</locationX>
        <locationY>1595</locationY>
        <assignmentItems>
            <assignToReference>$Record.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Existing Business</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OpportunitySourcePopulated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateNewBusiness</name>
        <label>New Business</label>
        <locationX>644</locationX>
        <locationY>1595</locationY>
        <assignmentItems>
            <assignToReference>$Record.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New Business</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OpportunitySourcePopulated</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_New</name>
        <label>Is New?</label>
        <locationX>1073</locationX>
        <locationY>1379</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateOpportunityType</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Refferal_By_Account_Updated</name>
        <label>Is Refferal By Account Updated?</label>
        <locationX>1073</locationX>
        <locationY>887</locationY>
        <defaultConnector>
            <targetReference>Is_New</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesIs_Refferal_By_Account_Updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Referral_by_account__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Referral_by_account__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ReferralAddedDate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.ReferralAddedDate__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IsPartnerReferral_null</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsPartnerReferral_null</name>
        <label>IsPartnerReferral null</label>
        <locationX>875</locationX>
        <locationY>995</locationY>
        <defaultConnector>
            <targetReference>Set_Referral_Added_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesIsPartnerReferral_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Referral_by_account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Referral_Added_Date</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>NewOrUpdatedPartnerReferralContact</name>
        <label>New or Updated Partner Referral Contact?</label>
        <locationX>1073</locationX>
        <locationY>587</locationY>
        <defaultConnector>
            <targetReference>Is_Refferal_By_Account_Updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesNewOrUpdatedPartnerReferralContact</name>
            <conditionLogic>(1 AND 2 AND 3) OR (4 AND 5 AND 6)</conditionLogic>
            <conditions>
                <leftValueReference>forIsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PartnerReferralContact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PartnerReferralContactOwner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PartnerReferralContact__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PartnerReferralContactOwner__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ConvertedAutomationExecuted__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetPartnerReferralContactOwner</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if the Opportunity Source is already poppulated (Manually or by lead conversion)</description>
        <name>OpportunitySourcePopulated</name>
        <label>Opportunity Source Populated?</label>
        <locationX>776</locationX>
        <locationY>1787</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NoPopulated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OpportunitySource__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RunningUserProfile</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>RunningUserProfile</name>
        <label>Running User Profile</label>
        <locationX>446</locationX>
        <locationY>1895</locationY>
        <defaultConnector>
            <targetReference>SalesAllOtherProfiles</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Sales/Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SDR_Profile</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Adyen v2 Salessupport</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Adyen v2 Salessupport Lead</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ConvertedFromLead__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SDR_Source</targetReference>
            </connector>
            <label>SDR Profile</label>
        </rules>
        <rules>
            <name>PM_Profile</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Adyen v2 Partnership</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Adyen v2 Partnership Lead</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ConvertedFromLead__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Partner_Manager</targetReference>
            </connector>
            <label>PM Profile</label>
        </rules>
        <rules>
            <name>AccountManagement</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Adyen v2 Account Manager</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Adyen v2 Account Manager Lead</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ConvertedFromLead__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AccountManager</targetReference>
            </connector>
            <label>Account Management</label>
        </rules>
    </decisions>
    <decisions>
        <name>SetTerminalPriceBook</name>
        <label>Set Terminal Price Book</label>
        <locationX>1073</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>NewOrUpdatedPartnerReferralContact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SetTerminalPB</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AccountManagementOpportunity</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SalesOpportunity</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Pricebook2Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Label.TerminalPriceBook</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.HasOpportunityLineItem</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetTerminalPBID</targetReference>
            </connector>
            <label>Set Terminal PB</label>
        </rules>
    </decisions>
    <decisions>
        <name>UpdateOpportunityType</name>
        <label>Update Opportunity Type</label>
        <locationX>776</locationX>
        <locationY>1487</locationY>
        <defaultConnector>
            <targetReference>UpdateExistingBusiness</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Existing Business</defaultConnectorLabel>
        <rules>
            <name>NewBusiness</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Account_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Suspect</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Account_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prospect</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Account_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Onboarding</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Account_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Churned</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateNewBusiness</targetReference>
            </connector>
            <label>New Business</label>
        </rules>
    </decisions>
    <description>Removed SalesLoft1 package references.</description>
    <environments>Default</environments>
    <formulas>
        <name>forIsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>forNowMinus30Days</name>
        <dataType>Date</dataType>
        <expression>NOW() - 30</expression>
    </formulas>
    <interviewLabel>Before Save Updates Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Before-Save Updates Opportunity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>947</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SetTerminalPriceBook</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
