force-app/main/default/flows/BeforeSaveUpdatesRelationship.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_other_fields</name>
        <label>Assign other fields</label>
        <locationX>314</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>$Record.Partner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Partner_Type.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.PartnerTypeName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.UniqueIdentifier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forExternalId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Non_referral_Relationship_RT.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.RecordType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Non-Referral</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.PartnerManager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PartnerType__r.Account__r.OwnerId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_other_fields_referral_rt</name>
        <label>Assign other fields (referral rt)</label>
        <locationX>50</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>$Record.UniqueIdentifier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forExternalIdReferral</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Referral_Relationship_RT.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Is_Record_Type_filled</name>
        <label>Is Record Type filled as Referral?</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Get_Non_referral_Relationship_RT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Referral</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Referral_Relationship_RT</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>forExternalId</name>
        <dataType>String</dataType>
        <expression>IF( 
AND(NOT(ISBLANK({!$Record.Account__c})),ISBLANK({!$Record.Opportunity__c})), 
{!$Record.Account__c}+&quot;-&quot;+{!$Record.PartnerType__c}, IF(
NOT(ISBLANK({!$Record.Lead__c})), 
{!$Record.Lead__c}+&quot;-&quot;+{!$Record.PartnerType__c}, 
IF(
NOT(ISBLANK({!$Record.Opportunity__c})), 
{!$Record.Account__c}+&quot;-&quot;+{!$Record.PartnerType__c}+&quot;-&quot;+{!$Record.Opportunity__c},&quot;&quot;)))</expression>
    </formulas>
    <formulas>
        <name>forExternalIdReferral</name>
        <dataType>String</dataType>
        <expression>IF( AND(NOT(ISBLANK({!$Record.Opportunity__c})), ISBLANK({!$Record.PartnerType__c})), &apos;Referral-&apos;+{!$Record.Opportunity__c},&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>forName</name>
        <dataType>String</dataType>
        <expression>LEFT(IF(AND(NOT(ISBLANK({!$Record.Lead__c})),ISBLANK({!$Record.Account__c})),
{!$Record.Lead__r.FirstName}+ &quot; &quot; + {!$Record.Lead__r.LastName}+&quot; - &quot;+{!Get_Partner_Type.PartnerTypeName__c},
{!$Record.Account__r.Name}+&quot; - &quot;+{!Get_Partner_Type.PartnerTypeName__c}), 255)</expression>
    </formulas>
    <interviewLabel>Before-Save Updates Relationship {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Before-Save Updates Relationship</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Non_referral_Relationship_RT</name>
        <label>Get Non-referral Relationship RT</label>
        <locationX>314</locationX>
        <locationY>551</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_other_fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Relationship__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NonReferral</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Partner_Type</name>
        <label>Get Partner Type</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Record_Type_filled</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PartnerType__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PartnerType__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Referral_Relationship_RT</name>
        <label>Get Referral Relationship RT</label>
        <locationX>50</locationX>
        <locationY>551</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_other_fields_referral_rt</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Relationship__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Referral</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Partner_Type</targetReference>
        </connector>
        <object>Relationship__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
