force-app/main/default/flows/C_Lead_Referral_Relationship_After_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_Referral_relationships_new_values</name>
        <label>Assign Referral relationships new values</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>varRelationship.PartnerManager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PartnerReferralContactOwner__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRelationship.RecordType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Referral</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRelationship.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetReferralRelationships.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRelationship.Partner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Partner_Referral__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Referral_Relationship</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Relationship_values_on_creation</name>
        <label>Assign Relationship values on creation</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>varRelationship.PartnerManager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PartnerReferralContactOwner__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRelationship.Lead__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRelationship.RecordType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Referral</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRelationship.Partner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Partner_Referral__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Relationship</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision</name>
        <label>Decision</label>
        <locationX>446</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Rel doesn&apos;t exists and Referral Account is Blank</defaultConnectorLabel>
        <rules>
            <name>Rel_exists_and_Referral_Account_is_not_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetReferralRelationships.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Partner_Referral__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Referral_relationships_new_values</targetReference>
            </connector>
            <label>Rel exists and Referral Account is not Blank</label>
        </rules>
        <rules>
            <name>Rel_exists_and_Referral_Account_is_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetReferralRelationships.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Partner_Referral__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_referral</targetReference>
            </connector>
            <label>Rel exists and Referral Account is Blank</label>
        </rules>
        <rules>
            <name>Rel_doesn_t_exists_and_Referral_Account_is_not_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetReferralRelationships.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Partner_Referral__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Relationship_values_on_creation</targetReference>
            </connector>
            <label>Rel doesn&apos;t exists and Referral Account is not Blank</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>[C] Lead - Referral Relationship - After Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[C] Lead - Referral Relationship - After Save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_New_Relationship</name>
        <label>Create New Relationship</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <inputReference>varRelationship</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_referral</name>
        <label>Delete referral</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <inputReference>GetReferralRelationships</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>GetReferralRelationships</name>
        <label>Get Referral Relationships</label>
        <locationX>446</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Referral</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Relationship__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Referral_Relationship</name>
        <label>Update Referral Relationship</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <inputReference>varRelationship</inputReference>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetReferralRelationships</targetReference>
        </connector>
        <filterFormula>OR(ISNEW(), ISCHANGED({!$Record.Partner_Referral__c}),ISCHANGED({!$Record.PartnerContact__c}),ISCHANGED({!$Record.PartnerReferralContactOwner__c}))</filterFormula>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varRelationship</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Relationship__c</objectType>
    </variables>
</Flow>
