force-app/main/default/flows/CASE_BulkMergeCases.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <description>Count number selected cases (size of ids).</description>
        <name>assCountNumberSelectedCases</name>
        <label>Count number selected cases</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>varNumberSelectedCases</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>ids</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNumberSelectedCases2</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>recordIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decMultipleRecordsSelected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set parent case id to variable masterCase</description>
        <name>assSetParentCase</name>
        <label>Set Parent Case</label>
        <locationX>50</locationX>
        <locationY>1532</locationY>
        <assignmentItems>
            <assignToReference>masterCase</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tableCaseToMerge.firstSelectedRow</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopCases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Updates field values of the child cases</description>
        <name>assSetParentIdAndStatus</name>
        <label>Update slave Cases</label>
        <locationX>314</locationX>
        <locationY>1856</locationY>
        <assignmentItems>
            <assignToReference>LoopCases.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>masterCase.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopCases.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Merged</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopCases.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SlaveMergeSubject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collUpdatedCases</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopCases</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopCases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the first Account variable. This is used to check all cases belong to the same account</description>
        <name>SetAccountVariable</name>
        <label>Set First Account Variable</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>FirstAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseValidations.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validations</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Are there at least two records selected?</description>
        <name>decMultipleRecordsSelected</name>
        <label>Multiple records selected?</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ValidationErrorScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesMultipleRecordsSelected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ids</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varNumberSelectedCases</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getListCases</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Parent or child case? If the id is equal to the id that is set on variable masterCase, then it is a parent.</description>
        <name>decParentOrChild</name>
        <label>Parent or Child?</label>
        <locationX>226</locationX>
        <locationY>1748</locationY>
        <defaultConnector>
            <targetReference>assSetParentIdAndStatus</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Child</defaultConnectorLabel>
        <rules>
            <name>ParentParentOrChild</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopCases.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>masterCase.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopCases</targetReference>
            </connector>
            <label>Parent</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if this is the first loop iteration</description>
        <name>FirstLoopIteration</name>
        <label>First loop iteration</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Validations</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FirstIteration</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FirstAccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetAccountVariable</targetReference>
            </connector>
            <label>FirstIteration</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validations</name>
        <label>Validations</label>
        <locationX>314</locationX>
        <locationY>866</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>CaseValidations</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DifferentOrEmptyAccount</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CaseValidations.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseValidations.AccountId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>FirstAccountId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ValidationErrorScreen</targetReference>
            </connector>
            <label>Different or empty Account</label>
        </rules>
        <rules>
            <name>HasParentCase</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseValidations.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ValidationErrorScreen</targetReference>
            </connector>
            <label>Has Parent Case</label>
        </rules>
    </decisions>
    <description>Reorder columns in overview &apos;Confirm Merge&apos;</description>
    <environments>Default</environments>
    <formulas>
        <description>Contains the merged subject of child cases</description>
        <name>SlaveMergeSubject</name>
        <dataType>String</dataType>
        <expression>LEFT(&apos;[MERGED]&apos; &amp; {!LoopCases.Subject}, 255)</expression>
    </formulas>
    <interviewLabel>CASE_BulkMergeCases {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CASE_BulkMergeCases</label>
    <loops>
        <description>Loops over the collection to check if the selected cases are eligble for merge.</description>
        <name>CaseValidations</name>
        <label>CaseValidations</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <collectionReference>getListCases</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>FirstLoopIteration</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>scrConfirmMerge</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loops over all selected cases, to validate and update records</description>
        <name>LoopCases</name>
        <label>Loop Cases</label>
        <locationX>50</locationX>
        <locationY>1640</locationY>
        <collectionReference>getListCases</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>decParentOrChild</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updateListCases</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Get details of the selected cases</description>
        <name>getListCases</name>
        <label>Get List Case</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CaseValidations</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>ids</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Save updates to the database</description>
        <name>updateListCases</name>
        <label>Update List Cases</label>
        <locationX>50</locationX>
        <locationY>2132</locationY>
        <connector>
            <targetReference>scrSuccessfulSaveCases</targetReference>
        </connector>
        <faultConnector>
            <targetReference>scrErrorSavingCases</targetReference>
        </faultConnector>
        <inputReference>collUpdatedCases</inputReference>
    </recordUpdates>
    <screens>
        <description>Overview of all selected cases and specify the parent.</description>
        <name>scrConfirmMerge</name>
        <label>Confirm Merge</label>
        <locationX>50</locationX>
        <locationY>1424</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>assSetParentCase</targetReference>
        </connector>
        <fields>
            <name>HeaderSelectMasterScreen</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 24px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Merge Cases&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>txtSelectMasterRecord</name>
            <fieldText>&lt;p&gt;{!$Label.SelectMasterRecord}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>tableCaseToMerge</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Case</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Cases to merge</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>getListCases</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;CaseNumber&quot;,&quot;guid&quot;:&quot;column-3f0d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Case Number&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;ParentId&quot;,&quot;guid&quot;:&quot;column-3fe3&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Parent Case ID&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;ContactName__c&quot;,&quot;guid&quot;:&quot;column-7acc&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Contact&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Contact Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Subject&quot;,&quot;guid&quot;:&quot;column-aa29&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Subject&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;ServiceTopic__c&quot;,&quot;guid&quot;:&quot;column-8710&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Topic&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Status&quot;,&quot;guid&quot;:&quot;column-f54b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;Status&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;CaseOwnerFormula__c&quot;,&quot;guid&quot;:&quot;column-0d1b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:6,&quot;label&quot;:&quot;Case Owner&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>An error has been thrown while saving the cases.</description>
        <name>scrErrorSavingCases</name>
        <label>Error Saving Cases</label>
        <locationX>314</locationX>
        <locationY>2240</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>HeaderUpdateErrorScreen</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 24px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Merge Cases&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>txtErrorSaveCases</name>
            <fieldText>&lt;p&gt;An unexpected error occurred.&amp;nbsp;&lt;/p&gt;&lt;p&gt;Technical error message below:&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-size: 14px;&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Inform user that the updates on the cases have been finished.</description>
        <name>scrSuccessfulSaveCases</name>
        <label>Cases Saved Successful</label>
        <locationX>50</locationX>
        <locationY>2240</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>HeaderSuccessScreen</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 24px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Merge Cases&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>txtCasesSavedSuccessful</name>
            <fieldText>&lt;p&gt;Cases have been updated. Close the tab to continue.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>DIsplay an error if you are not allowed to merge these cases.</description>
        <name>ValidationErrorScreen</name>
        <label>Validation Error Screen</label>
        <locationX>314</locationX>
        <locationY>1124</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>HeaderErrorScreen</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 24px;&quot;&gt;Merge Cases&lt;/strong&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AccountErrorMessageValidationScreenOutput</name>
            <fieldText>&lt;p&gt;{!$Label.CaseMergeDifferentAccountsNotAllowed}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>DifferentOrEmptyAccount</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ParentCaseErrorMessageValidationScreenOutput</name>
            <fieldText>&lt;p&gt;{!$Label.CaseMergeNoChildCases}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>HasParentCase</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>CaseSelectionOutputError</name>
            <fieldText>&lt;p&gt;{!$Label.CaseMergeSelectTwoCases}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>YesMultipleRecordsSelected</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>RedirectValidationScreen</name>
            <fieldText>&lt;p&gt;Close the tab to continue.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>assCountNumberSelectedCases</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>RedirectText</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Close the tab to continue.&lt;/p&gt;&lt;br&gt;&lt;/p&gt;{!IF(ISBLANK(masterCase.Id), &apos;&apos;, &apos;filled!&apos;)}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <description>Cases with updated values.</description>
        <name>collUpdatedCases</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <description>Id of the first parent account encountered in the case loop.</description>
        <name>FirstAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Selected case record ids.</description>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Selected master case</description>
        <name>masterCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>recordIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Number of selected cases (size of colletion &apos;ids&apos;).</description>
        <name>varNumberSelectedCases</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varNumberSelectedCases2</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <description>Temporarily case variable used inside loop</description>
        <name>varTmpCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
