force-app/main/default/flows/CASE_SERVICE_SubflowManualCaseCreation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>NavigateToRecord</name>
        <label>Navigate to Record</label>
        <locationX>578</locationX>
        <locationY>1922</locationY>
        <actionName>c:ersNavigateToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>sObject</name>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>caseVar.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>AssignCaseValues</name>
        <label>Assign Case Values</label>
        <locationX>446</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>caseVar.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SubjectServiceCloud</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseVar.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DescriptionServiceCloud</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseVar.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PriorityServCloud</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseVar.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OriginServCloud</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseVar.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StatusServiceCloud</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseVar.PaymentReference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PaymentReferencesServiceCloud</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseVar.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountLookup.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Route_Based_On_Taxonomy</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignContactValues</name>
        <label>Assign Contact Values</label>
        <locationX>578</locationX>
        <locationY>1706</locationY>
        <assignmentItems>
            <assignToReference>caseVar.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactLoookup.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateCase</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ClearContactError</name>
        <label>Clear Contact Error</label>
        <locationX>578</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>errorServiceCaseContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignContactValues</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PerPopulateStatus</name>
        <label>PerPopulateStatus</label>
        <locationX>446</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>caseVar.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PopulateTheCaseFields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PrePopulateAccount</name>
        <label>Pre Populate Account</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>caseVar.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PerPopulateStatus</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PrePopulateCaseFields</name>
        <label>Pre Populate Case Fields</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>caseVar.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QueryCase.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseVar.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QueryCase.ContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PerPopulateStatus</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PrePopulateFromContact</name>
        <label>Pre Populate From Contact</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>caseVar.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QueryContact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseVar.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QueryContact.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PerPopulateStatus</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetContactError</name>
        <label>Set Contact Error</label>
        <locationX>314</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>errorServiceCaseContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>ContactInformation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetRecordType</name>
        <label>Set RecordType</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>caseVar.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetTheRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreatedFromAccountOrContactPage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetRouteValue</name>
        <label>Set Route Value</label>
        <locationX>446</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>caseVar.RouteToServiceTeamOnCreate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ContactInformation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetRouteValueTrue</name>
        <label>Set Route Value True</label>
        <locationX>710</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>caseVar.RouteToServiceTeamOnCreate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ContactInformation</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>CallCaseOrigin</name>
        <choiceText>Call</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Call</stringValue>
        </value>
    </choices>
    <choices>
        <name>inProgressServiceCloud</name>
        <choiceText>In Progress</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>In Progress</stringValue>
        </value>
    </choices>
    <choices>
        <name>newServiceCloud</name>
        <choiceText>New</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New</stringValue>
        </value>
    </choices>
    <choices>
        <name>SalesforceCaseOrigin</name>
        <choiceText>Salesforce</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Salesforce</stringValue>
        </value>
    </choices>
    <decisions>
        <description>Display SuppliedEmail &amp; SuppliedName when Contact is empty + warning &apos;When left empty, we can&apos;t send out automated communication to the customer or merchant&apos;.</description>
        <name>Contact</name>
        <label>Contact?</label>
        <locationX>446</locationX>
        <locationY>1490</locationY>
        <defaultConnector>
            <targetReference>ClearContactError</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>NoContact</name>
            <conditionLogic>1 AND ((2 OR 3) AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>recordTypeDeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ServiceCase</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>caseVar.SuppliedEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>caseVar.SuppliedName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>caseVar.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetContactError</targetReference>
            </connector>
            <label>Service Case: No Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>CreatedFromAccountOrContactPage</name>
        <label>Created FromObject Page</label>
        <locationX>446</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>PerPopulateStatus</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CreatedFromAccountPage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>001</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PrePopulateAccount</targetReference>
            </connector>
            <label>Created From Account</label>
        </rules>
        <rules>
            <name>CreatedFromCasePage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>500</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>QueryCase</targetReference>
            </connector>
            <label>Created From Case</label>
        </rules>
        <rules>
            <name>CreatedFromContactPage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>003</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>QueryContact</targetReference>
            </connector>
            <label>Created From Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Route_Based_On_Taxonomy</name>
        <label>Route Based On Taxonomy</label>
        <locationX>446</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <targetReference>SetRouteValueTrue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Route</defaultConnectorLabel>
        <rules>
            <name>Invalid_Input</name>
            <conditionLogic>1 AND ( 2 OR 3 OR 4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>RouteTheCaseAutomatically</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>caseVar.Type</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>caseVar.SubType__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>caseVar.ServiceTopic__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StatusServiceCloud</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>PopulateTheCaseFields</targetReference>
            </connector>
            <label>Invalid Input</label>
        </rules>
        <rules>
            <name>Route</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RouteTheCaseAutomatically</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetRouteValue</targetReference>
            </connector>
            <label>Do Not Route</label>
        </rules>
    </decisions>
    <description>Update prefilled default values for Case Origin and Case Status.</description>
    <dynamicChoiceSets>
        <description>Choice set for Contact related to the selected Account</description>
        <name>ContactChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseVar.AccountId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>caseVar.SuppliedEmail</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>caseVar.SuppliedName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>originServiceCloud</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Origin</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>priorityServiceCloud</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Priority</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>CASE_SERVICE_SubflowManualCaseCreation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CASE_SERVICE_SubflowManualCaseCreation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateCase</name>
        <label>Create Case</label>
        <locationX>578</locationX>
        <locationY>1814</locationY>
        <connector>
            <targetReference>NavigateToRecord</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorCreatingCase</targetReference>
        </faultConnector>
        <inputReference>caseVar</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GetTheRecordType</name>
        <label>Get the Record Type</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetRecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordTypeDeveloperName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>QueryCase</name>
        <label>QueryCase</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PrePopulateCaseFields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>QueryContact</name>
        <label>QueryContact</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PrePopulateFromContact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <description>Populate Contact Information
Done in seperate screen:
1. Workaround for a global action content cut off.
2. Workaround for Lookup Filter on Contact</description>
        <name>ContactInformation</name>
        <label>Contact Information</label>
        <locationX>446</locationX>
        <locationY>1382</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Contact</targetReference>
        </connector>
        <fields>
            <name>ContactInformationDisplayTextError</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Please provide Contact or Name &amp;amp; Email address. This is mandatory for Service cases to interact with customers.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>errorServiceCaseContact</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ContactInformationDisplayText</name>
            <fieldText>&lt;p&gt;Please provide Contact or Name &amp;amp; Email address. This is mandatory for Service cases to interact with customers.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>recordTypeDeveloperName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>ServiceCase</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>errorServiceCaseContact</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>InternalCasesContactInfoDisplayText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Please provide either a contact, or name and email address. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>recordTypeDeveloperName</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>ServiceCase</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ContactLoookup</name>
            <choiceReferences>ContactChoiceSet</choiceReferences>
            <defaultValue>
                <elementReference>caseVar.ContactId</elementReference>
            </defaultValue>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Contact</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>caseVar.SuppliedName</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>caseVar.SuppliedEmail</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>caseVar.AccountId</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>OrText</name>
            <fieldText>&lt;p&gt;Or&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ContactLoookup.selectedChoiceValues</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>caseVar.SuppliedEmail</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>caseVar.SuppliedName</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>caseVar.AccountId</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>caseVar.SuppliedName</objectFieldReference>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ContactLoookup.selectedChoiceValues</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>caseVar.SuppliedEmail</objectFieldReference>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ContactLoookup.selectedChoiceValues</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ErrorCreatingCase</name>
        <label>ErrorCreatingCase</label>
        <locationX>842</locationX>
        <locationY>1922</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CaseCreationError</name>
            <fieldText>&lt;p&gt;Something went wrong:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>PopulateTheCaseFields</name>
        <label>Populate the Case Fields</label>
        <locationX>446</locationX>
        <locationY>866</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AssignCaseValues</targetReference>
        </connector>
        <fields>
            <name>SubjectServiceCloud</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>SubjectServiceCloud</elementReference>
            </defaultValue>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DescriptionServiceCloud</name>
            <defaultValue>
                <stringValue>{!DescriptionServiceCloud}</stringValue>
            </defaultValue>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;You may enter: caller&apos;s name, call summary, potential&amp;nbsp;next steps, etc..&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>PopulateTheCaseFields_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>PopulateTheCaseFields_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PriorityServCloud</name>
                    <choiceReferences>priorityServiceCloud</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Medium</stringValue>
                    </defaultValue>
                    <fieldText>Priority</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>OriginServCloud</name>
                    <choiceReferences>SalesforceCaseOrigin</choiceReferences>
                    <choiceReferences>CallCaseOrigin</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Salesforce</stringValue>
                    </defaultValue>
                    <fieldText>Origin</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>StatusServiceCloud</name>
                    <choiceReferences>newServiceCloud</choiceReferences>
                    <choiceReferences>inProgressServiceCloud</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>caseVar.Status</elementReference>
                    </defaultValue>
                    <fieldText>Status</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>CaseRoutingStatusWarning</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;{!$Label.CaseRoutingStatusWarning}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>StatusServiceCloud</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>New</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>RouteTheCaseAutomatically</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>PaymentReferencesServiceCloud</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>PaymentReferencesServiceCloud</elementReference>
                    </defaultValue>
                    <fieldText>Payment References</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>PopulateTheCaseFields_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AccountLookup</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>AccountId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Case</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>caseVar.AccountId</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>caseVar.Type</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>caseVar.SubType__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>caseVar.ServiceTopic__c</objectFieldReference>
                </fields>
                <fields>
                    <name>RouteTheCaseAutomatically</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>RouteTheCaseAutomatically</elementReference>
                    </defaultValue>
                    <fieldText>{!$Label.CaseRoutingCheckboxLabel}</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>CaseRoutingTaxonomyError</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!$Label.CaseRoutingTaxonomyWarning}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>1 AND ( 2 OR 3 OR 4)</conditionLogic>
                        <conditions>
                            <leftValueReference>RouteTheCaseAutomatically</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>caseVar.Type</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>caseVar.SubType__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>caseVar.ServiceTopic__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>RoutingInfoDisplayText</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(75, 146, 226);&quot;&gt;{!AutomaticRoutingWarning}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>RouteTheCaseAutomatically</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Contact Details</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetTheRecordType</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>Warning to display when the users selects automatic routing.</description>
        <name>AutomaticRoutingWarning</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;img src=&quot;/img/msg_icons/info24.png&quot; alt=&quot;Automatic Routing Information&quot;&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(75, 146, 226);&quot;&gt; {!$Label.CaseRoutingVisibilityWarning}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>caseVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <description>Set to true if the user did not provide contact information on a service case.</description>
        <name>errorServiceCaseContact</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordTypeDeveloperName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
