force-app/main/default/flows/ClaimMemberAutoFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>ClearClaimLookup</name>
        <label>Clear Claim Lookup</label>
        <locationX>421</locationX>
        <locationY>49</locationY>
        <assignmentItems>
            <assignToReference>$Record.Claim__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>IsClaimMemberEligible</name>
        <label>Is Claim Member eligible?</label>
        <locationX>157</locationX>
        <locationY>52</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ClaimMemberIsIneligible</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EligibleForClaim__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>forRegularClaimMemberRT</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ClearClaimLookup</targetReference>
            </connector>
            <label>Claim Member Is Ineligible</label>
        </rules>
    </decisions>
    <formulas>
        <name>forRegularClaimMemberRT</name>
        <dataType>String</dataType>
        <expression>{!$Label.RegularClaimMember}</expression>
    </formulas>
    <interviewLabel>Claim Member Auto Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Claim Member Auto Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>IsClaimMemberEligible</targetReference>
        </connector>
        <object>ClaimMembers__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
