force-app/main/default/flows/Copy_Account_Plan_with_Related.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>AddAccountRelationships</name>
        <label>Add Account Relationships</label>
        <locationX>1450</locationX>
        <locationY>796</locationY>
        <assignmentItems>
            <assignToReference>AddedAccountRelationships</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AssignedAccountRelationship</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopAccountRelationships</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddShareOfWallets</name>
        <label>Add Share of Wallets</label>
        <locationX>2099</locationX>
        <locationY>750</locationY>
        <assignmentItems>
            <assignToReference>AddedShareOfWallets</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AssignedShareOfWallet</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopShareOfWallets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignAccountRelationships</name>
        <label>Assign Account Relationships</label>
        <locationX>1582</locationX>
        <locationY>796</locationY>
        <assignmentItems>
            <assignToReference>AssignedAccountRelationship.CompanyName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentAccountRelationship.CompanyName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssignedAccountRelationship.RelationshipType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentAccountRelationship.RelationshipType__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssignedAccountRelationship.AccountPlan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewAccountPlanId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddAccountRelationships</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignShareOfWallets</name>
        <label>Assign Share of Wallets</label>
        <locationX>2241</locationX>
        <locationY>750</locationY>
        <assignmentItems>
            <assignToReference>AssignedShareOfWallet.CurrentAdyenMarginMonth__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentShareOfWallet.CurrentAdyenMarginMonth__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssignedShareOfWallet.Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentShareOfWallet.Notes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssignedShareOfWallet.ShareOfMerchantVolume__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentShareOfWallet.ShareOfMerchantVolume__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssignedShareOfWallet.VolumeMonth__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentShareOfWallet.VolumeMonth__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssignedShareOfWallet.AccountPlan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewAccountPlanId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssignedShareOfWallet.BusinessSegment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentShareOfWallet.BusinessSegment__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddShareOfWallets</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>AccountRelationshipsNotNull</name>
        <label>Account Relationships not NULL</label>
        <locationX>1316</locationX>
        <locationY>469</locationY>
        <defaultConnector>
            <targetReference>GetShareOfWallets</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_Relationships_Not_NULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetAccountRelationships</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccountRelationships</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopAccountRelationships</targetReference>
            </connector>
            <label>Account Relationships Not NULL</label>
        </rules>
    </decisions>
    <decisions>
        <name>DoesAccountPlanAlreadyExist</name>
        <label>Does Account Plan already exist?</label>
        <locationX>891</locationX>
        <locationY>469</locationY>
        <defaultConnector>
            <targetReference>CreateNewAccountPlan</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Does Not Exist</defaultConnectorLabel>
        <rules>
            <name>DoesExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varExistingAccountPlanId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scrCloneBlocked</targetReference>
            </connector>
            <label>Does Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>ShareOfWalletsNotNull</name>
        <label>Share of Wallets Not NULL</label>
        <locationX>1914</locationX>
        <locationY>522</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Share_of_Wallets_Not_NULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetShareOfWallets</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ShareOfWallets</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopShareOfWallets</targetReference>
            </connector>
            <label>Share of Wallets Not NULL</label>
        </rules>
    </decisions>
    <description>21/11/2022 Latest Update: Removed Long-Text fields (flow is not used for now, but will be updated to newer variant later)</description>
    <environments>Default</environments>
    <formulas>
        <name>CalculateAccountPlanStartDate</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR({!GetOldAccountPlan.AccountPlanStartDate__c})+1,1,1)</expression>
    </formulas>
    <formulas>
        <name>forAccountPlanName</name>
        <dataType>String</dataType>
        <expression>&quot;AP-&quot;&amp;{!varAccountName}&amp;&quot;-&quot;&amp;TEXT(YEAR({!GetOldAccountPlan.AccountPlanStartDate__c})+1)</expression>
    </formulas>
    <formulas>
        <name>forAccountPlanYearEnd</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR({!GetOldAccountPlan.AccountPlanStartDate__c})+1,12,31)</expression>
    </formulas>
    <formulas>
        <name>forAccountPlanYearStart</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR({!GetOldAccountPlan.AccountPlanStartDate__c})+1,1,1)</expression>
    </formulas>
    <interviewLabel>Copy Account Plan with Related {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Copy Account Plan with Related</label>
    <loops>
        <name>LoopAccountRelationships</name>
        <label>Loop Account Relationships</label>
        <locationX>1504</locationX>
        <locationY>567</locationY>
        <assignNextValueToReference>CurrentAccountRelationship</assignNextValueToReference>
        <collectionReference>GetAccountRelationships</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignAccountRelationships</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreateAccountRelationships</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopShareOfWallets</name>
        <label>Loop Share of Wallets</label>
        <locationX>2167</locationX>
        <locationY>520</locationY>
        <assignNextValueToReference>CurrentShareOfWallet</assignNextValueToReference>
        <collectionReference>GetShareOfWallets</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignShareOfWallets</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreateShareOfWallets</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateAccountRelationships</name>
        <label>Create Account Relationships</label>
        <locationX>1668</locationX>
        <locationY>571</locationY>
        <connector>
            <targetReference>GetShareOfWallets</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <inputReference>AddedAccountRelationships</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CreateNewAccountPlan</name>
        <label>Create New Account Plan</label>
        <locationX>1046</locationX>
        <locationY>467</locationY>
        <assignRecordIdToReference>NewAccountPlanId</assignRecordIdToReference>
        <connector>
            <targetReference>GetAccountRelationships</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountPlanStartDate__c</field>
            <value>
                <elementReference>CalculateAccountPlanStartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>GetOldAccountPlan.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>forAccountPlanName</elementReference>
            </value>
        </inputAssignments>
        <object>AccountPlan__c</object>
    </recordCreates>
    <recordCreates>
        <name>CreateShareOfWallets</name>
        <label>Create Share of Wallets</label>
        <locationX>2347</locationX>
        <locationY>520</locationY>
        <faultConnector>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <inputReference>AddedShareOfWallets</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GetAccount</name>
        <label>Get Account</label>
        <locationX>652</locationX>
        <locationY>467</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetNewAccountPlan</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetOldAccountPlan.Account__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>varAccountName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetAccountRelationships</name>
        <label>Get Account Relationships</label>
        <locationX>1186</locationX>
        <locationY>467</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AccountRelationshipsNotNull</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountPlan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OldAccountPlanId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AccountRelationship__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>CompanyName__c</queriedFields>
        <queriedFields>RelationshipType__c</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetNewAccountPlan</name>
        <label>Get New Account Plan</label>
        <locationX>766</locationX>
        <locationY>467</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DoesAccountPlanAlreadyExist</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountPlanStartDate__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>forAccountPlanYearStart</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccountPlanStartDate__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>forAccountPlanYearEnd</elementReference>
            </value>
        </filters>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetOldAccountPlan.Account__c</elementReference>
            </value>
        </filters>
        <object>AccountPlan__c</object>
        <outputAssignments>
            <assignToReference>varExistingAccountPlanId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetOldAccountPlan</name>
        <label>Get Old Account Plan</label>
        <locationX>520</locationX>
        <locationY>467</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetAccount</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OldAccountPlanId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AccountPlan__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Account__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetShareOfWallets</name>
        <label>Get Share of Wallets</label>
        <locationX>1795</locationX>
        <locationY>520</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ShareOfWalletsNotNull</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountPlan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OldAccountPlanId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ShareOfWallet__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>BusinessSegment__c</queriedFields>
        <queriedFields>CurrentAdyenMarginMonth__c</queriedFields>
        <queriedFields>Notes__c</queriedFields>
        <queriedFields>ShareOfMerchantVolume__c</queriedFields>
        <queriedFields>VolumeMonth__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>ErrorScreen</name>
        <label>ErrorScreen</label>
        <locationX>1500</locationX>
        <locationY>50</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>disErrorText</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Something went wrong during this process due to the following error:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(192, 1, 1);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Please retry if you understand what goes wrong, otherwise reach out to your System Administrator.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Flow_Screen</name>
        <label>Flow Screen</label>
        <locationX>399</locationX>
        <locationY>470</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GetOldAccountPlan</targetReference>
        </connector>
        <fields>
            <name>DisplayText</name>
            <fieldText>&lt;p&gt;Please indicate which related lists you would like to copy to the cloned Account Plan.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AccountRelationships</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Account Relationships</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ShareOfWallets</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Share of Wallets</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scrCloneBlocked</name>
        <label>scrCloneBlocked</label>
        <locationX>902</locationX>
        <locationY>622</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>disCloneBlocked</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Clone Blocked&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;You are not allowed to create this clone, since next year&apos;s Account Plan for this Account already exists.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>448</locationY>
        <connector>
            <targetReference>Flow_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AddedAccountRelationships</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountRelationship__c</objectType>
    </variables>
    <variables>
        <name>AddedShareOfWallets</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ShareOfWallet__c</objectType>
    </variables>
    <variables>
        <name>AssignedAccountRelationship</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountRelationship__c</objectType>
    </variables>
    <variables>
        <name>AssignedShareOfWallet</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ShareOfWallet__c</objectType>
    </variables>
    <variables>
        <name>CurrentAccountRelationship</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountRelationship__c</objectType>
    </variables>
    <variables>
        <name>CurrentShareOfWallet</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ShareOfWallet__c</objectType>
    </variables>
    <variables>
        <name>NewAccountPlanId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OldAccountPlanId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varExistingAccountPlanId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
