force-app/main/default/flows/ENTITLEMENT_SERVICE_DefaultSLA.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <description>Stores data from the Entitlement record that currently has the Default SLA checkbox checked.</description>
        <name>CurrentDefaultSLAEntitlement</name>
        <label>Current Default SLA Entitlement</label>
        <locationX>270</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>varDefaultSLAEntitlementName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOverEntitlementRecords.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDefaultSLA</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOverEntitlementRecords</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Checks whether the Default SLA checkbox is checked on any of the Entitlement records.</description>
        <name>DefaultSLA</name>
        <label>Default SLA?</label>
        <locationX>402</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>LoopOverEntitlementRecords</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default SLA Not checked and/or not active</defaultConnectorLabel>
        <rules>
            <name>DefaultSLAChecked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopOverEntitlementRecords.DefaultSLA__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopOverEntitlementRecords.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CurrentDefaultSLAEntitlement</targetReference>
            </connector>
            <label>Default SLA Checked &amp; Active</label>
        </rules>
    </decisions>
    <decisions>
        <description>Shows an error when there already is an Entitlement record with the Default SLA checkbox checked.</description>
        <name>DefaultSLACheckboxalreadychecked</name>
        <label>Default SLA Checkbox already checked?</label>
        <locationX>182</locationX>
        <locationY>923</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varDefaultSLA</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Only1DefaultSLA</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Ensures that only 1 Entitlement record has the Default SLA Checkbox checked at any 1 time.</description>
    <environments>Default</environments>
    <interviewLabel>CASE_SERVICE_ {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ENTITLEMENT_SERVICE_DefaultSLA</label>
    <loops>
        <description>Loop over Entitlement records to check the Default SLA field.</description>
        <name>LoopOverEntitlementRecords</name>
        <label>Loop Over Entitlement Records</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <collectionReference>GetEntitlements</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>DefaultSLA</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>DefaultSLACheckboxalreadychecked</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get Entitlement Data</description>
        <name>GetEntitlements</name>
        <label>Get Entitlements</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopOverEntitlementRecords</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Entitlement</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetEntitlements</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DefaultSLA__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>DefaultSLA__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Entitlement</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>EntitlementRecordName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Variable that is true when the record from the loop has the Default SLA checkbox checked.</description>
        <name>varDefaultSLA</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the name of the Entitlement record with the Default SLA Checkbox currently selected.</description>
        <name>varDefaultSLAEntitlementName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
