force-app/main/default/flows/FEEDITEM_SERVICE_CreateNewOrReopenCase.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <description>Empty some of the fields, others not mentioned here are literally copied.</description>
        <name>UpdateCaseFields</name>
        <label>Update Case Fields</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>GetCaseDetails.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetCaseDetails.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetCaseDetails.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetCaseDetails.Reopened__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetCaseDetails.WaitingOnMerchantDateTime__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetCaseDetails.TimeReopened__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetCaseDetails.CreatedDate</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetCaseDetails.LastModifiedDate</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetCaseDetails.EscalationDate__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetCaseDetails.LastCommentTimestamp__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetCaseDetails.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetCaseDetails.Type</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetCaseDetails.ServiceTopic__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetCaseDetails.SubType__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetCaseDetails.ClosedDate</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>CreateNewCase</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Checks whether the case should be reopened or a new one needs to be created. If status of case is &apos;Waiting for Merchant&apos;, change status to &apos;In Progress&apos; if applicable.</description>
        <name>decCaseStatus</name>
        <label>Case Status</label>
        <locationX>578</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>ClosedCreateNew</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent:Case.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent:Case.TimeToReopen__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>forDoNotReopen</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetCaseDetails</targetReference>
            </connector>
            <label>Closed - Create New</label>
        </rules>
        <rules>
            <name>ClosedReopen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent:Case.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent:Case.TimeToReopen__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>forDoNotReopen</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetCaseInProgress</targetReference>
            </connector>
            <label>Closed - Reopen</label>
        </rules>
        <rules>
            <name>WaitingForMerchant</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent:Case.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waiting for Merchant</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent:Case.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waiting on Merchant</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetCaseInProgressMerchantReply</targetReference>
            </connector>
            <label>Waiting for Merchant</label>
        </rules>
        <rules>
            <name>Handover</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent:Case.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Handover</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent:Case.Owner:User.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Case_In_Progress_2</targetReference>
            </connector>
            <label>Handover</label>
        </rules>
    </decisions>
    <description>Vesna E. || Asynch path removed</description>
    <environments>Default</environments>
    <formulas>
        <name>forDoNotReopen</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS({!$Record.Body}, &apos;Automated Email&apos;)</expression>
    </formulas>
    <formulas>
        <name>forUpdateCheckbox</name>
        <dataType>Boolean</dataType>
        <expression>IF(
{!$Record.Parent:Case.AllowPortalUserToUpdateStatus__c} = FALSE,
TRUE,
FALSE
)</expression>
    </formulas>
    <interviewLabel>FEEDITEM_SERVICE_ {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FEEDITEM_SERVICE_CreateNewOrReopenCase</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Case is outside reply-time, so creating a new Case</description>
        <name>CreateNewCase</name>
        <label>Create New Case</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>CreatePostRelate</targetReference>
        </connector>
        <inputReference>GetCaseDetails</inputReference>
    </recordCreates>
    <recordCreates>
        <description>Duplicates the Post that resulted in the creation of a new Case and links it to the newly created Case.</description>
        <name>CreatePostRelate</name>
        <label>Create Post &amp; Relate</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>Body</field>
            <value>
                <elementReference>$Record.Body</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CreatedById</field>
            <value>
                <elementReference>$Record.CreatedById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsRichText</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>GetCaseDetails.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Revision</field>
            <value>
                <elementReference>$Record.Revision</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>$Record.Title</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>TextPost</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visibility</field>
            <value>
                <elementReference>$Record.Visibility</elementReference>
            </value>
        </inputAssignments>
        <object>FeedItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Get all details from the current Case to clone.</description>
        <name>GetCaseDetails</name>
        <label>Get Case Details</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateCaseFields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Merchant replied on the case via chatter. Set the case back to &apos;In Progress&apos;</description>
        <name>Set_Case_In_Progress_2</name>
        <label>Set Case &apos;In Progress&apos;</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AllowPortalUserToUpdateStatus__c</field>
            <value>
                <elementReference>forUpdateCheckbox</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WaitingOnMerchantDateTime__c</field>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <description>Case is within reply-time, so reopen the closed case.</description>
        <name>SetCaseInProgress</name>
        <label>Set Case &apos;In Progress&apos;</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AllowPortalUserToUpdateStatus__c</field>
            <value>
                <elementReference>forUpdateCheckbox</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reopened__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TimeReopened__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <description>Merchant replied on the case via chatter. Set the case back to &apos;In Progress&apos;</description>
        <name>SetCaseInProgressMerchantReply</name>
        <label>Set Case &apos;In Progress&apos;</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AllowPortalUserToUpdateStatus__c</field>
            <value>
                <elementReference>forUpdateCheckbox</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WaitingOnMerchantDateTime__c</field>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>decCaseStatus</targetReference>
        </connector>
        <filterFormula>AND(
        OR(
              {!$Record.Parent:Case.RecordType.DeveloperName} = &apos;ServiceCase&apos;, {!$Record.Parent:Case.RecordType.DeveloperName} = 
               &apos;InternalCase&apos;, {!$Record.Parent:Case.RecordType.DeveloperName} = &apos;Support&apos;),
        OR(
               {!$Record.CreatedBy:User.ContactId} &lt;&gt; NULL,
               {!$Permission.ServiceIntegrationStatusUpdate}),

        NOT(ISPICKVAL({!$Record.Parent:Case.AutoCloseReason__c}, &apos;Blocked Email&apos;)),

         OR(
               {!$Record.Parent:Case.IsShopperCase__c} == false, 
               {!$Record.Parent:Case.ShopperCaseAllowed__c})
)</filterFormula>
        <object>FeedItem</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>richtextBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!$Record.Body}&lt;/p&gt;</text>
    </textTemplates>
</Flow>
