force-app/main/default/flows/GetComplexityAndTeamFromTaxonomy.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <description>Set output variables to be used by the flow that uses this sub flow.</description>
        <name>SetOutputVariables</name>
        <label>Set Output Variables</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>Complexity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QueryComplexityTable.Complexity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceTeam</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QueryTeam</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecordType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QueryRecordType</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>SetServiceTeamDevelopername</name>
        <label>Set ServiceTeam Developername</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>ServiceTeamDeveloperName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QueryComplexityTable.Team__r.DeveloperName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>QueryTeam</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetServiceTeamToOperationalSupport</name>
        <label>Set ServiceTeam to Operational Support</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>ServiceTeamDeveloperName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>OperationalSupport</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>QueryTeam</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>AmPool</name>
        <label>AmPool</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>SetServiceTeamDevelopername</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RouteToOperationalSupport</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>case.Account.Owner.FirstName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>AM Pool</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>QueryComplexityTable.Team__r.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AccountManagementPool</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetServiceTeamToOperationalSupport</targetReference>
            </connector>
            <label>Route to Operational Support</label>
        </rules>
    </decisions>
    <description>Queries the complexity and team based on Case Taxonomy.</description>
    <environments>Default</environments>
    <interviewLabel>Sub flow - Get Complexity And Team From Taxonomy {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sub flow - Get Complexity And Team From Taxonomy</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Queries the complexity table to retrieve complexity and default queue owner</description>
        <name>QueryComplexityTable</name>
        <label>Query Complexity Table</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AmPool</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Type</elementReference>
            </value>
        </filters>
        <filters>
            <field>SubType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SubType</elementReference>
            </value>
        </filters>
        <filters>
            <field>ServiceTopic__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Topic</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CaseComplexity__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>QueryRecordType</name>
        <label>Query RecordType</label>
        <locationX>182</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetOutputVariables</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QueryComplexityTable.RecordTypeDevelopername__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Query the group</description>
        <name>QueryTeam</name>
        <label>Query Team</label>
        <locationX>182</locationX>
        <locationY>542</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>QueryRecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceTeamDeveloperName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceTeam__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>QueryComplexityTable</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <description>Complexity</description>
        <name>Complexity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Developername of the queue</description>
        <name>QueueDeveloperName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Id of the Owner to be</description>
        <name>QueueId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Name of the queue of the owner to be</description>
        <name>QueueName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Record type that belongs to the Case Taxonomy entry.</description>
        <name>RecordType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <description>Service team that belongs to the taxonomy mapping.</description>
        <name>ServiceTeam</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>ServiceTeam__mdt</objectType>
    </variables>
    <variables>
        <name>ServiceTeamDeveloperName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Case Subtype</description>
        <name>SubType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Case topic</description>
        <name>Topic</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Case Type</description>
        <name>Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
