force-app/main/default/flows/MPL_Email_Send_Out.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>MPL_Review_Reminder</name>
        <label>MPL Review Reminder</label>
        <locationX>314</locationX>
        <locationY>360</locationY>
        <actionName>Contact.MPL_Review_Reminder</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Email_Sent_Task_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>MPLReviewEmail</name>
        <label>MPLReviewEmail</label>
        <locationX>50</locationX>
        <locationY>360</locationY>
        <actionName>Contact.MPL_Review</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>SetNewLastMPLDate</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>SetNewLastMPLDate</name>
        <label>SetNewLastMPLDate</label>
        <locationX>50</locationX>
        <locationY>468</locationY>
        <assignmentItems>
            <assignToReference>$Record.Last_MPL_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>todayDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetNewMPLDate</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Finds out when the last MPL review was done</description>
        <name>Last_MPL_Review</name>
        <label>Last MPL Review</label>
        <locationX>314</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Up_for_MPL_Review</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4) OR (5 AND 6) AND 7</conditionLogic>
            <conditions>
                <leftValueReference>forEligibleForMPLQuarterly</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Last_MPL_Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ThreeMonthsAgo</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>forEligibleForMPLBiAnnual</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Last_MPL_Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SixMonthsAgo</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>forEligibleForMPLAnnual</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Last_MPL_Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TwelveMonthsAgo</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MPLReviewEmail</targetReference>
            </connector>
            <label>Up for MPL Review</label>
        </rules>
        <rules>
            <name>Up_for_MPL_Review_Reminder</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TwoWeeksAgo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MPL_Review_Reminder</targetReference>
            </connector>
            <label>Up for MPL Review Reminder</label>
        </rules>
    </decisions>
    <description>Flow on Contact that checks on a daily basis whether Contacts are up for MPL review
Dorka: Entry criteria changed from Inactive checkbox to Contact Status not equal to No Longer There.
Gon: Changed the date, added a wait time.</description>
    <environments>Default</environments>
    <formulas>
        <name>forEligibleForMPLAnnual</name>
        <dataType>Boolean</dataType>
        <expression>IF(INCLUDES({!$Record.Eligible_for__c}, &apos;MPL - Annual&apos;), true, false)</expression>
    </formulas>
    <formulas>
        <name>forEligibleForMPLBiAnnual</name>
        <dataType>Boolean</dataType>
        <expression>IF(INCLUDES({!$Record.Eligible_for__c}, &apos;MPL - Bi-annual&apos;), true, false)</expression>
    </formulas>
    <formulas>
        <name>forEligibleForMPLQuarterly</name>
        <dataType>Boolean</dataType>
        <expression>IF(INCLUDES({!$Record.Eligible_for__c}, &apos;MPL - Quarterly&apos;), true, false)</expression>
    </formulas>
    <formulas>
        <name>SixMonthsAgo</name>
        <dataType>Date</dataType>
        <expression>TODAY()-180</expression>
    </formulas>
    <formulas>
        <name>ThreeMonthsAgo</name>
        <dataType>Date</dataType>
        <expression>TODAY()-90</expression>
    </formulas>
    <formulas>
        <name>todayDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>TwelveMonthsAgo</name>
        <dataType>Date</dataType>
        <expression>TODAY()-365</expression>
    </formulas>
    <formulas>
        <name>TwoWeeksAgo</name>
        <dataType>Boolean</dataType>
        <expression>TODAY() - {!$Record.Last_MPL_Date__c} == 14</expression>
    </formulas>
    <interviewLabel>MPL Email Send Out {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MPL Email Send Out</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Email_Sent_Task</name>
        <label>Create Email Sent Task</label>
        <locationX>50</locationX>
        <locationY>876</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Account.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>SubjectTask</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Email_Sent_Task_0</name>
        <label>Create Email Sent Task</label>
        <locationX>314</locationX>
        <locationY>468</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Account.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>SubjectTaskReminder</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>SetNewMPLDate</name>
        <label>SetNewMPLDate</label>
        <locationX>50</locationX>
        <locationY>576</locationY>
        <connector>
            <targetReference>Wait_for_1_min</targetReference>
        </connector>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Last_MPL_Review</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactStatus__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>No Longer There</stringValue>
            </value>
        </filters>
        <object>Contact</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-02-16</startDate>
            <startTime>09:55:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>MPLReview</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;You are up for review!&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Test</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;xxxxx&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>TestTest</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;ssss&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>CommercialToolsEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>commercialtools@adyen.com</stringValue>
        </value>
    </variables>
    <variables>
        <name>EmailAddresses</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>emailAdresses</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SubjectTask</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>MPL Email Sent</stringValue>
        </value>
    </variables>
    <variables>
        <name>SubjectTaskReminder</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>MPL Email Reminder Sent</stringValue>
        </value>
    </variables>
    <waits>
        <name>Wait_for_1_min</name>
        <label>Wait for 1 min</label>
        <locationX>50</locationX>
        <locationY>684</locationY>
        <defaultConnector>
            <targetReference>Create_Email_Sent_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>pause_1_min</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Create_Email_Sent_Task</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>$Flow.InterviewStartTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
            </inputParameters>
            <label>pause 1 min</label>
        </waitEvents>
    </waits>
</Flow>
