force-app/main/default/flows/OpportunityCreateUpdateReferralRelationships.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Referral_relationships_new_values</name>
        <label>Assign Referral relationships new values</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>varRelationship.PartnerManager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PartnerReferralContactOwner__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRelationship.RecordType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Referral</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRelationship.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Referral_Relationships.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Referral_Relationship</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Relationship_values_on_creation</name>
        <label>Assign Relationship values on creation</label>
        <locationX>578</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>varRelationship.PartnerManager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PartnerReferralContactOwner__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRelationship.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRelationship.RecordType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Referral</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRelationship.Partner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Referral_by_account__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Relationship</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Possible combinations:</description>
        <name>Decision</name>
        <label>Decision</label>
        <locationX>446</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Rel doesn&apos;t exists and Referral Account is Blank</defaultConnectorLabel>
        <rules>
            <name>Yes_and_Referral_Account_is_not_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Referral_Relationships.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Referral_by_account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Referral_relationships_new_values</targetReference>
            </connector>
            <label>Rel exists and Referral Account is not Blank</label>
        </rules>
        <rules>
            <name>Yes_and_Referral_Account_is_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Referral_Relationships.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Referral_by_account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_referral</targetReference>
            </connector>
            <label>Rel exists and Referral Account is Blank</label>
        </rules>
        <rules>
            <name>Rel_doesn_t_exists_and_Referral_Account_is_not_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Referral_Relationships.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Referral_by_account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Relationship_values_on_creation</targetReference>
            </connector>
            <label>Rel doesn&apos;t exists and Referral Account is not Blank</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Opportunity - Create/Update Referral Relationships {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Create/Update Referral Relationships</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_New_Relationship</name>
        <label>Create New Relationship</label>
        <locationX>578</locationX>
        <locationY>695</locationY>
        <inputReference>varRelationship</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_referral</name>
        <label>Delete referral</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <inputReference>Get_Referral_Relationships</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Referral_Relationships</name>
        <label>Get Referral Relationships</label>
        <locationX>446</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Referral</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Relationship__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Referral_Relationship</name>
        <label>Update Referral Relationship</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <inputReference>varRelationship</inputReference>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Referral_Relationships</targetReference>
        </connector>
        <filterFormula>OR(ISNEW(), ISCHANGED({!$Record.Referral_by_account__c}),ISCHANGED({!$Record.PartnerReferralContact__c}),ISCHANGED({!$Record.PartnerReferralContactOwner__c}))</filterFormula>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varRelationship</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Relationship__c</objectType>
    </variables>
</Flow>
