force-app/main/default/flows/OpportunitySendFocusAccountNotification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Custom invocable action to post HTML message to chatter with mentions (RichTextChatter class)</description>
        <name>Post_to_Chatter_Custom</name>
        <label>Post to Chatter (Custom)</label>
        <locationX>176</locationX>
        <locationY>839</locationY>
        <actionName>RichTextChatter</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>get_custom_notific</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>tt_MsgNotif</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>varFeedItemId</assignToReference>
            <name>feeditemId</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Custom_Notific</name>
        <label>Send Custom Notific</label>
        <locationX>176</locationX>
        <locationY>1055</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>get_custom_notific.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>recipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Congratulations!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>tt_changedBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>varFeedItemId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Id</name>
        <label>Assign Id</label>
        <locationX>264</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>varOppTeam</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOppTeam</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_opp_members.UserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOppTeam</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>}  </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOppTeamManagers</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOppTeamManagers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_opp_members.User.ManagerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOppTeamManagers</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_opp_members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Ids</name>
        <label>Assign Ids</label>
        <locationX>176</locationX>
        <locationY>731</locationY>
        <assignmentItems>
            <assignToReference>recipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_to_Chatter_Custom</targetReference>
        </connector>
    </assignments>
    <description>Send a chatter message to opportunity team members about the Opportunity having become a Focus Opp, with additional information on which resources to use, where to find additional information, etc.</description>
    <environments>Default</environments>
    <interviewLabel>Account - Send Focus Account Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Send Focus Account Notification</label>
    <loops>
        <name>Loop_opp_members</name>
        <label>Loop opp members</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>GetOppTeamMembers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Ids</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_custom_notific</name>
        <label>get custom notific</label>
        <locationX>176</locationX>
        <locationY>947</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Custom_Notific</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CustomNotifTypeName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FocusAccountNotification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get all Opportunity members related to the opportunity that triggered the flow</description>
        <name>GetOppTeamMembers</name>
        <label>Get Opp Team Members</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_opp_members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetOppTeamMembers</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsFocusOpportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>FocusNotificationManager</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>One of your team members is working on a Focus Account! This means there is an open Opportunity with a Expected Margin in 1 Year of 100.000 EUR/GBP/USD or higher, they are in Negotiation phase or further and the plan is for the first transaction to come in within the coming 6 months. You can find the next steps provided to them by clicking on this notification!</text>
    </textTemplates>
    <textTemplates>
        <name>tt_changedBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>You are in the opportunity team of a Focus Account. That means that you’re part of an Opportunity that’s in Negotiation stage or later, has &gt;100k margin and is set to go live within the next 6 months. Click on this notification to find out what to do next!</text>
    </textTemplates>
    <textTemplates>
        <name>tt_MsgNotif</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!varOppTeam}&lt;/p&gt;&lt;p&gt;{!varOppTeamManagers}&lt;/p&gt;&lt;p&gt;&amp;nbsp;&lt;/p&gt;&lt;p&gt;You are in the opportunity team of a &lt;strong&gt;Focus Account&lt;/strong&gt;. That means that you’re part of an opportunity that’s in negotiation stage or later, has &amp;gt;100k MM and is set to go live within the next 6 months. Nice!&lt;/p&gt;&lt;p&gt;&amp;nbsp;&lt;/p&gt;&lt;p&gt;This is an opportunity that we feel benefits from prioritised and elevated support to increase win chances and ramp quicker. For this reason, you can ask for &lt;strong&gt;additional and prioritised support from internal teams &lt;/strong&gt;as the deal moves through the sales cycle and towards reaching their forecasted margin.&lt;/p&gt;&lt;p&gt;&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Please do the following:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ol&gt;&lt;li&gt;&lt;strong&gt;Validate&lt;/strong&gt; the forecasted margin and expected go-live date.&amp;nbsp;&lt;ol&gt;&lt;li&gt;Correct means: Realistic margin amount to be live on Adyen 12 months after go-live, and an EFTD that we got commitment on from the merchant.&lt;/li&gt;&lt;/ol&gt;&lt;/li&gt;&lt;li&gt;Look at your opportunity &lt;strong&gt;strategically;&lt;/strong&gt; What do you need to bring this live and ramp it accordingly? &lt;strong&gt;You are the captain of your deal&lt;/strong&gt;; coordinate resources accordingly.&lt;/li&gt;&lt;li&gt;At the bottom of this message, you will find a link to a document showing the priority flows per team outlined. &lt;strong&gt;Reach out&lt;/strong&gt; to the respective POC with the right information to receive support.&lt;/li&gt;&lt;/ol&gt;&lt;p&gt;&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;You can find the priority flows and the FAQ here; &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;https://docs.google.com/document/d/1OZV1KmhFdZy42yEAbUXAh1jouywV6Nn0Z-fwVMYmBZA/edit&lt;/span&gt;. &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If you have other questions, please reach out to Simone van Dusseldorp or Robin Merken&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>Managers</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recipients</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFeedItemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOppTeam</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOppTeamManagers</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
