force-app/main/default/flows/OrderTerminal.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>navigateToOpp</name>
        <label>navigateToOpp</label>
        <locationX>1153</locationX>
        <locationY>288</locationY>
        <actionName>c:navigateToOpp</actionName>
        <actionType>component</actionType>
        <faultConnector>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>OpportunityMeetsCriteria</name>
        <label>Opportunity Meets Criteria</label>
        <locationX>531</locationX>
        <locationY>303</locationY>
        <defaultConnector>
            <targetReference>CannotAddTerminal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AddNewProducts</name>
            <conditionLogic>1 AND (2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>GetOppty.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Transacting</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetOppty.Sales_channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>POS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetOppty.Sales_channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Omnichannel</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetOppty.of_Terminals__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OpportunityProducts</targetReference>
            </connector>
            <label>Add New Products</label>
        </rules>
    </decisions>
    <description>Latest Update: POS to IPP text update</description>
    <environments>Default</environments>
    <formulas>
        <name>CloseDateToday</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>varUserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Order Terminal {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order Terminal</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateTerminalOppty</name>
        <label>Create Terminal Oppty</label>
        <locationX>848</locationX>
        <locationY>297</locationY>
        <assignRecordIdToReference>OpportunityID</assignRecordIdToReference>
        <connector>
            <targetReference>AddedNewOpportunity</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>GetOppty.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>CloseDateToday</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>GetOppty.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Terminal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Primary_Contact__c</field>
            <value>
                <elementReference>GetOppty.Opportunity_Primary_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varUserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentOpportunity__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>GetOppty.Pricebook2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>GetOppty.RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Region__c</field>
            <value>
                <elementReference>GetOppty.Region__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_channel__c</field>
            <value>
                <stringValue>POS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>SCOTSMAN</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Sales Manager Upsell</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordLookups>
        <name>GetOppty</name>
        <label>GetOppty</label>
        <locationX>390</locationX>
        <locationY>301</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OpportunityMeetsCriteria</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>CurrencyIsoCode</queriedFields>
        <queriedFields>Pricebook2Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Region__c</queriedFields>
        <queriedFields>Opportunity_Primary_Contact__c</queriedFields>
        <queriedFields>StageName</queriedFields>
        <queriedFields>Sales_channel__c</queriedFields>
        <queriedFields>of_Terminals__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>OpportunityProducts</name>
        <label>OpportunityProducts</label>
        <locationX>702</locationX>
        <locationY>297</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateTerminalOppty</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>PricebookID__c</queriedFields>
        <queriedFields>Quantity</queriedFields>
        <queriedFields>Roll_Out_Area__c</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
        <queriedFields>ServiceDate</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>PricebookEntryId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>AddedNewOpportunity</name>
        <label>You can now order new Terminals!</label>
        <locationX>979</locationX>
        <locationY>297</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>navigateToOpp</targetReference>
        </connector>
        <fields>
            <name>disSuccess</name>
            <fieldText>&lt;p&gt;A new Child Opportunity has been created for you.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Look at the Terminal Opportunities list on the parent Opportunity. Under that new Opportunity you can add new Terminals.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CannotAddTerminal</name>
        <label>CannotAddTerminal</label>
        <locationX>542</locationX>
        <locationY>681</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DoesNotMeetCriteria</name>
            <fieldText>&lt;p&gt;You cannot add a new Terminal Opportunity as the criteria are not met.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;In order to start this process your opportunity should meet the following criteria:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Opportunity is a Live Opportunity&lt;/li&gt;&lt;li&gt;Sales Channel is IPP or Omnichannel&lt;/li&gt;&lt;li&gt;Opportunity has at least one Terminal product&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ErrorScreen</name>
        <label>ErrorScreen</label>
        <locationX>653</locationX>
        <locationY>50</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>disErrorText</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Something went wrong during this process due to the following error:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(192, 1, 1);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Please retry if you understand what goes wrong, otherwise reach out to your System Administrator.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>301</locationY>
        <connector>
            <targetReference>GetOppty</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>OpportunityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
