force-app/main/default/flows/plastic_surgery.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>pageNamesInOrder_Assignment</name>
        <label>pageNamesInOrder_Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>welcome_page</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_a2d18f58_7c34_401c_9043_f8935fe9615e</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_dd373523_0a70_40bd_b01f_66c0fd95f9ca</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_78e68060_b6c7_4068_a718_b3c279175735</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_617afa49_402c_4654_8d91_678a07d3fe55</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>thank_you_page</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>welcome_page</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>c_018560bf_4d47_4c17_8650_fa8f23069171</name>
        <choiceText>Virtual Group Sessions</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Virtual Group Sessions</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_02626603_6275_4350_9542_b33a7f7debd9</name>
        <choiceText>North America</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>North America</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_03f483fe_e7f6_4714_94d5_6fdcaa5be690</name>
        <choiceText>Europe</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Europe</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_0f7b8b96_cfff_4f59_8edb_e88f8190cc74</name>
        <choiceText>MyTrailhead Trainings</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>MyTrailhead Trainings</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_1803fce8_7792_48d9_a69a_0e0edadb25e5</name>
        <choiceText>Daily</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Daily</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_2f564761_9a8a_481c_9810_028ca7bf5643</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_3c966e73_3d4c_4325_95f1_9fd95e780018</name>
        <choiceText>Partnerships</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Partnerships</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_3da78b2e_49de_45b5_a1cb_266f6cb55533</name>
        <choiceText>Monthly</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Monthly</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_4253bb1e_9e1a_4c57_baae_be7575b655e7</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_468b84ce_936c_41e2_b7c7_44d9330ac7bd</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_51f6af78_eb3a_454e_8d4a_b1696cc294b5</name>
        <choiceText>Training Videos on HUB</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Training Videos on HUB</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_5bc8d3bc_bf74_410c_adde_d16d69bf4aa5</name>
        <choiceText>SDR/Sales Support/Account Associate</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SDR/Sales Support/Account Associate</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_5e567ca3_3f35_4e72_aa7f_87f148dd3ad8</name>
        <choiceText>In-Person Group Sessions</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>In-Person Group Sessions</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_71054cd6_fe48_4481_9117_702984e21980</name>
        <choiceText>Account Manager</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Account Manager</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_7121dde2_2df1_46fc_ac99_ca2f5c6944a5</name>
        <choiceText>Occasionally</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Occasionally </stringValue>
        </value>
    </choices>
    <choices>
        <name>c_7cb96c4c_5b54_4a93_85e6_f3a6408199f9</name>
        <choiceText>Customer Success</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Customer Success</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_85ffeeb8_c808_4259_b5cb_b07d2c4d2ef1</name>
        <choiceText>Weekly</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Weekly</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_879c54cd_8145_46b3_890f_c1e071383c81</name>
        <choiceText>Written How-to Guides on HUB</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Written How-to Guides on HUB</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_889a420c_ca46_4ad7_bb95_4396c1e8c44f</name>
        <choiceText>Sales</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sales</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_9f667beb_3cb8_4f93_95cc_9e496aaf6238</name>
        <choiceText>1-on-1 Sessions</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1-on-1 Sessions</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_ab62d29b_0e14_41a4_9805_69d788181d97</name>
        <choiceText>30-60 mins</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>30-60 mins</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_afd515fb_69d0_4238_92b6_b923811a35db</name>
        <choiceText>Australia</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Australia</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_bd98f300_7651_4db0_afb9_f642493ac14f</name>
        <choiceText>1-2 hours</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1-2 hours</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_bf463ae8_d7d8_48d4_9564_91df877bcfed</name>
        <choiceText>Asia</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Asia</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_cf325ebc_1628_4efa_a055_e88e05bea953</name>
        <choiceText>South America</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>South America</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_d360c11b_df2c_4ad4_996b_9ca990ba609d</name>
        <choiceText>Marketing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Marketing</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_e5db0dfc_7a47_4d6b_a396_c3b3302328fc</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_ea95eb7e_d271_4b01_81b5_c9e4a774011b</name>
        <choiceText>3-4 hours</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3-4 hours</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_ed9cd0e4_e137_4600_8742_b3116a493099</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_efa8851b_1326_4cb6_bb60_ff15fef83e8b</name>
        <choiceText>4+ hours</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>4+ hours</stringValue>
        </value>
    </choices>
    <interviewLabel>Plastic Surgery</interviewLabel>
    <label>Plastic Surgery</label>
    <processMetadataValues>
        <name>BrandingSet</name>
        <value>
            <stringValue>sb_plastic_surgery_10_d7b3ca20_6288_4e8a_9267_918b198f2cb9</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>autoProgressEnabled</name>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>hasWelcomePage</name>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>overrideActiveVersion</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processType>Survey</processType>
    <screens>
        <name>p_617afa49_402c_4654_8d91_678a07d3fe55</name>
        <label>Future Requests</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_453d3380_945f_499b_ae5d_bd8b1f26d9b2</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;What is the most urgent issue that should be solved for you in Salesforce?&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>Such as: layout, manual work, missing data, long processes etc.</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_473aa3c1_5f7f_4b87_a27e_74f8d1f1335f</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;Please leave any other comments or suggestions below.&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_78e68060_b6c7_4068_a718_b3c279175735</name>
        <label>SF Games</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_617afa49_402c_4654_8d91_678a07d3fe55</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_a47e3077_e9f2_4a63_9493_83eb9ec20fb6</name>
            <dataType>String</dataType>
            <extensionName>survey:runtimeShortText</extensionName>
            <fieldText>&lt;p&gt;Based on your job profile, what do you think should be the key metrics of the Salesforce Games?&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <helpText>Think about metrics such as: commercial goals, margin, won deals, conversion rate, etc.</helpText>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_a2d18f58_7c34_401c_9043_f8935fe9615e</name>
        <label>General</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_dd373523_0a70_40bd_b01f_66c0fd95f9ca</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_ba4763cc_41c8_4ace_bb57_5bf6e96c20c3</name>
            <choiceReferences>c_5bc8d3bc_bf74_410c_adde_d16d69bf4aa5</choiceReferences>
            <choiceReferences>c_d360c11b_df2c_4ad4_996b_9ca990ba609d</choiceReferences>
            <choiceReferences>c_3c966e73_3d4c_4325_95f1_9fd95e780018</choiceReferences>
            <choiceReferences>c_889a420c_ca46_4ad7_bb95_4396c1e8c44f</choiceReferences>
            <choiceReferences>c_71054cd6_fe48_4481_9117_702984e21980</choiceReferences>
            <choiceReferences>c_7cb96c4c_5b54_4a93_85e6_f3a6408199f9</choiceReferences>
            <choiceReferences>c_4253bb1e_9e1a_4c57_baae_be7575b655e7</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimePicklist</extensionName>
            <fieldText>&lt;p&gt;Choose your team from the options below:&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_4aca6c40_d528_49be_8231_c33edb810b27</name>
            <dataType>String</dataType>
            <extensionName>survey:runtimeShortText</extensionName>
            <fieldText>&lt;p&gt;You chose Other, please specify:&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>Picklist</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_ba4763cc_41c8_4ace_bb57_5bf6e96c20c3</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>c_4253bb1e_9e1a_4c57_baae_be7575b655e7</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_6163155c_b969_415b_97ca_2d8ac35e7e6e</name>
            <choiceReferences>c_03f483fe_e7f6_4714_94d5_6fdcaa5be690</choiceReferences>
            <choiceReferences>c_02626603_6275_4350_9542_b33a7f7debd9</choiceReferences>
            <choiceReferences>c_cf325ebc_1628_4efa_a055_e88e05bea953</choiceReferences>
            <choiceReferences>c_afd515fb_69d0_4238_92b6_b923811a35db</choiceReferences>
            <choiceReferences>c_bf463ae8_d7d8_48d4_9564_91df877bcfed</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;Choose your location from the options below:&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_740f6140_747c_459e_82e0_90034583629f</name>
            <choiceReferences>c_1803fce8_7792_48d9_a69a_0e0edadb25e5</choiceReferences>
            <choiceReferences>c_85ffeeb8_c808_4259_b5cb_b07d2c4d2ef1</choiceReferences>
            <choiceReferences>c_3da78b2e_49de_45b5_a1cb_266f6cb55533</choiceReferences>
            <choiceReferences>c_7121dde2_2df1_46fc_ac99_ca2f5c6944a5</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;How often do you use Salesforce?&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_e9a6e5ea_e5ce_43c7_9ab8_4a7025736446</name>
            <choiceReferences>c_ab62d29b_0e14_41a4_9805_69d788181d97</choiceReferences>
            <choiceReferences>c_bd98f300_7651_4db0_afb9_f642493ac14f</choiceReferences>
            <choiceReferences>c_ea95eb7e_d271_4b01_81b5_c9e4a774011b</choiceReferences>
            <choiceReferences>c_efa8851b_1326_4cb6_bb60_ff15fef83e8b</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;How much time do you spend in Salesforce on those occasions?&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_de53d407_d0b1_40e1_a44e_05cf76658e58</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;Could you list some of the positive changes that you noticed in Salesforce lately?&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_b51dc667_72c2_41b3_92a1_fbb14386ef31</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;Could you list your pain-points while working in Salesforce?&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NEXT</stringValue>
                </value>
            </processMetadataValues>
            <name>q_fb4e5234_a6d5_4853_9c37_af01600e603b</name>
            <choiceReferences>c_468b84ce_936c_41e2_b7c7_44d9330ac7bd</choiceReferences>
            <choiceReferences>c_2f564761_9a8a_481c_9810_028ca7bf5643</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;Do you know who to reach out to when having a Salesforce related issue?&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_dd373523_0a70_40bd_b01f_66c0fd95f9ca</name>
        <label>Training</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_78e68060_b6c7_4068_a718_b3c279175735</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_09f63f47_b699_4277_93b1_3aa8e8cd73d9</name>
            <choiceReferences>c_e5db0dfc_7a47_4d6b_a396_c3b3302328fc</choiceReferences>
            <choiceReferences>c_ed9cd0e4_e137_4600_8742_b3116a493099</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimePicklist</extensionName>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;Do you feel that you received sufficient training on how to use Salesforce?&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_39299bdc_6411_4aad_8e0a_5a1cf03c6352</name>
            <dataType>String</dataType>
            <extensionName>survey:runtimeShortText</extensionName>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;What additional trainings would you like to receive?&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>Picklist</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_09f63f47_b699_4277_93b1_3aa8e8cd73d9</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>c_ed9cd0e4_e137_4600_8742_b3116a493099</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_86f3b2a2_0431_410c_be36_12ec04bc995c</name>
            <choiceReferences>c_0f7b8b96_cfff_4f59_8edb_e88f8190cc74</choiceReferences>
            <choiceReferences>c_018560bf_4d47_4c17_8650_fa8f23069171</choiceReferences>
            <choiceReferences>c_5e567ca3_3f35_4e72_aa7f_87f148dd3ad8</choiceReferences>
            <choiceReferences>c_9f667beb_3cb8_4f93_95cc_9e496aaf6238</choiceReferences>
            <choiceReferences>c_879c54cd_8145_46b3_890f_c1e071383c81</choiceReferences>
            <choiceReferences>c_51f6af78_eb3a_454e_8d4a_b1696cc294b5</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;In which format would you like to receive trainings?&lt;/p&gt;</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>Picklist</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_09f63f47_b699_4277_93b1_3aa8e8cd73d9</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>c_ed9cd0e4_e137_4600_8742_b3116a493099</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_4e7a0477_64e1_4c53_8076_4066310c638f</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Do you have any topics in mind for upcoming trainings to help you and others work with our commercial tools better?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>welcome_page</name>
        <label>Welcome Page</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>p_a2d18f58_7c34_401c_9043_f8935fe9615e</targetReference>
        </connector>
        <fields>
            <name>welcome_question</name>
            <extensionName>survey:runtimeWelcome</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>{!welcome_question_lref_tt}</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>pageNamesInOrder_Assignment</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>thankYouDescriptionTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text></text>
    </textTemplates>
    <textTemplates>
        <name>thankYouLabelTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;Thank you for participating in our survey.&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;We will incorporate your feedback into our 2022 Roadmap.&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;Wishing you a lovely day,&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;Commercial Operations &amp;amp; Tools Team&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>welcome_question_lref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;Dear Salesforce users!&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;This is an anonymous survey that will take approximately 5 minutes to complete. &lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;Please, make use of this opportunity to provide us with valuable feedback.&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;We appreciate your help,&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;Commercial Operations &amp;amp; Tools Team&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>guestUserLang</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>invitationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>pageNamesInOrder</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>previewMode</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>thankYouDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouDescriptionTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>thankYouLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouLabelTextTemplate}</stringValue>
        </value>
    </variables>
</Flow>
