force-app/main/default/flows/Puck_Update_Account_Owner_Contact_Owner.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>EmailNewAccountOwner</name>
        <label>Email New Account Owner</label>
        <locationX>1586</locationX>
        <locationY>236</locationY>
        <actionName>Account.UpdateAccountOwner</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>GetOldAccountOwner</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SendEmailToOldAccountOwner</name>
        <label>Send Email to Old Account Owner</label>
        <locationX>2063</locationX>
        <locationY>440</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <faultConnector>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>txtReassignAccount</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>GetOldAccountOwner.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Your account has been reassigned</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_Contact</name>
        <label>Add Contact</label>
        <locationX>1676</locationX>
        <locationY>734</locationY>
        <assignmentItems>
            <assignToReference>ListUpdateContactOwners</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>objContact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_semi_colon</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contact_Owner</name>
        <label>Assign Contact Owner</label>
        <locationX>1450</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>objContact.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varNewAccountOwner</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objContact.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contact_Owners</name>
        <label>Assign Contact Owners</label>
        <locationX>1362</locationX>
        <locationY>956</locationY>
        <assignmentItems>
            <assignToReference>objContact.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objContact.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varNewAccountOwner</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Remove_First_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Contact_Assignment</name>
        <label>Contact Assignment</label>
        <locationX>761</locationX>
        <locationY>452</locationY>
        <assignmentItems>
            <assignToReference>varContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Related_Contacts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_First_Id</name>
        <label>Remove First Id</label>
        <locationX>1676</locationX>
        <locationY>881</locationY>
        <assignmentItems>
            <assignToReference>varContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TrimContacts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Contact</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>csmUser</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Customer Success</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Contacts</name>
        <label>Check Contacts</label>
        <locationX>893</locationX>
        <locationY>454</locationY>
        <defaultConnector>
            <targetReference>GetNewAccountOwner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Contacts_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Related_Contacts</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_semi_colon</targetReference>
            </connector>
            <label>Check Contacts Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_semi_colon</name>
        <label>Check for semi-colon</label>
        <locationX>1002</locationX>
        <locationY>875</locationY>
        <defaultConnector>
            <targetReference>Update_Contact_Owners</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_semi_colon</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varContactId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varContactId</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>;</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Contact_Owners</targetReference>
            </connector>
            <label>Check semi-colon</label>
        </rules>
        <rules>
            <name>No_semi_colon</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varContactId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Contact_Owner</targetReference>
            </connector>
            <label>No semi-colon</label>
        </rules>
    </decisions>
    <decisions>
        <name>No_Salesforce_Notifications</name>
        <label>No Salesforce Notifications?</label>
        <locationX>1475</locationX>
        <locationY>448</locationY>
        <defaultConnector>
            <targetReference>EmailNewAccountOwner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Salesforce_Notifications_Checked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetNewAccountOwner.No_Salesforce_Notifications__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetOldAccountOwner</targetReference>
            </connector>
            <label>No Salesforce Notifications Checked</label>
        </rules>
    </decisions>
    <decisions>
        <name>OldOwnerIsActive</name>
        <label>Old Owner Is Active</label>
        <locationX>1863</locationX>
        <locationY>446</locationY>
        <defaultConnectorLabel>Is Not Active</defaultConnectorLabel>
        <rules>
            <name>IsActive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetOldAccountOwner.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetOldAccountOwner.No_Salesforce_Notifications__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetOldAccountOwner.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>csmUser</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendEmailToOldAccountOwner</targetReference>
            </connector>
            <label>Is Active</label>
        </rules>
    </decisions>
    <description>Latest Update: Added Error Handling</description>
    <dynamicChoiceSets>
        <name>contacts</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>varContactId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>currentContactId</name>
        <dataType>String</dataType>
        <expression>LEFT(TRIM({!varContactId}), 18)</expression>
    </formulas>
    <formulas>
        <name>TrimContacts</name>
        <dataType>String</dataType>
        <expression>RIGHT(TRIM({!varContactId}),  LEN(TRIM({!varContactId})) -19)</expression>
    </formulas>
    <formulas>
        <name>varAccountRecordLink</name>
        <dataType>String</dataType>
        <expression>{!$Label.SFDomain} + {!varAccountId}</expression>
    </formulas>
    <formulas>
        <name>varCurrentUser</name>
        <dataType>String</dataType>
        <expression>{!$User.FirstName} &amp; &quot; &quot; &amp; {!$User.LastName}</expression>
    </formulas>
    <interviewLabel>Puck - Update Account Owner + Contact Owner {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Account Owner + Contact Owner</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Account</name>
        <label>Account</label>
        <locationX>261</locationX>
        <locationY>452</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>scrUpdateOwner</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>varAccountId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varOldAccountOwner</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetNewAccountOwner</name>
        <label>Get New Account Owner</label>
        <locationX>1320</locationX>
        <locationY>446</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>No_Salesforce_Notifications</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varNewAccountOwner</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOldAccountOwner</name>
        <label>Get Old Account Owner</label>
        <locationX>1731</locationX>
        <locationY>443</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OldOwnerIsActive</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOldAccountOwner</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact_Owners</name>
        <label>Update Contact Owners</label>
        <locationX>1158</locationX>
        <locationY>553</locationY>
        <connector>
            <targetReference>GetNewAccountOwner</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <inputReference>ListUpdateContactOwners</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateAccountOwner</name>
        <label>Update Account Owner</label>
        <locationX>625</locationX>
        <locationY>452</locationY>
        <connector>
            <targetReference>Contact_Assignment</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varNewAccountOwner</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>ErrorScreen</name>
        <label>ErrorScreen</label>
        <locationX>1026</locationX>
        <locationY>50</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>disErrorText</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Something went wrong during this process due to the following error:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(192, 1, 1);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Please retry if you understand what goes wrong, otherwise reach out to your System Administrator.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scrUpdateOwner</name>
        <label>scrUpdateOwner</label>
        <locationX>372</locationX>
        <locationY>452</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Which_Contacts_should_be_updated_with_the_new_Owner</targetReference>
        </connector>
        <fields>
            <name>lookupAccountOwner</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>CreatedById</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Please lookup the name of the new Account Owner</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varNewAccountOwner</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Which_Contacts_should_be_updated_with_the_new_Owner</name>
        <label>Which Contacts should be updated with the new Owner?</label>
        <locationX>501</locationX>
        <locationY>452</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>UpdateAccountOwner</targetReference>
        </connector>
        <fields>
            <name>Related_Contacts</name>
            <choiceReferences>contacts</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Related Contacts</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <helpText>&lt;p&gt;Select any contacts that should also get the new Account Owner as Contact Owner&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>48</locationX>
        <locationY>564</locationY>
        <connector>
            <targetReference>Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>txtReassignAccount</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Hi {!GetOldAccountOwner.Name},

Ownership of the account {!varAccountName} has been changed from you to {!GetNewAccountOwner.Name} by {!varCurrentUser}.

You can navigate to the account directly via the link below:

{!varAccountRecordLink}

Best regards,

Adyen Salesforce Team</text>
    </textTemplates>
    <variables>
        <name>contact</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ListUpdateContactOwners</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>objContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNewAccountOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOldAccountOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
