force-app/main/default/flows/RejectHandover.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>EmailRejectHandover</name>
        <label>Email Reject Handover</label>
        <locationX>1126</locationX>
        <locationY>50</locationY>
        <actionName>Handover__c.RejectHandover</actionName>
        <actionType>emailAlert</actionType>
        <faultConnector>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varHandoverId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <choices>
        <name>other</name>
        <choiceText>other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>other</stringValue>
        </value>
    </choices>
    <choices>
        <name>reject</name>
        <choiceText>reject</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>reject</stringValue>
        </value>
    </choices>
    <decisions>
        <name>StatusNotCompleted</name>
        <label>Status Not Completed?</label>
        <locationX>390</locationX>
        <locationY>52</locationY>
        <defaultConnector>
            <targetReference>scrStatusCompleted</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Completed</defaultConnectorLabel>
        <rules>
            <name>NotCompleted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varStatus</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scrWarning</targetReference>
            </connector>
            <label>Not Completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>UserIsActive</name>
        <label>User is Active?</label>
        <locationX>832</locationX>
        <locationY>44</locationY>
        <defaultConnector>
            <targetReference>scrFetchUser</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>User Not Active</defaultConnectorLabel>
        <rules>
            <name>UserActive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varUserIsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ResetHandover</targetReference>
            </connector>
            <label>User Active</label>
        </rules>
    </decisions>
    <description>Latest Update: Added Reject Reason picklist and changed scrWarning</description>
    <dynamicChoiceSets>
        <name>ChoicesRejectReason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>RejectReason__c</picklistField>
        <picklistObject>Handover__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>formUpdateStatus</name>
        <dataType>String</dataType>
        <expression>IF(
{!varRecordTypeName} = &apos;Handover&apos;,
&apos;Rejected&apos;,
&apos;Open&apos;
)</expression>
    </formulas>
    <interviewLabel>Reject Handover {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Reject Handover</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetCreatedBy</name>
        <label>Get Created By</label>
        <locationX>720</locationX>
        <locationY>42</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UserIsActive</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCreatedById</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>varUserIsActive</assignToReference>
            <field>IsActive</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>ResetHandover</name>
        <label>Reset Handover</label>
        <locationX>1015</locationX>
        <locationY>51</locationY>
        <connector>
            <targetReference>EmailRejectHandover</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varHandoverId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varAssignedUser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RejectReasonDetail__c</field>
            <value>
                <elementReference>inpRejectReason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RejectReason__c</field>
            <value>
                <elementReference>PickRejectReason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>formUpdateStatus</elementReference>
            </value>
        </inputAssignments>
        <object>Handover__c</object>
    </recordUpdates>
    <screens>
        <name>ErrorScreen</name>
        <label>ErrorScreen</label>
        <locationX>733</locationX>
        <locationY>631</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>disErrorText</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Something went wrong during this process due to the following error:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(192, 1, 1); background-color: rgb(255, 255, 255);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Please retry if you understand what goes wrong, otherwise reach out to your System Administrator.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scrFetchUser</name>
        <label>scrFetchUser</label>
        <locationX>842</locationX>
        <locationY>232</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ResetHandover</targetReference>
        </connector>
        <fields>
            <name>displFetchUser</name>
            <fieldText>&lt;p&gt;The Handover cannot be assigned to the user who created the Handover, because that user has been deactivated. Please select a user to assign the Handover to.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>LookupUser</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Handover__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>User</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>CreatedById</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varAssignedUser</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scrStatusCompleted</name>
        <label>scrStatusCompleted</label>
        <locationX>523</locationX>
        <locationY>236</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>displStatusCompleted</name>
            <fieldText>&lt;p&gt;You cannot reject a completed Handover. Click Finish to stop this flow.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scrWarning</name>
        <label>scrWarning</label>
        <locationX>601</locationX>
        <locationY>46</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GetCreatedBy</targetReference>
        </connector>
        <fields>
            <name>PickRejectReason</name>
            <choiceReferences>ChoicesRejectReason</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Reject Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>inpRejectReason</name>
            <fieldText>Reject Reason detail</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>displWarning</name>
            <fieldText>&lt;p&gt;The Handover will be set to the {!formUpdateStatus} status and will be assigned to the user who created the Handover when you click the Next button. Are you sure you want to continue?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>34</locationX>
        <locationY>36</locationY>
        <connector>
            <targetReference>StatusNotCompleted</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>varAssignedUser</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>varCreatedById</elementReference>
        </value>
    </variables>
    <variables>
        <name>varCreatedById</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varHandoverId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varUserIsActive</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
