force-app/main/default/flows/ResubmitClaimMemberForApproval.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ClaimTeamNotification</name>
        <label>Claim Team Notification</label>
        <locationX>182</locationX>
        <locationY>1946</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>IsEslOtherThanCm</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>txtClaimTeamNotification</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>varCollectionOfEligibleEmailAddresses</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Fellow Claim Member Notification</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>EligibleSalesLeadNotification</name>
        <label>Eligible Sales Lead Notification</label>
        <locationX>50</locationX>
        <locationY>2438</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>scrApprovalSubmitted</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>txtEligibleSalesLeadNotification</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>GetEligibleSalesLead.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Claim Notification</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>ResubmitClaimMemberForApproval</name>
        <label>Resubmit Claim Member for approval</label>
        <locationX>446</locationX>
        <locationY>1250</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>GetClaimTeam</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>submitterId</name>
            <value>
                <elementReference>varCurrentUserId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>AssignEligibleEmailAddresses</name>
        <label>Assign Eligible Email Addresses</label>
        <locationX>534</locationX>
        <locationY>1610</locationY>
        <assignmentItems>
            <assignToReference>varCollectionOfEligibleEmailAddresses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopClaimTeam.User__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNumberOfNotificationMember</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopClaimTeam</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>choNo</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>choYes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>AreThereOthersToNotify</name>
        <label>Are there others to notify?</label>
        <locationX>446</locationX>
        <locationY>1826</locationY>
        <defaultConnector>
            <targetReference>IsEslOtherThanCm</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ThereAreOthersToNotify</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varNumberOfNotificationMember</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ClaimTeamNotification</targetReference>
            </connector>
            <label>There are others to notify</label>
        </rules>
    </decisions>
    <decisions>
        <name>DoesStatusEqualRecalledOrDenied</name>
        <label>Does Status equal Recalled or Denied?</label>
        <locationX>1469</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>scrInvalidStatus</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>StatusEqualsRecalledOrDenied</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Recalled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Denied</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IsCurrentUserRecordOwner</targetReference>
            </connector>
            <label>Status equals Recalled or Denied</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsCurrentUserRecordOwner</name>
        <label>Is current user record owner?</label>
        <locationX>1040</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>scrInvalidUser</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CurrentUserIsRecordOwner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <elementReference>varCurrentUserId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screenSubmitClaimMemberForApproval</targetReference>
            </connector>
            <label>Current user is record owner</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsEslOtherThanCm</name>
        <label>Is ESL other than CM?</label>
        <locationX>446</locationX>
        <locationY>2198</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>scrApprovalSubmitted</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>EslIsOtherThanCm</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>forUpdatedEligibleSalesLead</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>forUpdatedEligibleSalesLead</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varCurrentManagerId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetEligibleSalesLead</targetReference>
            </connector>
            <label>ESL is other than CM</label>
        </rules>
    </decisions>
    <decisions>
        <name>ShouldEligibleSalesLeadBeCorrected</name>
        <label>Should Eligible Sales Lead be corrected?</label>
        <locationX>446</locationX>
        <locationY>878</locationY>
        <defaultConnector>
            <targetReference>ResubmitClaimMemberForApproval</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>EligibleSalesLeadShouldBeCorrected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>scrCorrectManager</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choYes</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varUpdatedEligibleSalesLead</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateClaimMember</targetReference>
            </connector>
            <label>Eligible Sales Lead should be corrected</label>
        </rules>
    </decisions>
    <description>Latest Update: Added Error Handling</description>
    <formulas>
        <name>forClaimRecordLink</name>
        <dataType>String</dataType>
        <expression>{!$Label.SFDomain} + {!varClaim}</expression>
    </formulas>
    <formulas>
        <name>forCurrentManagerId</name>
        <dataType>String</dataType>
        <expression>{!$User.ManagerId}</expression>
    </formulas>
    <formulas>
        <name>forCurrentManagerName</name>
        <dataType>String</dataType>
        <expression>{!$User.Manager__c}</expression>
    </formulas>
    <formulas>
        <name>forUpdatedEligibleSalesLead</name>
        <dataType>String</dataType>
        <expression>IF(LEN({!varUpdatedEligibleSalesLead})=18,{!varUpdatedEligibleSalesLead},
IF(LEN({!varEligibleSalesLead})=18,{!varEligibleSalesLead},
NULL))</expression>
    </formulas>
    <formulas>
        <name>varCurrentUserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Re-Submit Claim Member {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Resubmit Claim Member for approval</label>
    <loops>
        <name>LoopClaimTeam</name>
        <label>Loop Claim Team</label>
        <locationX>446</locationX>
        <locationY>1490</locationY>
        <collectionReference>GetClaimTeam</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignEligibleEmailAddresses</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>AreThereOthersToNotify</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetAccount</name>
        <label>Get Account</label>
        <locationX>1469</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DoesStatusEqualRecalledOrDenied</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetClaimMember</name>
        <label>Get Claim Member</label>
        <locationX>1469</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetCurrentUser</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>ClaimMembers__c</object>
        <outputAssignments>
            <assignToReference>varAccountId</assignToReference>
            <field>Account__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varClaim</assignToReference>
            <field>Claim__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varEligibleSalesLead</assignToReference>
            <field>EligibleSalesLead__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varOwnerId</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varStatus</assignToReference>
            <field>Status__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetClaimTeam</name>
        <label>Get Claim Team</label>
        <locationX>446</locationX>
        <locationY>1370</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopClaimTeam</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Claim__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varClaim</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ClaimMembers__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCurrentUser</name>
        <label>Get Current User</label>
        <locationX>1469</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetAccount</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>varCurrentManagerId</assignToReference>
            <field>ManagerId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCurrentManagerName</assignToReference>
            <field>Manager__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varUserFullName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetEligibleSalesLead</name>
        <label>Get Eligible Sales Lead</label>
        <locationX>50</locationX>
        <locationY>2318</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EligibleSalesLeadNotification</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>forUpdatedEligibleSalesLead</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateClaimMember</name>
        <label>Update Claim Member</label>
        <locationX>182</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>ResubmitClaimMemberForApproval</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EligibleSalesLead__c</field>
            <value>
                <elementReference>varUpdatedEligibleSalesLead</elementReference>
            </value>
        </inputAssignments>
        <object>ClaimMembers__c</object>
    </recordUpdates>
    <screens>
        <name>ErrorScreen</name>
        <label>ErrorScreen</label>
        <locationX>314</locationX>
        <locationY>2558</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>disErrorText</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Something went wrong during this process due to the following error:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(192, 1, 1);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Please retry if you understand what goes wrong, otherwise reach out to your System Administrator.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scrApprovalSubmitted</name>
        <label>scrApprovalSubmitted</label>
        <locationX>50</locationX>
        <locationY>2558</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>displApprovalSubmitted</name>
            <fieldText>&lt;p&gt;Your Claim has been submitted for approval! &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Please click Finish to return to the Claim Member record.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screenSubmitClaimMemberForApproval</name>
        <label>Submit Claim Member for approval</label>
        <locationX>446</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ShouldEligibleSalesLeadBeCorrected</targetReference>
        </connector>
        <fields>
            <name>disSubmitClaimMemberForApprovalHeader</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 24px; background-color: rgb(255, 255, 255);&quot;&gt;Submit for Approval&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>scrCorrectManager</name>
            <choiceReferences>choYes</choiceReferences>
            <choiceReferences>choNo</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>choNo</defaultSelectedChoiceReference>
            <fieldText>The Eligible Sales Lead was not populated yet. Do you want to update the Eligible Sales Lead?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varEligibleSalesLead</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>lkpEligibleSalesLead</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>ClaimMembers__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>EligibleSalesLead__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Eligible Sales Lead</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varUpdatedEligibleSalesLead</assignToReference>
                <name>recordId</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>scrCorrectManager</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choYes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>disSubmitClaimMemberForApproval</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Warning&lt;/b&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;: After clicking the Next button, your claim request will be submitted for approval. Click the Next button if you are sure you want to submit your claim request.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scrInvalidStatus</name>
        <label>scrInvalidStatus</label>
        <locationX>1898</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>displInvalidStatus</name>
            <fieldText>&lt;p&gt;Only Claim Members with the Status &quot;Recalled&quot; or &quot;Denied&quot; can be resubmitted for approval. &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Please click Finish to return to the Claim Member record.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scrInvalidUser</name>
        <label>scrInvalidUser</label>
        <locationX>1634</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>displInvalidUser</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Only the record owner can resubmit the Claim Member for approval. Please contact your administrator if you are not the record owner of you Claim Member record. Please click Finish to return to the Claim Member record.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1343</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetClaimMember</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>txtClaimTeamNotification</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Just a heads up that {!varUserFullName} is Claiming a Commission on the {!GetAccount.Name} Account.&lt;/p&gt;&lt;p&gt;You are also Eligible for Commission on this Account.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;You can view this Claim here:&lt;/p&gt;&lt;p&gt;{!forClaimRecordLink}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Reach out to the Commercial Analytics team in case this is a mistake.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thank you,&lt;/p&gt;&lt;p&gt;Adyen Salesforce Team&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>txtEligibleSalesLeadNotification</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Just a heads up that {!varUserFullName} is Claiming a Commission on the {!GetAccount.Name} Account.&lt;/p&gt;&lt;p&gt;You have been selected as the Eligible Sales Lead on this Claim.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;You can view this Claim here:&lt;/p&gt;&lt;p&gt;{!forClaimRecordLink}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Reach out to the Commercial Analytics team in case this is a mistake.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thank you,&lt;/p&gt;&lt;p&gt;Adyen Salesforce Team&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varClaim</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCollectionOfEligibleEmailAddresses</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCurrentManagerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCurrentManagerName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varEligibleSalesLead</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varEligibleSalesLeadEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varEligibleSalesLeadName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Unknown</stringValue>
        </value>
    </variables>
    <variables>
        <name>varNumberOfNotificationMember</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varUpdatedEligibleSalesLead</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varUserFullName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
