force-app/main/default/flows/salesforce_olympics.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>pageNamesInOrder_Assignment</name>
        <label>pageNamesInOrder_Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>welcome_page</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_5bb71f82_5a3a_46c9_86e7_0319f18d4ab2</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>thank_you_page</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>welcome_page</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>c_018ecacf_223c_4f93_8e81_896e27df21a2</name>
        <choiceText>Sales</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sales</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_3b18d1d0_912a_4d0a_a165_f98ed7042943</name>
        <choiceText>Partnerships</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Partnerships</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_482ec591_a72b_4abf_adf8_8e15215bb486</name>
        <choiceText>Customer Success</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Customer Success</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_6dbd8d05_bfb4_4022_9109_db565244e3d2</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_91e7ccf9_0803_4e8f_bed8_06fd5e36aa83</name>
        <choiceText>Account Management</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Account Management</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_938c3139_73ae_40be_a962_964426ab242f</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_940be1c8_ce8f_46c4_b1c9_42d705d69a10</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_fa17b867_ccca_4514_8c20_61f2e1896a18</name>
        <choiceText>SDR</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SDR</stringValue>
        </value>
    </choices>
    <interviewLabel>Salesforce Olympics</interviewLabel>
    <label>Salesforce Olympics</label>
    <processMetadataValues>
        <name>BrandingSet</name>
        <value>
            <stringValue>sb_salesforce_olympics_2_2320887c_6411_41f2_8086_fab671ac2cfa</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>advanceThankYouPageEnabled</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>autoProgressEnabled</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>hasWelcomePage</name>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>isSimpleSurvey</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>overrideActiveVersion</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processType>Survey</processType>
    <screens>
        <name>p_5bb71f82_5a3a_46c9_86e7_0319f18d4ab2</name>
        <label>Page 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_ffeac359_a645_4758_a80a_049ed8a4525e</name>
            <choiceReferences>c_91e7ccf9_0803_4e8f_bed8_06fd5e36aa83</choiceReferences>
            <choiceReferences>c_018ecacf_223c_4f93_8e81_896e27df21a2</choiceReferences>
            <choiceReferences>c_fa17b867_ccca_4514_8c20_61f2e1896a18</choiceReferences>
            <choiceReferences>c_3b18d1d0_912a_4d0a_a165_f98ed7042943</choiceReferences>
            <choiceReferences>c_482ec591_a72b_4abf_adf8_8e15215bb486</choiceReferences>
            <choiceReferences>c_938c3139_73ae_40be_a962_964426ab242f</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimePicklist</extensionName>
            <fieldText>&lt;p&gt;Which tea&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;m are you part of?&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_30b7cde1_c01f_496b_b3ec_1028c1c08db1</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;What would you change about the Sale&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;sforce Olympics game?&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_412b379e_2414_40a3_ba0e_c0f786394410</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;Which components would you keep fro&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;m the current dashboards (if any)?&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_7de54228_dd37_497d_80b4_c21430eb43dd</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;Which components would you remove fro&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;m the current dashboards?&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_084403a0_248d_41ab_84ee_7159e0b7d427</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;What new components would you like to&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt; see in 2023?&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_6df77b20_cf86_4e60_8adb_a7aff4cd9786</name>
            <choiceReferences>c_6dbd8d05_bfb4_4022_9109_db565244e3d2</choiceReferences>
            <choiceReferences>c_940be1c8_ce8f_46c4_b1c9_42d705d69a10</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimePicklist</extensionName>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Do you feel that playing the games has improved your data quality and focus over the years?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_e69927d5_27d7_43db_8f7b_52d24638eb69</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;Could you explain in a few sentences why you chose &apos;No&apos; in the previous question?&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>Picklist</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_6df77b20_cf86_4e60_8adb_a7aff4cd9786</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>c_940be1c8_ce8f_46c4_b1c9_42d705d69a10</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>welcome_page</name>
        <label>Welcome Page</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>p_5bb71f82_5a3a_46c9_86e7_0319f18d4ab2</targetReference>
        </connector>
        <fields>
            <name>welcome_question</name>
            <extensionName>survey:runtimeWelcome</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>{!welcome_question_lref_tt}</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>pageNamesInOrder_Assignment</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>thankYouDescriptionTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text></text>
    </textTemplates>
    <textTemplates>
        <name>thankYouLabelTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Thank you for all your input.&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;We hope to come back to you with a revamped, killer Salesforce Olympics game next year!&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://media.tenor.com/sZ8zYU7hT1wAAAAd/dance-party.gif&quot; alt=&quot;Dance Party GIF - Dance Party Happy GIFs&quot;&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>welcome_question_lref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Thank you for participating in this survey. We count on your feedback to create an impactful Salesforce Olympics game in 2023.&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://media.tenor.com/7X9KjkIfDQwAAAAC/michael-scott.gif&quot; alt=&quot;Michael Scott GIF - Michael Scott Dancing GIFs&quot;&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>guestUserLang</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>invitationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>pageNamesInOrder</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>previewMode</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>thankYouDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouDescriptionTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>thankYouLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouLabelTextTemplate}</stringValue>
        </value>
    </variables>
</Flow>
