force-app/main/default/flows/salesforce_survey_2023.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>pageNamesInOrder_Assignment</name>
        <label>pageNamesInOrder_Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>welcome_page</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_a877607b_5321_4f10_9e5b_e0931858adb5</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>thank_you_page</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>welcome_page</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>c_07e11e1b_9f55_4364_be08_6973aac19172</name>
        <choiceText>Opportunity overview</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Opportunity overview</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_0f559eed_4bb8_4a8b_8813_dee9a6ced83a</name>
        <choiceText>Partnerships</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Partnerships</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_10f71c8d_8d82_428b_bf79_96b6835dab19</name>
        <choiceText>Marketing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Marketing</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_14cac8da_1a70_4e1f_944d_6cd5e55a04fc</name>
        <choiceText>Weekly</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Weekly</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_17a68fee_2c62_4431_bca0_08254cd33e26</name>
        <choiceText>Account Plans</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Account Plans</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_388a6268_73f8_4fd5_84a5_fe8a51c79556</name>
        <choiceText>Contact overview</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Contact overview</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_3955b699_1212_4488_9d74_6af74268e0c7</name>
        <choiceText>Logging activities is complex</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Logging activities is complex</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_4a6f20f5_a250_4660_9e2d_cdc9b9335323</name>
        <choiceText>EMEA</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>EMEA</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_4bf63310_25fe_415d_820e_4e4c004e4d25</name>
        <choiceText>Less than a year</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Less than a year</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_4cd793e0_0355_455b_b379_4d503d050dd9</name>
        <choiceText>Monthly</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Monthly</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_4fe5a1d0_feec_4f27_a803_5a616b2e023b</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_54e75b07_9e23_4231_af55_302d9be512db</name>
        <choiceText>MyTrailhead</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>MyTrailhead</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_577f0891_76f2_40ba_8310_a2c5e94d1153</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_5d7b9bfc_1d81_4398_8fdf_60be0ea01625</name>
        <choiceText>Homepage</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Homepage</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_633e8948_6d47_4640_b7c1_ae7cd0379a0a</name>
        <choiceText>Sales Support</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sales Support</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_6b28ac0b_e5cb_4971_ab0e_a873c054120e</name>
        <choiceText>Dashboards</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dashboards</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_71bbbfa7_201a_4254_95c7_2b9eca0babd2</name>
        <choiceText>Account Manager</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Account Manager</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_7276b941_86ed_49c3_b372_29ebb5136f74</name>
        <choiceText>Too many clicks</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Too many clicks</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_7924498b_dfd9_4861_8f5f_2ec0b1fb0897</name>
        <choiceText>Only on rare occasions when I have to</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Only on rare occasions when I have to</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_7b5f3568_c850_4d67_9bd3_3b611b5712f3</name>
        <choiceText>More than 3 years</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>More than 3 years</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_7bab7b62_4c80_4765_9c66_fb4b79c57a89</name>
        <choiceText>MyTrailhead</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>MyTrailhead</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_7bd6bb44_e195_4730_a8d2_9adcef730c9c</name>
        <choiceText>Not sure where to find what</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not sure where to find what</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_7ca51249_d839_4a01_ac40_fad742561b14</name>
        <choiceText>Contact overview</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Contact overview</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_8099a61b_145a_4c1e_b9b0_5adb18d5a1b4</name>
        <choiceText>Dashboards</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dashboards</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_85907934_9280_47d4_bd78_76dc78b85477</name>
        <choiceText>Account overview</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Account overview</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_8b0fd743_6bb0_42e8_9c9a_b91da5ba6587</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_8b2797d8_87cf_40df_babc_8a064f37501f</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_8b71d05a_821d_4d30_98e3_17712a796077</name>
        <choiceText>Homepage</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Homepage</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_8c5eb207_24cb_427d_a946_a7e38d65ac67</name>
        <choiceText>Latin America</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Latin America</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_9744303f_56c6_44d4_923e_4227af3cce18</name>
        <choiceText>Lead overview</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Lead overview</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_98d82cea_2300_4b7e_abca_58fcefb6cb57</name>
        <choiceText>Lead overview</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Lead overview</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_9d0efa1c_2f77_4a73_9edd_1886458c912f</name>
        <choiceText>Handover</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Handover</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_a62a9f22_0650_4a6a_8696_3a46c74d9080</name>
        <choiceText>MSI</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>MSI</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_b4c35710_e423_46c0_998a_29ec2fa0ccde</name>
        <choiceText>Handover</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Handover</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_c08353b6_e907_4516_8d80_023552945f60</name>
        <choiceText>Not enough reminders (for example, when Go Live date is in the past)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not enough reminders (for example, when Go Live date is in the past)</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_c1015550_832b_4053_bd10_6988fc37aab1</name>
        <choiceText>Daily</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Daily</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_c2cd5a27_8237_45e3_a775_de38a065532b</name>
        <choiceText>Account Manager Pool</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Account Manager Pool</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_ca219355_8e29_435c_bed7_6b97132c6590</name>
        <choiceText>Confusing UI</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Confusing UI</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_d8de91ea_ad47_4d81_9ae6_1470fd9850ab</name>
        <choiceText>When facing errors, error messages are not clear</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>When facing errors, error messages are not clear</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_e23bb232_6125_4b51_ad94_22a6afa3722f</name>
        <choiceText>MSI</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>MSI</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_e9c78011_b797_4bc2_af3e_d7d90bb54ede</name>
        <choiceText>Between 1 and 3 years</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Between 1 and 3 years</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_efb34eb2_702e_4f62_9796_e77c03e2f469</name>
        <choiceText>Opportunity overview</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Opportunity overview</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_f0280eda_0853_4f05_8af1_aaeab275d881</name>
        <choiceText>North America</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>North America</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_f1c1341e_a3a2_44fa_9453_38ecdc9c4ea4</name>
        <choiceText>APAC</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>APAC</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_f3c4eb2c_047f_43f7_a6f5_e5c034f076c5</name>
        <choiceText>Account overview</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Account overview</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_f49020b2_dd7d_4aed_90bd_cf3335f857a4</name>
        <choiceText>Sales</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sales</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_f63349d1_2e3c_44d9_ba15_6d59aeeb708b</name>
        <choiceText>Account Plans</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Account Plans</stringValue>
        </value>
    </choices>
    <interviewLabel>Salesforce Survey 2023</interviewLabel>
    <label>Salesforce Survey 2023</label>
    <processMetadataValues>
        <name>BrandingSet</name>
        <value>
            <stringValue>sb_salesforce_survey_2023_2_e1ddda0c_311f_46b0_aacf_1a12eeccd8f0</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>advanceThankYouPageEnabled</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>autoProgressEnabled</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>hasWelcomePage</name>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>isSimpleSurvey</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>overrideActiveVersion</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processType>Survey</processType>
    <screens>
        <name>p_a877607b_5321_4f10_9e5b_e0931858adb5</name>
        <label>Questions</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_cf0c1dae_cafd_447d_8617_59cd1e5f97d5</name>
            <choiceReferences>c_71bbbfa7_201a_4254_95c7_2b9eca0babd2</choiceReferences>
            <choiceReferences>c_c2cd5a27_8237_45e3_a775_de38a065532b</choiceReferences>
            <choiceReferences>c_f49020b2_dd7d_4aed_90bd_cf3335f857a4</choiceReferences>
            <choiceReferences>c_633e8948_6d47_4640_b7c1_ae7cd0379a0a</choiceReferences>
            <choiceReferences>c_0f559eed_4bb8_4a8b_8813_dee9a6ced83a</choiceReferences>
            <choiceReferences>c_10f71c8d_8d82_428b_bf79_96b6835dab19</choiceReferences>
            <choiceReferences>c_4fe5a1d0_feec_4f27_a803_5a616b2e023b</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimePicklist</extensionName>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;What is yo&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;ur role?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_e391c3db_cdf4_4f3a_83d7_d8bffa862b6b</name>
            <choiceReferences>c_f1c1341e_a3a2_44fa_9453_38ecdc9c4ea4</choiceReferences>
            <choiceReferences>c_4a6f20f5_a250_4660_9e2d_cdc9b9335323</choiceReferences>
            <choiceReferences>c_8c5eb207_24cb_427d_a946_a7e38d65ac67</choiceReferences>
            <choiceReferences>c_f0280eda_0853_4f05_8af1_aaeab275d881</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimePicklist</extensionName>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;In which region are you based?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_1af59ab9_f919_4b9d_8620_27f000a8f8f4</name>
            <choiceReferences>c_4bf63310_25fe_415d_820e_4e4c004e4d25</choiceReferences>
            <choiceReferences>c_e9c78011_b797_4bc2_af3e_d7d90bb54ede</choiceReferences>
            <choiceReferences>c_7b5f3568_c850_4d67_9bd3_3b611b5712f3</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimePicklist</extensionName>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;How long have you been working at Ady&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;en?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_caa6143e_9f82_4b10_8734_3cdc8bf907a8</name>
            <choiceReferences>c_c1015550_832b_4053_bd10_6988fc37aab1</choiceReferences>
            <choiceReferences>c_14cac8da_1a70_4e1f_944d_6cd5e55a04fc</choiceReferences>
            <choiceReferences>c_4cd793e0_0355_455b_b379_4d503d050dd9</choiceReferences>
            <choiceReferences>c_7924498b_dfd9_4861_8f5f_2ec0b1fb0897</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: &amp;quot;Google Sans&amp;quot;, Roboto, Helvetica, Arial, sans-serif; font-size: 14px;&quot;&gt;How often do you use &lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;Salesforce?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_4476c384_8056_46bc_83db_e14b26e09b22_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>max</name>
                <value>
                    <stringValue>10</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>min</name>
                <value>
                    <stringValue>0</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>npsColorCodeEnabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <name>q_4476c384_8056_46bc_83db_e14b26e09b22</name>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeNps</extensionName>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;How likely are you to recomme&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;nd Salesforce to your colleagues?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_8a37b29c_dade_470f_99b7_8f5a1b5c0587_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>max</name>
                <value>
                    <stringValue>6</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>min</name>
                <value>
                    <stringValue>0</stringValue>
                </value>
            </processMetadataValues>
            <name>q_8a37b29c_dade_470f_99b7_8f5a1b5c0587</name>
            <dataType>Number</dataType>
            <extensionName>survey:cmpInputRuntimeCsat</extensionName>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Salesforce helps me to do my work more efficiently&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;0 = Strongly Disagree, 6 = Strongly Agree&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_2349ac57_32df_4e1b_aba9_5d5f29f4d96f_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>max</name>
                <value>
                    <stringValue>6</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>min</name>
                <value>
                    <stringValue>0</stringValue>
                </value>
            </processMetadataValues>
            <name>q_2349ac57_32df_4e1b_aba9_5d5f29f4d96f</name>
            <dataType>Number</dataType>
            <extensionName>survey:cmpInputRuntimeCsat</extensionName>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Salesforce helps me to work smarter&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;0 = Strongly Disagree, 6 = Strongly Agree&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_11a03983_6b61_4632_9c81_b47a1c5bad23</name>
            <choiceReferences>c_85907934_9280_47d4_bd78_76dc78b85477</choiceReferences>
            <choiceReferences>c_388a6268_73f8_4fd5_84a5_fe8a51c79556</choiceReferences>
            <choiceReferences>c_98d82cea_2300_4b7e_abca_58fcefb6cb57</choiceReferences>
            <choiceReferences>c_07e11e1b_9f55_4364_be08_6973aac19172</choiceReferences>
            <choiceReferences>c_17a68fee_2c62_4431_bca0_08254cd33e26</choiceReferences>
            <choiceReferences>c_9d0efa1c_2f77_4a73_9edd_1886458c912f</choiceReferences>
            <choiceReferences>c_5d7b9bfc_1d81_4398_8fdf_60be0ea01625</choiceReferences>
            <choiceReferences>c_8099a61b_145a_4c1e_b9b0_5adb18d5a1b4</choiceReferences>
            <choiceReferences>c_54e75b07_9e23_4231_af55_302d9be512db</choiceReferences>
            <choiceReferences>c_a62a9f22_0650_4a6a_8696_3a46c74d9080</choiceReferences>
            <choiceReferences>c_577f0891_76f2_40ba_8310_a2c5e94d1153</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Which parts of Salesforce help you the most in your role?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_09ef00f0_2e7b_4155_8bc9_1bf89674a528</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;You choose, MSI as a tool in Salesforce that helps you the most. Could you give us a few examples of what would you consider to be an Interesting Moment/Touchpoint from a prospective merchant?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>MultiChoice</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_11a03983_6b61_4632_9c81_b47a1c5bad23</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <elementReference>c_a62a9f22_0650_4a6a_8696_3a46c74d9080</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_5338a290_0663_47c6_a47f_00e59ecaa9e0</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Could you share in a few words/&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;sentences why?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_83afac6f_988e_4a4d_abd8_9b448d046241</name>
            <choiceReferences>c_f3c4eb2c_047f_43f7_a6f5_e5c034f076c5</choiceReferences>
            <choiceReferences>c_7ca51249_d839_4a01_ac40_fad742561b14</choiceReferences>
            <choiceReferences>c_9744303f_56c6_44d4_923e_4227af3cce18</choiceReferences>
            <choiceReferences>c_efb34eb2_702e_4f62_9796_e77c03e2f469</choiceReferences>
            <choiceReferences>c_f63349d1_2e3c_44d9_ba15_6d59aeeb708b</choiceReferences>
            <choiceReferences>c_b4c35710_e423_46c0_998a_29ec2fa0ccde</choiceReferences>
            <choiceReferences>c_8b71d05a_821d_4d30_98e3_17712a796077</choiceReferences>
            <choiceReferences>c_6b28ac0b_e5cb_4971_ab0e_a873c054120e</choiceReferences>
            <choiceReferences>c_7bab7b62_4c80_4765_9c66_fb4b79c57a89</choiceReferences>
            <choiceReferences>c_e23bb232_6125_4b51_ad94_22a6afa3722f</choiceReferences>
            <choiceReferences>c_8b2797d8_87cf_40df_babc_8a064f37501f</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Which parts of salesforce (if any) are not helping you to be more productive &amp;amp; efficient in your role?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_80c7b85a_9f82_48af_b79b_a1d61c373674</name>
            <choiceReferences>c_7276b941_86ed_49c3_b372_29ebb5136f74</choiceReferences>
            <choiceReferences>c_d8de91ea_ad47_4d81_9ae6_1470fd9850ab</choiceReferences>
            <choiceReferences>c_ca219355_8e29_435c_bed7_6b97132c6590</choiceReferences>
            <choiceReferences>c_3955b699_1212_4488_9d74_6af74268e0c7</choiceReferences>
            <choiceReferences>c_c08353b6_e907_4516_8d80_023552945f60</choiceReferences>
            <choiceReferences>c_7bd6bb44_e195_4730_a8d2_9adcef730c9c</choiceReferences>
            <choiceReferences>c_8b0fd743_6bb0_42e8_9c9a_b91da5ba6587</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;What are your main pain points (if any) when working in Salesforce? &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_03662018_b313_448f_940b_9009d73f1c5e</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Any suggestions you have for us to improve these parts of the system?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_53c029e7_93a3_4c60_8ee9_fbe7f8a675d1</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;If you have any other feedback, you can add it here:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>welcome_page</name>
        <label>Welcome Page</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>p_a877607b_5321_4f10_9e5b_e0931858adb5</targetReference>
        </connector>
        <fields>
            <name>welcome_question</name>
            <extensionName>survey:runtimeWelcome</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>{!welcome_question_lref_tt}</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>pageNamesInOrder_Assignment</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>thankYouDescriptionTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text></text>
    </textTemplates>
    <textTemplates>
        <name>thankYouLabelTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Thanks for filling out the surve&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;y! We will make sure to iterate based on your feedback!&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>welcome_question_lref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;As Adyen keeps growing, it is becoming more and more important for us to improve the way we plan, collaborate and share strategic information about our merchants, and Salesforce plays a key role in this.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;To help us get there, please fill out this short survey.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Won&apos;t take more than 5 minutes!&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>guestUserLang</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>invitationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>pageNamesInOrder</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>previewMode</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>thankYouDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouDescriptionTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>thankYouLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouLabelTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>var_q_2349ac57_32df_4e1b_aba9_5d5f29f4d96f_defaultValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>var_q_4476c384_8056_46bc_83db_e14b26e09b22_defaultValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>var_q_8a37b29c_dade_470f_99b7_8f5a1b5c0587_defaultValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
