force-app/main/default/flows/ScreenApproveRejectOpportunityProducts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>AssignToCollection</name>
        <label>Assign to Collection</label>
        <locationX>138</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>collectionOpportunityProducts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSingleOpportunityProduct</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOpportunityProducts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetRejectOrApproveValue</name>
        <label>Set Reject or Approve Value</label>
        <locationX>138</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>varSingleOpportunityProduct.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOpportunityProducts</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleOpportunityProduct.POS_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forPOSStatus</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignToCollection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>AreOppProductsSelected</name>
        <label>Are Opp Products Selected?</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>scrPleaseSelectRecords</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesOppProductsSelected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ids</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopOpportunityProducts</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Flow that is launched via a Related List button on the Stock Allotment object to mass-update IPP Status of related Opportunity Products.</description>
    <environments>Default</environments>
    <formulas>
        <name>forPOSStatus</name>
        <dataType>String</dataType>
        <expression>IF( {!varButton} = &apos;Approve&apos;, &apos;Approved&apos;,
IF( {!varButton} = &apos;Reject&apos;, &apos;Not Approved&apos;,
&quot;&quot;))</expression>
    </formulas>
    <interviewLabel>Screen - Approve/Reject Opportunity Products {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screen - Approve/Reject Opportunity Products</label>
    <loops>
        <name>LoopOpportunityProducts</name>
        <label>Loop Opportunity Products</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <collectionReference>ids</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SetRejectOrApproveValue</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateOpportunityProducts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>UpdateOpportunityProducts</name>
        <label>Update Opportunity Products</label>
        <locationX>50</locationX>
        <locationY>734</locationY>
        <connector>
            <targetReference>scrSuccessfullyUpdated</targetReference>
        </connector>
        <faultConnector>
            <targetReference>scrErrorScreen</targetReference>
        </faultConnector>
        <inputReference>collectionOpportunityProducts</inputReference>
    </recordUpdates>
    <screens>
        <name>scrErrorScreen</name>
        <label>Error Screen</label>
        <locationX>314</locationX>
        <locationY>854</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>disErrorText</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Something went wrong during this process due to the following error:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(192, 1, 1);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Please retry if you understand what goes wrong, otherwise reach out to your System Administrator.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scrPleaseSelectRecords</name>
        <label>Please Select Records</label>
        <locationX>578</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>disNoRecordsSelected</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;No Opportunity Products were selected&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please select one or more Opportunity Products before clicking on the {!varButton} button.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scrSuccessfullyUpdated</name>
        <label>Successfully Updated</label>
        <locationX>50</locationX>
        <locationY>854</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>disSuccessText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Opportunity Products were successfully updated&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The IPP Status of the selected Opportunity Product(s) was successfully updated to &quot;{!forPOSStatus}&quot;.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>AreOppProductsSelected</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>collectionOpportunityProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varButton</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSingleOpportunityProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>varStockAllotmentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
