force-app/main/default/flows/ScreenFlowInvalidCaseService.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ToastMessage</name>
        <label>Toast Message</label>
        <locationX>1678</locationX>
        <locationY>974</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>InvalidCaseToastMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_to_Closed_Cases_List</name>
        <label>Add to Closed Cases List</label>
        <locationX>402</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>CasesAlreadyClosed</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Cases</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddTheCurrentCaseToTheList</name>
        <label>Add the Current Case to the List</label>
        <locationX>666</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>casesToBeUpdated</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Cases</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Case_Counts</name>
        <label>Assign Case Counts</label>
        <locationX>314</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>CasesNumberInvalidated</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>casesToBeUpdated</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CasesNumberAlreadyClosed</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>CasesAlreadyClosed</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Some_Cases_Already_Closed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the Case Status to &apos;Closed&apos; and updates Case Reason and Autoclose Reason fields to &apos;Invalid Case&apos;.</description>
        <name>CaseClosed</name>
        <label>Update Case Fields</label>
        <locationX>1810</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>recordId.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Autoclosed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Reason</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Invalid Case</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.AutoCloseReason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Invalid Case</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateCurrentCase</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the Case Status to &apos;Closed&apos; and updates Case Reason and Autoclose Reason fields to &apos;Invalid Case&apos;.</description>
        <name>CasesClosed</name>
        <label>Update Case Fields</label>
        <locationX>666</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>Cases.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Cases.Autoclosed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Cases.Reason</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Invalid Case</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Cases.AutoCloseReason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Invalid Case</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddTheCurrentCaseToTheList</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Access</name>
        <label>Access?</label>
        <locationX>1854</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>NoAccessScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>User does not have access</defaultConnectorLabel>
        <rules>
            <name>UserHasAccess</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.FlowInvalidCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Records</targetReference>
            </connector>
            <label>User has Access</label>
        </rules>
    </decisions>
    <decisions>
        <name>CasesFound</name>
        <label>CasesFound?</label>
        <locationX>666</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>NOT Found</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCases</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cases</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Closed</name>
        <label>Is Closed?</label>
        <locationX>1480</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>SelectReason</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NOT Closed</defaultConnectorLabel>
        <rules>
            <name>Closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Already_Closed</targetReference>
            </connector>
            <label>Closed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Closed_2</name>
        <label>Is Closed?</label>
        <locationX>534</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>CasesClosed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NOT Closed</defaultConnectorLabel>
        <rules>
            <name>Closed_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Cases.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_Closed_Cases_List</targetReference>
            </connector>
            <label>Closed</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks whether the user has selected any record/s?</description>
        <name>Records</name>
        <label>Record/s?</label>
        <locationX>1370</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>NoRecordsSelected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Records</defaultConnectorLabel>
        <rules>
            <name>YesRecords</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ids</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetCases</targetReference>
            </connector>
            <label>Yes Records</label>
        </rules>
        <rules>
            <name>YesSingleRecord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Closed</targetReference>
            </connector>
            <label>Yes Single Record</label>
        </rules>
    </decisions>
    <decisions>
        <name>Shopper</name>
        <label>Shopper?</label>
        <locationX>1678</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>CaseClosed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ShopperCase</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.AutoCloseReason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Shopper Case</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetUnmanagedUser</targetReference>
            </connector>
            <label>Shopper Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>Some_Cases_Already_Closed</name>
        <label>Some Cases Already Closed?</label>
        <locationX>314</locationX>
        <locationY>1274</locationY>
        <defaultConnector>
            <targetReference>UpdateCases</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NONE Closed Already</defaultConnectorLabel>
        <rules>
            <name>All_Cases_Already_Closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>casesToBeUpdated</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>All_Cases_Already_Closed_Screen</targetReference>
            </connector>
            <label>All Cases Already Closed</label>
        </rules>
        <rules>
            <name>Some_Closed_Already</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CasesNumberAlreadyClosed</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cases_Already_Closed_Screen</targetReference>
            </connector>
            <label>Some Closed Already</label>
        </rules>
    </decisions>
    <description>Reusable Empty State component added in the screen</description>
    <environments>Default</environments>
    <interviewLabel>Screen-Flow Invalid Case (Service) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screen-Flow Invalid Case (Service)</label>
    <loops>
        <description>Loops thru the selected cases.</description>
        <name>Cases</name>
        <label>Cases</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <collectionReference>GetCases</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Closed_2</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Case_Counts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Gets the cases out of the selected ids.</description>
        <name>GetCases</name>
        <label>Get Cases</label>
        <locationX>666</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CasesFound</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>ids</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetUnmanagedUser</name>
        <label>Get Unmanaged User</label>
        <locationX>1546</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MarkShopperCase</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CommunityNickname</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>unmanaged</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>MarkShopperCase</name>
        <label>Shopper Case</label>
        <locationX>1546</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>ToastMessage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AutoCloseReason__c</field>
            <value>
                <stringValue>Shopper Case</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Autoclosed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsShopperCase__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>GetUnmanagedUser.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateCases</name>
        <label>Update Cases</label>
        <locationX>314</locationX>
        <locationY>1682</locationY>
        <faultConnector>
            <targetReference>ErrorMessage</targetReference>
        </faultConnector>
        <inputReference>casesToBeUpdated</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Updates the current case</description>
        <name>UpdateCurrentCase</name>
        <label>Update Current Case</label>
        <locationX>1810</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>ToastMessage</targetReference>
        </connector>
        <inputReference>recordId</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>All_Cases_Already_Closed_Screen</name>
        <label>All Cases Already Closed Screen</label>
        <locationX>50</locationX>
        <locationY>1382</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CasesAllAlreadyClosedMessage</name>
            <fieldText>&lt;p&gt;No Cases were updated as they were already Closed.&lt;/p&gt;&lt;p&gt;Cases that were already Closed: {!CasesNumberAlreadyClosed}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Case_Already_Closed</name>
        <label>Case Already Closed</label>
        <locationX>1282</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CaseAlreadyClosed</name>
            <extensionName>c:reusableEmptyState</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>misc:no_access2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>heading</name>
                <value>
                    <elementReference>$Label.CaseClosed</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageBody</name>
                <value>
                    <elementReference>$Label.CaseAlreadyClosed</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>textOnly</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Cases_Already_Closed_Screen</name>
        <label>Cases Already Closed Screen</label>
        <locationX>314</locationX>
        <locationY>1382</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>UpdateCases</targetReference>
        </connector>
        <fields>
            <name>CasesAlreadyClosedMessage</name>
            <fieldText>&lt;p&gt;Some Cases were not updated as they were already Closed.&lt;/p&gt;&lt;p&gt;Cases that were already Closed: {!CasesNumberAlreadyClosed}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ErrorMessage</name>
        <label>Error Message</label>
        <locationX>754</locationX>
        <locationY>1790</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error</name>
            <extensionName>c:reusableEmptyState</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>mis:no_preview</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>heading</name>
                <value>
                    <stringValue>Something went wrong.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageBody</name>
                <value>
                    <elementReference>$Flow.FaultMessage</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NoAccessScreen</name>
        <label>NoAccessScreen</label>
        <locationX>2338</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NoAccessState</name>
            <extensionName>c:reusableEmptyState</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>misc:no_access2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>heading</name>
                <value>
                    <elementReference>$Label.NoAccess</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageBody</name>
                <value>
                    <elementReference>$Label.NoAccessToFlowDescription</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NoRecordsSelected</name>
        <label>No Records Selected</label>
        <locationX>2074</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NoRecordsSelected1</name>
            <extensionName>c:reusableEmptyState</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>no_data:desert</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageBody</name>
                <value>
                    <elementReference>$Label.NoRecordsSelectedDescription</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>heading</name>
                <value>
                    <elementReference>$Label.NoRecordsSelected</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SelectReason</name>
        <label>Select Reason</label>
        <locationX>1678</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Shopper</targetReference>
        </connector>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>recordId.AutoCloseReason__c</objectFieldReference>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1728</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Access</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>InvalidCasesToastMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>You have successfully marked the cases as Invalid Cases and they are automatically closed.</text>
    </textTemplates>
    <textTemplates>
        <name>InvalidCaseToastMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>You have successfully marked the case {!recordId.CaseNumber} as Invalid Case and it is automatically closed.</text>
    </textTemplates>
    <variables>
        <name>CasesAlreadyClosed</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CasesNumberAlreadyClosed</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CasesNumberInvalidated</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>casesToBeUpdated</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <description>Collects the selected records&apos; IDs.</description>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
