force-app/main/default/flows/ScreenContactStatusChange.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>assignValuesToCol</name>
        <label>assign Values to Col</label>
        <locationX>264</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>recVarContact.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopContacts.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarContact.ContactStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>plStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarContact.ContactRecycleReason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>plRecycleReason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarContact.RecycledDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recColContact</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recVarContact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopContacts</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>decWhoIsRunningUser</name>
        <label>dec Who Is Running User</label>
        <locationX>396</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>loopContacts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>OwnerOrNonActiveUser</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>loopContacts.OwnerId</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$User.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loopContacts.Owner.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignValuesToCol</targetReference>
            </connector>
            <label>Owner Or NonActive User</label>
        </rules>
    </decisions>
    <description>Let an user updates contact status and require a recycle reason with recycle status. 
Only update records owned by running user or of an inactive user.</description>
    <dynamicChoiceSets>
        <name>pcsRecycleReason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ContactRecycleReason__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pcsStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ContactStatus__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Screen - Contact Status Change {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screen - Contact Status Change</label>
    <loops>
        <name>loopContacts</name>
        <label>loop Contacts</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <collectionReference>getContacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>decWhoIsRunningUser</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updateContacts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getContacts</name>
        <label>get Contacts</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopContacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>ids</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateContacts</name>
        <label>update Contacts</label>
        <locationX>176</locationX>
        <locationY>842</locationY>
        <inputReference>recColContact</inputReference>
    </recordUpdates>
    <screens>
        <name>ContactStatusInput</name>
        <label>Contact Status Input</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>getContacts</targetReference>
        </connector>
        <fields>
            <name>dtHelpText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Please enter the new Status for the selected contacts.&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;You can only change the status of contact records that you own.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ContactStatusInput_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ContactStatusInput_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>ContactStatusInput_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ContactStatusInput_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>plStatus</name>
                    <choiceReferences>pcsStatus</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Status</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ContactStatusInput_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>plRecycleReason</name>
                    <choiceReferences>pcsRecycleReason</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Recycle Reason</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>plStatus</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Recycle</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ContactStatusInput</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recColContact</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>recVarContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
