force-app/main/default/flows/ScreenFlowSplitCaseService.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ErrorMessage</name>
        <label>Error Message</label>
        <locationX>1106</locationX>
        <locationY>1274</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>UnassignedRT</name>
        <label>Unassigned RT</label>
        <locationX>842</locationX>
        <locationY>1274</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>recordTypeUnassignedError</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <description>Fills parent Id with original record Id and empties the Record Id so the variable can be used to create a new record.</description>
        <name>CloneCase</name>
        <label>Clone Case</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>recordId.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.AccountPortal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.IsVisibleInPortal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.CreatedDate</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.LastModifiedDate</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.CreatedById</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.LastModifiedById</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ScreenSplitCase</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetCaseOwnerQueue</name>
        <label>Set Case Owner And Routing variables</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>recordId.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetGroupFromTeam.outGroup.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.UseRegionForRouting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>selectedTeamRecord.RegionRouting__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.UseBusinessModelForRouting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>selectedTeamRecord.BusinessModelRouting__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.OmniFlowRouting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>selectedTeamRecord.OmniFlowRouting__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.OmniBaseSkill__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>selectedTeamRecord.BaseSkill__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateSplitCase</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetCaseOwnerUser</name>
        <label>Set Case Owner User</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>recordId.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewOwnerUser.selectedValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateSplitCase</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Add action type to Internal Comment</description>
        <name>UpdateCaseComment</name>
        <label>Update Case Comment</label>
        <locationX>380</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>recordId.Comments</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InternalCommentTypeSplit</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NewOwnerType</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Owner can be either a Queue or an User. Set owner from the applicable field.</description>
        <name>NewOwnerType</name>
        <label>New Owner Type</label>
        <locationX>380</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>SetCaseOwnerUser</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewOwnerisQueue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Valid_eam</targetReference>
            </connector>
            <label>Queue</label>
        </rules>
    </decisions>
    <decisions>
        <name>UnassignedRecordType</name>
        <label>Unassigned Record Type?</label>
        <locationX>974</locationX>
        <locationY>1166</locationY>
        <defaultConnector>
            <targetReference>ErrorMessage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.FaultMessage</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>INVALID_CROSS_REFERENCE_KEY</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UnassignedRT</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valid_eam</name>
        <label>Valid Team?</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>GetGroupFromTeam</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NotInSalesforce</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>selectedTeamRecord.IsWorkingInZendesk__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TeamNotWorkingInTeamNotWorkingInSalesforceScreenSalesforceScreen</targetReference>
            </connector>
            <label>Not in Salesforce</label>
        </rules>
    </decisions>
    <description>Clears AccountPortal Field
Flow for users to split a Case</description>
    <dynamicChoiceSets>
        <name>ServiceTeamRecordChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <object>ServiceTeam__mdt</object>
        <outputAssignments>
            <assignToReference>selectedTeamRecord.BaseSkill__c</assignToReference>
            <field>BaseSkill__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>selectedTeamRecord.BusinessModelRouting__c</assignToReference>
            <field>BusinessModelRouting__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>selectedTeamRecord.DeveloperName</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>selectedTeamRecord.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>selectedTeamRecord.IsWorkingInZendesk__c</assignToReference>
            <field>IsWorkingInZendesk__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>selectedTeamRecord.Label</assignToReference>
            <field>Label</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>selectedTeamRecord.MasterLabel</assignToReference>
            <field>MasterLabel</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>selectedTeamRecord.OmniFlowRouting__c</assignToReference>
            <field>OmniFlowRouting__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>selectedTeamRecord.QualifiedApiName</assignToReference>
            <field>QualifiedApiName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>selectedTeamRecord.QueueDeveloperName__c</assignToReference>
            <field>QueueDeveloperName__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>selectedTeamRecord.RegionRouting__c</assignToReference>
            <field>RegionRouting__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>selectedTeamRecord.UnclassifiedQueueDeveloperName__c</assignToReference>
            <field>UnclassifiedQueueDeveloperName__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>selectedTeamRecord.ZendeskEmail__c</assignToReference>
            <field>ZendeskEmail__c</field>
        </outputAssignments>
        <sortField>Label</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>DeveloperName</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Service {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screen Flow Split Case (Service)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Creates new split case.</description>
        <name>CreateSplitCase</name>
        <label>Create Split Case</label>
        <locationX>380</locationX>
        <locationY>1058</locationY>
        <faultConnector>
            <targetReference>UnassignedRecordType</targetReference>
        </faultConnector>
        <inputReference>recordId</inputReference>
    </recordCreates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>ScreenSplitCase</name>
        <label>Split Case</label>
        <locationX>380</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>UpdateCaseComment</targetReference>
        </connector>
        <fields>
            <name>PortalSection</name>
            <fieldText>Portal</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>PortalSection_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>recordId.IsVisibleInPortal__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>CaseClassificationSection</name>
            <fieldText>Classification</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>CaseClassificationSection_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>NewOwnerisQueue</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>true</booleanValue>
                    </defaultValue>
                    <fieldText>New Owner is a Team</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>NewOwnerUser</name>
                    <extensionName>c:quickLookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>User</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>New Owner</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>whereClause</name>
                        <value>
                            <stringValue>ContactId = null AND IsActive = TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>svg</name>
                        <value>
                            <stringValue>standard:user</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>NewOwnerisQueue</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>NewOwnerChoice</name>
                    <choiceReferences>ServiceTeamRecordChoiceSet</choiceReferences>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>New Owner</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>NewOwnerisQueue</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>CaseClassificationSection_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>recordId.Type</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>recordId.SubType__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>recordId.ServiceTopic__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>AdditionalInformationSection</name>
            <fieldText>Additional Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>AdditionalInformationSection_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>recordId.Subject</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>recordId.Description</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>recordId.Comments</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>TeamNotWorkingInTeamNotWorkingInSalesforceScreenSalesforceScreen</name>
        <label>Team not in Salesforce screen</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>TeamNotWorkingInSalesforceErrorText</name>
            <fieldText>&lt;p&gt;The team {!selectedTeamRecord.Label} is not yet working in Salesforce. To collaborate on this case, please use the Handover process.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CloneCase</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>GetGroupFromTeam</name>
        <label>Get Group From Team</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>SetCaseOwnerQueue</targetReference>
        </connector>
        <flowName>SubFlowGetCorrectGroupFromTeam</flowName>
        <inputAssignments>
            <name>ServiceTeam</name>
            <value>
                <elementReference>selectedTeamRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SubType</name>
            <value>
                <elementReference>recordId.SubType__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Topic</name>
            <value>
                <elementReference>recordId.ServiceTopic__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Type</name>
            <value>
                <elementReference>recordId.Type</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <textTemplates>
        <name>flowErro</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Something went wrong splitting this case.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>InternalCommentTypeSplit</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Case Split: {!recordId.Comments}</text>
    </textTemplates>
    <textTemplates>
        <name>recordTypeUnassignedError</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>You cannot split cases of {!recordId.RecordType.Name} record type.</text>
    </textTemplates>
    <variables>
        <description>Record variable to hold the Case record that the Flow is launched from.</description>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <description>the record the user selected.</description>
        <name>selectedTeamRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceTeam__mdt</objectType>
    </variables>
</Flow>
