force-app/main/default/flows/ScreenFlowCaseBulkEmailRespondAction.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>EmailToMerchant</name>
        <label>Email to Merchant</label>
        <locationX>336</locationX>
        <locationY>1214</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>EmailMessageToRelatedCase</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Cases.ContactEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>InputOrgWideEmailAddressPickList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>emailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>emailTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>EmailToWebAddress</name>
        <label>Email to Web Address</label>
        <locationX>600</locationX>
        <locationY>1322</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>EmailMessageToRelatedCase</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Cases.SuppliedEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>InputOrgWideEmailAddressPickList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>emailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>emailTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>We opt for Apex instead of query node to retrieve OrgEmailAddressSecurity records due to our inability to access both the Displayed Name and the Email Address from OrgWideEmailAddress SObject.</description>
        <name>FetchOrgWideEmailAddresses</name>
        <label>Fetch Org Wide Email Addresses</label>
        <locationX>248</locationX>
        <locationY>350</locationY>
        <actionName>OrgWideEmailAddressesFetcher</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>ComposeEmail</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>preferredEmails</name>
            <value>
                <elementReference>$User.PreferredDefaultEmail__c</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Generates a Thread ID for the provided Case ID</description>
        <name>generateThreadId</name>
        <label>Generate Thread ID</label>
        <locationX>534</locationX>
        <locationY>890</locationY>
        <actionName>ThreadIdGeneratorInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>ContactEmail</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>caseId</name>
            <value>
                <elementReference>Cases.Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>varThreadId</assignToReference>
            <name>threadingMessageId</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <description>Assigns the case number to a string as it could be kept track of the cases with no email addresses.</description>
        <name>CaseWithoutEmail</name>
        <label>Case without E-mail</label>
        <locationX>864</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>caseNumbersWithoutEmail</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Cases.CaseNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>EmailMessageToRelatedCase</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Creates Email Message record related to current Case record within the loop.</description>
        <name>EmailMessageToRelatedCase</name>
        <label>Email Message to Related Case</label>
        <locationX>534</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>emailMessage.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cases.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>emailMessage.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>emailSubject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>emailMessage.HtmlBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>emailTemplate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>emailMessage.ToAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cases.ContactEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>emailMessage.FromAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InputOrgWideEmailAddressPickList</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>emailMessage.Incoming</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>emailMessage.CreatedDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>emailMessageCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>emailMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NumberOfCases</name>
        <label>Number of Cases</label>
        <locationX>336</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>NoOfCases</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>EmailToMerchant</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NumberofCases1</name>
        <label>Number of Cases</label>
        <locationX>600</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>NoOfCases</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>EmailToWebAddress</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Access</name>
        <label>Access?</label>
        <locationX>825</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>NoAccessScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>User does not have access</defaultConnectorLabel>
        <rules>
            <name>UserHasAccess</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.FlowCaseBulkEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Records</targetReference>
            </connector>
            <label>User has Access</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks whether the case has contact email address.</description>
        <name>ContactEmail</name>
        <label>Contact E-mail?</label>
        <locationX>534</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>WebEmail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesHasEmail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Cases.ContactEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NumberOfCases</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks whether the NoOfCases is greater than 0.</description>
        <name>HasSuccessCases</name>
        <label>Has Success Cases?</label>
        <locationX>446</locationX>
        <locationY>2006</locationY>
        <defaultConnector>
            <targetReference>FailedDeliveryMessage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Success Messages</defaultConnectorLabel>
        <rules>
            <name>YesHasSuccessMessages</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NoOfCases</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SuccessAndFailedDeliveryMessage</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks whether the user has selected any record?</description>
        <name>Records</name>
        <label>Records?</label>
        <locationX>545</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>NoRecordsSelected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ids</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FetchOrgWideEmailAddresses</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks whether there are records without email addresses.</description>
        <name>RecordsWithoutEmail</name>
        <label>Records without E-mail?</label>
        <locationX>248</locationX>
        <locationY>1898</locationY>
        <defaultConnector>
            <targetReference>HasSuccessCases</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes, there are</defaultConnectorLabel>
        <rules>
            <name>NoCasesWithoutEmail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>caseNumbersWithoutEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Success</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks whether the case has web email address.</description>
        <name>WebEmail</name>
        <label>Web E-mail?</label>
        <locationX>732</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>CaseWithoutEmail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesHasWebEmail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Cases.SuppliedEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NumberofCases1</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>The spelling error in the email has been corrected.</description>
    <dynamicChoiceSets>
        <name>colOrgWideEmailAddressesPicklist</name>
        <collectionReference>FetchOrgWideEmailAddresses.records</collectionReference>
        <dataType>String</dataType>
        <displayField>displayName</displayField>
        <object xsi:nil="true"/>
        <valueField>email</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>contactNameFormula</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISNULL({!Cases.Contact.FirstName})), &apos;Hi &apos; + {!Cases.Contact.FirstName} + &apos;,&apos;, &apos;Hi,&apos;)</expression>
    </formulas>
    <formulas>
        <name>failedEmailDeliverability</name>
        <dataType>String</dataType>
        <expression>&quot;The email delivery failed for the following cases due to missing e-mail address: &quot; &amp; {!formObjectList}</expression>
    </formulas>
    <formulas>
        <name>formObjectList</name>
        <dataType>String</dataType>
        <expression>
SUBSTITUTE(SUBSTITUTE(SUBSTITUTE({!caseNumbersWithoutEmail}, &apos;[&apos;, &apos;&apos;), &apos;,&apos;, &apos;, &apos;), &apos;]&apos;, &apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>successfulEmailDeliverability</name>
        <dataType>String</dataType>
        <expression>&quot;The e-mail was successfully sent to &quot; &amp; TEXT({!NoOfCases}) &amp; &quot; contact e-mail addresses from &quot; &amp; {!InputOrgWideEmailAddressPickList} &amp; &quot;.&quot;</expression>
    </formulas>
    <formulas>
        <name>varEventMessage</name>
        <dataType>String</dataType>
        <expression>&quot;The number of emails that has been sent: &quot; &amp; TEXT({!NoOfCases})</expression>
    </formulas>
    <interviewLabel>Screen-Flow Case Bulk E-mail Respond Action {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Bulk Email</label>
    <loops>
        <description>Loops thru the selected cases.</description>
        <name>Cases</name>
        <label>Cases</label>
        <locationX>248</locationX>
        <locationY>782</locationY>
        <collectionReference>GetCases</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>generateThreadId</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreateDebugLogEvent</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateDebugLogEvent</name>
        <label>Create Debug Log Event</label>
        <locationX>248</locationX>
        <locationY>1790</locationY>
        <connector>
            <targetReference>RecordsWithoutEmail</targetReference>
        </connector>
        <inputAssignments>
            <field>FlowAPINameEvent__c</field>
            <value>
                <stringValue>ScreenFlowCaseBulkEmailRespondAction</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessageEvent__c</field>
            <value>
                <elementReference>varEventMessage</elementReference>
            </value>
        </inputAssignments>
        <object>DebugLogEvent__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Creates the email message records related to the selected cases.</description>
        <name>EmailMessageRecords</name>
        <label>Email Message Records</label>
        <locationX>50</locationX>
        <locationY>2114</locationY>
        <inputReference>emailMessageCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Gets the cases out of the selected ids.</description>
        <name>GetCases</name>
        <label>Get Cases</label>
        <locationX>248</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Confirm</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>ids</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>ComposeEmail</name>
        <label>Compose Email</label>
        <locationX>248</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GetCases</targetReference>
        </connector>
        <fields>
            <name>ComposeEmail_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ComposeEmail_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>InputOrgWideEmailAddressPickList</name>
                    <choiceReferences>colOrgWideEmailAddressesPicklist</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>$User.PreferredDefaultEmail__c</elementReference>
                    </defaultValue>
                    <fieldText>From Email Address</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>emailSubject</name>
            <dataType>String</dataType>
            <fieldText>Email Subject</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Email Subject sent for mass respond on the selected cases&apos; contact email.&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>emailBody</name>
            <fieldText>Email Body</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Email Body sent for mass respond on the selected cases&apos; contact email.&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirm</name>
        <label>Confirm</label>
        <locationX>248</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Cases</targetReference>
        </connector>
        <fields>
            <name>confirmationQuestion</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Are you sure you want the following Email to be sent?&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;From: &lt;/strong&gt;{!InputOrgWideEmailAddressPickList}&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Subject:&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; {!emailSubject}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Body: &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!emailBody}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>FailedDeliveryMessage</name>
        <label>Failed Delivery Message</label>
        <locationX>578</locationX>
        <locationY>2114</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>failedDelivery</name>
            <extensionName>c:reusableEmptyState</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>messageBody</name>
                <value>
                    <elementReference>failedEmailDeliverability</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>heading</name>
                <value>
                    <stringValue>Email deliverability failed.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>misc:no_preview</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NoAccessScreen</name>
        <label>NoAccessScreen</label>
        <locationX>1106</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NoAccessState</name>
            <extensionName>c:reusableEmptyState</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>misc:no_access2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>heading</name>
                <value>
                    <elementReference>$Label.NoAccess</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageBody</name>
                <value>
                    <elementReference>$Label.NoAccessToFlowDescription</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NoRecordsSelected</name>
        <label>No Records Selected</label>
        <locationX>842</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NoRecordsState</name>
            <extensionName>c:reusableEmptyState</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>misc:no_content</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageBody</name>
                <value>
                    <elementReference>$Label.NoRecordsSelectedDescription</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>heading</name>
                <value>
                    <elementReference>$Label.NoRecordsSelected</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Exit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success</label>
        <locationX>50</locationX>
        <locationY>2006</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>EmailMessageRecords</targetReference>
        </connector>
        <fields>
            <name>successfulDelivery</name>
            <extensionName>c:reusableEmptyState</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>misc:preview</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>heading</name>
                <value>
                    <stringValue>Success!</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageBody</name>
                <value>
                    <elementReference>successfulEmailDeliverability</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SuccessAndFailedDeliveryMessage</name>
        <label>Success &amp; Failed Delivery Message</label>
        <locationX>314</locationX>
        <locationY>2114</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessAndFailedDelivery</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;The e-mail delivery failed for the following cases due to missing e-mail address:&lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(255, 4, 0);&quot;&gt; &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(255, 0, 0);&quot;&gt;{!formObjectList}&lt;/em&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;E-mail was successfully to&lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(51, 181, 84);&quot;&gt; &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(51, 181, 84);&quot;&gt;{!NoOfCases}&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(0, 0, 0);&quot;&gt; addresses.﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>699</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Access</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>Keeps the value of the emailBody fields from the initial screen.</description>
        <name>emailTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!contactNameFormula}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The following email is sent to you regarding &lt;strong&gt;{!Cases.CaseNumber}&lt;/strong&gt; case:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!emailBody}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;With respect,&lt;/p&gt;&lt;p&gt;Adyen&apos;s Support Team.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;img src=&quot;https://happy-hunting--servicedev.sandbox.file.force.com/servlet/servlet.ImageServer?id=0157E000001tyaT&amp;amp;oid=00D7E000000Ajpo&amp;amp;lastMod=1672745974000&quot;&gt;&lt;/p&gt;&lt;p&gt;{!varThreadId}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>body</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Collection of case number of cases that doesn&apos;t have an email address related to it</description>
        <name>caseNumbersWithoutEmail</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>debugLogEventCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>DebugLogEvent__e</objectType>
    </variables>
    <variables>
        <name>emailMessage</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>EmailMessage</objectType>
    </variables>
    <variables>
        <name>emailMessageCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>EmailMessage</objectType>
    </variables>
    <variables>
        <description>Collects the selected records&apos; IDs.</description>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Number of selected cases.</description>
        <name>NoOfCases</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>subject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UsersPreferredEmail</name>
        <apexClass>OrgWideEmailWrapperApexDefined</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varThreadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
