force-app/main/default/flows/ScreenApprovalPointsOfAttention.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>WhatObject</name>
        <label>What Object?</label>
        <locationX>446</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>screenNothingToShow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>ClaimMember</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.ProcessInstance.TargetObjectId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>a12</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getClaimMemberToApprove</targetReference>
            </connector>
            <label>Claim Member</label>
        </rules>
        <rules>
            <name>SalesClaim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.ProcessInstance.TargetObjectId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a2i</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screenNothingToShow</targetReference>
            </connector>
            <label>Sales Claim</label>
        </rules>
        <rules>
            <name>AMClaim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.ProcessInstance.TargetObjectId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>a3L</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>screenNothingToShow</targetReference>
            </connector>
            <label>AM Claim</label>
        </rules>
    </decisions>
    <description>Provides an approver additional information on the Approval Request Record Page (Runs System Context)</description>
    <environments>Default</environments>
    <formulas>
        <description>Made a formula, otherwise it would throw errors in the situation where Alternative Split was empty (even with the visiblity filter in the screen)</description>
        <name>forAlternativeSplit</name>
        <dataType>String</dataType>
        <expression>IF(
{!getClaimMemberToApprove.Claim__r.AlternativeSplit__c} = NULL, &quot;&quot;,
{!getClaimMemberToApprove.Claim__r.AlternativeSplit__r.Name})</expression>
    </formulas>
    <interviewLabel>Screen - Approval Points of Attention {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screen - Approval Points of Attention</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetAllClaimMembersOfClaim</name>
        <label>Get All Claim Members of Claim</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>screenPointsofAttention</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Claim__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getClaimMemberToApprove.Claim__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Claim__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ClaimMembers__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getClaimMemberToApprove</name>
        <label>getClaimMemberToApprove</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetAllClaimMembersOfClaim</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.ProcessInstance.TargetObjectId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ClaimMembers__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>screenNothingToShow</name>
        <label>Nothing to Show</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>blank</name>
            <fieldText>&lt;p&gt; &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screenPointsofAttention</name>
        <label>Points of Attention</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>displPointsOfAttention</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Hey Approver! &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Here are some important details of the Claim Members that you&apos;re about to review.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;You&apos;re approving the Claim Member &lt;/span&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;{!getClaimMemberToApprove.ClaimMemberName__c} &lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;for the Account &lt;/span&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;{!getClaimMemberToApprove.Account__r.Name}&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;. Below you can find the other Claim Members on this Claim, the Percentage split and potential points of attention.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Special points of attention:&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>displExceptionClaim</name>
            <fieldText>&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 14px; color: rgb(218, 35, 35);&quot;&gt;Please note that this is an Exception Claim of the type: &lt;/span&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;{!getClaimMemberToApprove.Claim__r.ClaimType__c}&lt;/strong&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>getClaimMemberToApprove.Claim__r.ClaimType__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Exception</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>getClaimMemberToApprove.Claim__r.ClaimType__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>IPP Advance</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>getClaimMemberToApprove.Claim__r.ClaimType__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Merchant Account Claim</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>getClaimMemberToApprove.Claim__r.ClaimType__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Different Split Percentages</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>getClaimMemberToApprove.Claim__r.ClaimType__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Issuing Incentive</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>getClaimMemberToApprove.Claim__r.ClaimType__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Other</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>displAlternativeSplit</name>
            <fieldText>&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 14px; color: rgb(218, 35, 35);&quot;&gt;Please note that an alternative split was chosen on this deal: &lt;/span&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;{!forAlternativeSplit}&lt;/strong&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>getClaimMemberToApprove.Claim__r.AlternativeSplit__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>displCommitment</name>
            <fieldText>&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(218, 35, 35); font-size: 14px;&quot;&gt;Please note that a fixed commitment was chosen on this deal:&lt;/span&gt;&lt;ul&gt;&lt;li&gt;Committed Transactions: &lt;strong&gt;{!getClaimMemberToApprove.Claim__r.CommittedTransactions__c}&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;Commitment in Years: &lt;strong&gt;{!getClaimMemberToApprove.Claim__r.CommitmentInYears__c}&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;Costs per Transaction:  &lt;strong&gt;{!getClaimMemberToApprove.Claim__r.CostsPerTransaction__c} (in {!getClaimMemberToApprove.Claim__r.CurrencyIsoCode})&lt;/strong&gt;&lt;/li&gt;&lt;/ul&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>getClaimMemberToApprove.Claim__r.FixedCommitment__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>displNoSpecialNotes</name>
            <fieldText>&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;Nothing special to mention here, which means no Alternative Split was chosen, there is no Fixed Commitment and it&apos;s a Regular Claim.&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>getClaimMemberToApprove.Claim__r.AlternativeSplit__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>getClaimMemberToApprove.Claim__r.FixedCommitment__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>getClaimMemberToApprove.Claim__r.ClaimType__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Regular</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>tableClaimMembers</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>ClaimMembers__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Claim Members</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>GetAllClaimMembersOfClaim</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;ClaimMemberName__c&quot;,&quot;guid&quot;:&quot;column-3dcc&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Claim Member Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Status__c&quot;,&quot;guid&quot;:&quot;column-ea9f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Status&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;ClaimMemberArea__c&quot;,&quot;guid&quot;:&quot;column-9bb8&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Claim Member Area&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Claim Member Area&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Percentage__c&quot;,&quot;guid&quot;:&quot;column-e863&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Percentage&quot;,&quot;type&quot;:&quot;customPercent&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>WhatObject</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ProcessInstanceWorkitem</objectType>
    </variables>
</Flow>
