force-app/main/default/flows/SubFlowGetCorrectGroupFromTeam.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>SetGeneralistQueue</name>
        <label>Set Generalist Queue</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>QueueDeveloperName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceTeam.QueueDeveloperName__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetQueue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetOutputVariables</name>
        <label>Set Output Variables</label>
        <locationX>182</locationX>
        <locationY>542</locationY>
        <assignmentItems>
            <assignToReference>outGroup</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetQueue</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>SetUnclassifiedQueue</name>
        <label>Set Unclassified Queue</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>QueueDeveloperName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceTeam.UnclassifiedQueueDeveloperName__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetQueue</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Determines if the case should be assigned to Specialist, Unclassified or generalist queue</description>
        <name>SelectQueue</name>
        <label>Select Queue</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>SetGeneralistQueue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Generalist Queue</defaultConnectorLabel>
        <rules>
            <name>UnclassifiedQueue</name>
            <conditionLogic>1 AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>ServiceTeam.UnclassifiedQueueDeveloperName__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SubType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Topic</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetUnclassifiedQueue</targetReference>
            </connector>
            <label>Unclassified Queue</label>
        </rules>
    </decisions>
    <description>Business logic to select the correct queue the case should be routed to.</description>
    <environments>Default</environments>
    <interviewLabel>SubFlow - Get Correct Group from Team {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SubFlow - Get Correct Group from Team</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetQueue</name>
        <label>Get Queue</label>
        <locationX>182</locationX>
        <locationY>434</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetOutputVariables</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QueueDeveloperName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SelectQueue</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>outGroup</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Group</objectType>
    </variables>
    <variables>
        <description>Developer name of the queue.</description>
        <name>QueueDeveloperName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Service Team to get the correct queue from.</description>
        <name>ServiceTeam</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceTeam__mdt</objectType>
    </variables>
    <variables>
        <name>SubType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Topic</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
