force-app/main/default/flows/SubflowQueueQuery.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <description>Populate group collection</description>
        <name>AddQueueToGroupList</name>
        <label>Add Queue to group list</label>
        <locationX>264</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>tempGroup.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopQueues.QueueId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempGroup.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopQueues.Queue.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GroupCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>tempGroup</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopQueues</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>SortGroups</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Sort Groups</label>
        <locationX>176</locationX>
        <locationY>614</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>GroupCollection</collectionReference>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>Name</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <description>Subflow used to query and sort Queues</description>
    <dynamicChoiceSets>
        <description>Collection of Groups. This is used to populated the Record Choice Set of groups because the queue itself has no user readable name. This is a workaround to set a good label.</description>
        <name>CaseGroups</name>
        <collectionReference>GroupCollection</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Group</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Subflow Queue Query {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Subflow Queue Query</label>
    <loops>
        <description>Loop over queues to populate the picklist value set. Queue does not have a label friendly name, that&apos;s why we use the group instead.</description>
        <name>LoopQueues</name>
        <label>LoopQueues</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <collectionReference>QueryQueues</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AddQueueToGroupList</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>SortGroups</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Queries all queues. Used to populate the picklist value set.</description>
        <name>QueryQueues</name>
        <label>Query Queues</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopQueues</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sObjectType</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>QueueSobject</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>QueryQueues</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Collection of groups</description>
        <name>GroupCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Group</objectType>
    </variables>
    <variables>
        <description>API Name of sObjectType for which to query applicable groups</description>
        <name>sObjectType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>tempGroup</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Group</objectType>
    </variables>
</Flow>
