force-app/main/default/flows/TaggingConversionOpportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <decisions>
        <name>MatchOnTagging</name>
        <label>Match on Tagging</label>
        <locationX>380</locationX>
        <locationY>396</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>MatchTagId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetOpportunity.TagID__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetTags</targetReference>
            </connector>
            <label>Match Tag Id</label>
        </rules>
    </decisions>
    <decisions>
        <name>TagExists</name>
        <label>Tag exists?</label>
        <locationX>182</locationX>
        <locationY>636</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ExistingTag</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateCurrentTagging</targetReference>
            </connector>
            <label>Existing Tag</label>
        </rules>
    </decisions>
    <description>Create the lead tags on the opportunity after lead conversion</description>
    <formulas>
        <name>ForConverted2DaysAgo</name>
        <dataType>Date</dataType>
        <expression>TODAY()-2</expression>
    </formulas>
    <formulas>
        <name>ForConvertedYesterday</name>
        <dataType>Date</dataType>
        <expression>TODAY()-1</expression>
    </formulas>
    <interviewLabel>TaggingConversionOpportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TaggingConversionOpportunity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateNewTaggingOppty</name>
        <label>Create New Tagging</label>
        <locationX>50</locationX>
        <locationY>876</locationY>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>GetOpportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UniTag__Record_Id__c</field>
            <value>
                <elementReference>GetOpportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UniTag__Tag__c</field>
            <value>
                <elementReference>GetTags.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UniTag__sObject_Type__c</field>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </inputAssignments>
        <object>UniTag__Tagging__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetOpportunity</name>
        <label>GetOpportunity</label>
        <locationX>380</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MatchOnTagging</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TagID__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetTags</name>
        <label>Get Tags</label>
        <locationX>182</locationX>
        <locationY>516</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>TagExists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.UniTag__Tag__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>UniTag__Tag__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateCurrentTagging</name>
        <label>Update Current tagging</label>
        <locationX>50</locationX>
        <locationY>756</locationY>
        <connector>
            <targetReference>CreateNewTaggingOppty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>GetOpportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <object>UniTag__Tagging__c</object>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetOpportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UniTag__sObject_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </filters>
        <filters>
            <field>Lead__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>UniTag__Tagging__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2021-02-15</startDate>
            <startTime>23:09:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
