force-app/main/default/flows/TetJelleFileRedact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Add_Case_Id</name>
        <label>Add Case Id</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>collEmailIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetEmails</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Email_Id</name>
        <label>Add Email Id</label>
        <locationX>264</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>collEmailIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopOverEmails.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOverEmails</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Construct_ContentDocument</name>
        <label>Construct ContentDocument</label>
        <locationX>264</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>tempContentDocument.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOverLinks.ContentDocumentId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempContentDocument.Title</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOverLinks.ContentDocument.Title</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempContentDocument.FileExtension</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOverLinks.ContentDocument.FileExtension</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempContentDocument.FileType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOverLinks.ContentDocument.FileExtension</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collContentDocuments</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>tempContentDocument</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOverLinks</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>TetJelleFileRedact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TetJelleFileRedact</label>
    <loops>
        <name>LoopOverEmails</name>
        <label>Loop Over Emails</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <collectionReference>GetEmails</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Email_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GetContentDocumentLinks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopOverLinks</name>
        <label>LoopOverLinks</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <collectionReference>GetContentDocumentLinks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Construct_ContentDocument</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Show_Datatbale</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordDeletes>
        <name>DeleteFiles</name>
        <label>Delete Files</label>
        <locationX>176</locationX>
        <locationY>1166</locationY>
        <inputReference>FilesDatatable.selectedRows</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>GetContentDocumentLinks</name>
        <label>Get ContentDocument Links</label>
        <locationX>176</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopOverLinks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>In</operator>
            <value>
                <elementReference>collEmailIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetEmails</name>
        <label>GetEmails</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopOverEmails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Show_Datatbale</name>
        <label>Show Datatable</label>
        <locationX>176</locationX>
        <locationY>1058</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>DeleteFiles</targetReference>
        </connector>
        <fields>
            <name>FilesDatatable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>ContentDocument</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Files</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>collContentDocuments</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Title&quot;,&quot;guid&quot;:&quot;column-2069&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Title&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;FileType&quot;,&quot;guid&quot;:&quot;column-bd97&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;File Type&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;CreatedDate&quot;,&quot;guid&quot;:&quot;column-0525&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Created&quot;,&quot;type&quot;:&quot;customDateTime&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Add_Case_Id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>collContentDocuments</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocument</objectType>
    </variables>
    <variables>
        <name>collEmailIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>tempContentDocument</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocument</objectType>
    </variables>
</Flow>
