force-app/main/default/flows/TH_Login_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Badge_Q</name>
        <label>Badge?</label>
        <locationX>566</locationX>
        <locationY>52</locationY>
        <defaultConnector>
            <targetReference>You_Got_Learning</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No_B</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Badge.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Mix_Q</name>
        <label>Mix?</label>
        <locationX>315</locationX>
        <locationY>52</locationY>
        <defaultConnector>
            <targetReference>You_Got_Learning</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No_M</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>returnID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetBadge</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <description>Trailhead Login Flow to show users if they have any assigned Trails or Badges before logging into Salesforce</description>
    <interviewLabel>TH_Login_Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TH Login Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Mix</name>
        <label>Get Mix</label>
        <locationX>193</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Mix_Q</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>trailheadapp__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>trailheadapp__User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoginFlow_UserId</elementReference>
            </value>
        </filters>
        <object>trailheadapp__User_Trailmix__c</object>
        <outputAssignments>
            <assignToReference>returnID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetBadge</name>
        <label>GetBadge</label>
        <locationX>467</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Badge_Q</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>trailheadapp__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>trailheadapp__User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoginFlow_UserId</elementReference>
            </value>
        </filters>
        <object>trailheadapp__User_Badge__c</object>
        <outputReference>Badge</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <screens>
        <name>You_Got_Learning</name>
        <label>You Got Learning!</label>
        <locationX>433</locationX>
        <locationY>275</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Howdy</name>
            <fieldText>Howdy Trailblazer!  Before you continue into Salesforce maybe you should check out some of these learnings you have been assigned.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TH_Assigned</name>
            <extensionName>c:th_trailheadAssignments_wrap</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>badgesOrTrailmixes</name>
                <value>
                    <stringValue>Both</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Click</name>
            <fieldText>Click on the links above to open a them in a new browser tab.  Click Finish to continue into Salesforce.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Get_Mix</startElementReference>
    <status>Active</status>
    <variables>
        <name>Badge</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>trailheadapp__User_Badge__c</objectType>
    </variables>
    <variables>
        <name>Badges</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>trailheadapp__User_Badge__c</objectType>
    </variables>
    <variables>
        <name>badgeSize</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>LoginFlow_UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Mix</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>trailheadapp__User_Trailmix__c</objectType>
    </variables>
    <variables>
        <name>Mixes</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>trailheadapp__User_Trailmix__c</objectType>
    </variables>
    <variables>
        <name>mixSize</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>returnID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>UserObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
