force-app/main/default/flows/UpdateHandoverStatus.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <choices>
        <name>choCurrentImNeeded</name>
        <choiceText>{!forImNeededDefault}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>forImNeededDefault</elementReference>
        </value>
    </choices>
    <choices>
        <name>choCurrentPomNeeded</name>
        <choiceText>{!forPomNeededDefault}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>forPomNeededDefault</elementReference>
        </value>
    </choices>
    <choices>
        <name>choCurrentRegion</name>
        <choiceText>{!forRegionDefault}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>forRegionDefault</elementReference>
        </value>
    </choices>
    <choices>
        <name>choi</name>
        <choiceText>choi</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>choi</stringValue>
        </value>
    </choices>
    <choices>
        <name>choNo</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>choYes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>CurrentStatus</name>
        <choiceText>{!StatusDefaultChoice}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>StatusDefaultChoice</elementReference>
        </value>
    </choices>
    <decisions>
        <name>Is_Sales_Manager_filled</name>
        <label>Is Sales Manager filled?</label>
        <locationX>4538</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>AssignmentSales</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_SalesFilled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetHandover.Sales_Manager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateHandoverSales_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Resources_Requested_and_Stage</name>
        <label>Resources Requested and Stage?</label>
        <locationX>4802</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>IM_POM_OS_AM_CSM_Requested</name>
            <conditionLogic>(1 OR 3 OR 4) AND (2 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>GetHandover.Resources_Requested_Text__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>IM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetHandover.Resources_Requested_Text__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>AM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetHandover.Resources_Requested_Text__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>POM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetHandover.Resources_Requested_Text__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>OS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetHandover.Resources_Requested_Text__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>CSM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>What_is_the_stage</targetReference>
            </connector>
            <label>IM/POM/OS/AM/CSM Requested?</label>
        </rules>
        <rules>
            <name>AM_CSM_Requested</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetHandover.Resources_Requested_Text__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AM;</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetHandover.Resources_Requested_Text__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CSM;</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>What_is_the_stage_AMCSM</targetReference>
            </connector>
            <label>AM/CSM Requested</label>
        </rules>
        <rules>
            <name>Sales_Requested</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetHandover.Resources_Requested_Text__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales;</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>What_is_the_stage_Sales</targetReference>
            </connector>
            <label>Sales Requested</label>
        </rules>
        <rules>
            <name>IM_POM_OS_Requested</name>
            <conditionLogic>1 OR 2 OR 3 OR (1 AND 2) OR (2 AND 3) OR (1 AND 3) OR (1 AND 2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>GetHandover.Resources_Requested_Text__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>IM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetHandover.Resources_Requested_Text__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>POM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetHandover.Resources_Requested_Text__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>OS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>What_is_the_stage_IMPOMOS</targetReference>
            </connector>
            <label>IM/POM/OS Requested</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_is_the_stage</name>
        <label>What is the stage?</label>
        <locationX>1106</locationX>
        <locationY>398</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Open_or_Rejected</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetHandover.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetHandover.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateHandoverIMPOMOSAM_OpenRejected</targetReference>
            </connector>
            <label>Status is Open or Rejected</label>
        </rules>
        <rules>
            <name>Status_is_IM_POM_OS_Requested</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetHandover.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IM/POM Requested</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_IM_POM_OS_0_0</targetReference>
            </connector>
            <label>Status is IM/POM/OS Requested</label>
        </rules>
        <rules>
            <name>Status_is_AM_CSM_Requested</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetHandover.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AM/CSM Requested</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_AM_0</targetReference>
            </connector>
            <label>Status is AM/CSM Requested</label>
        </rules>
        <rules>
            <name>Status_is_Assigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetHandover.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Assigned</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CompletionScreenIMPOMOSAMCSM</targetReference>
            </connector>
            <label>Status is Assigned</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_is_the_stage_AMCSM</name>
        <label>What is the stage?</label>
        <locationX>3218</locationX>
        <locationY>398</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Stage_is_Open_or_RejectedAMCSM</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetHandover.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetHandover.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateHandoverAMCSMOpen</targetReference>
            </connector>
            <label>Stage is Open or Rejected</label>
        </rules>
        <rules>
            <name>Stage_is_AM_CSM_Requested</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetHandover.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AM/CSM Requested</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_AM_CSM_0</targetReference>
            </connector>
            <label>Stage is AM/CSM Requested</label>
        </rules>
        <rules>
            <name>Stage_is_Assigned_AMCSM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetHandover.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Assigned</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CompletionScreenAMCSM</targetReference>
            </connector>
            <label>Stage is Assigned</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_is_the_stage_IMPOMOS</name>
        <label>What is the stage?</label>
        <locationX>7442</locationX>
        <locationY>398</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Stage_is_Open_or_Rejected_IMPOMOS</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetHandover.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetHandover.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateHandoverSales_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Stage is Open or Rejected</label>
        </rules>
        <rules>
            <name>Stage_is_IM_POM_OS_Requested</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetHandover.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IM/POM Requested</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_IM_POM_OS_0_0_0</targetReference>
            </connector>
            <label>Stage is IM/POM/OS Requested</label>
        </rules>
        <rules>
            <name>Stage_is_Assigned_IMPOMOS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetHandover.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Assigned</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CompletionScreenIMPOMOS</targetReference>
            </connector>
            <label>Stage is Assigned</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_is_the_stage_Sales</name>
        <label>What is the stage?</label>
        <locationX>5462</locationX>
        <locationY>398</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Stage_is_Open_or_Rejected_Sales</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetHandover.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetHandover.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Sales_Manager_filled</targetReference>
            </connector>
            <label>Stage is Open or Rejected</label>
        </rules>
        <rules>
            <name>Stage_is_Sales_Requested</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetHandover.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales Requested</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignmentSales_0</targetReference>
            </connector>
            <label>Stage is Sales Requested</label>
        </rules>
        <rules>
            <name>Stage_is_Assigned_Sales</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetHandover.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Assigned</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CompletionScreenSales</targetReference>
            </connector>
            <label>Stage is Assigned</label>
        </rules>
    </decisions>
    <description>Added the Volume % Adyen, Share of Wallet for POM + Ecommerce to the &apos;You are completing the Handover&apos; screen message</description>
    <dynamicChoiceSets>
        <name>choAvailableImNeeded</name>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EntityParticleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>forImNeededParticleId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Value</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>choCurrentImNeeded</elementReference>
            </value>
        </filters>
        <object>PicklistValueInfo</object>
        <outputAssignments>
            <assignToReference>varSelectedImNeeded</assignToReference>
            <field>Value</field>
        </outputAssignments>
        <sortField>Label</sortField>
        <sortOrder>Desc</sortOrder>
        <valueField>Value</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choAvailablePomNeeded</name>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EntityParticleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>forPomNeededParticleId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Value</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>choCurrentPomNeeded</elementReference>
            </value>
        </filters>
        <object>PicklistValueInfo</object>
        <outputAssignments>
            <assignToReference>varSelectedPomNeeded</assignToReference>
            <field>Value</field>
        </outputAssignments>
        <sortField>Label</sortField>
        <sortOrder>Desc</sortOrder>
        <valueField>Value</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choAvailableRegions</name>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EntityParticleId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Handover__c.00N1o00000JpM4q</stringValue>
            </value>
        </filters>
        <filters>
            <field>Value</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>choCurrentRegion</elementReference>
            </value>
        </filters>
        <filters>
            <field>Value</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>forExcludeHongKong</elementReference>
            </value>
        </filters>
        <filters>
            <field>Value</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>forExcludeManchester</elementReference>
            </value>
        </filters>
        <filters>
            <field>Value</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>forExcludeNewYork</elementReference>
            </value>
        </filters>
        <filters>
            <field>Value</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>forExcludeSanFrancisco</elementReference>
            </value>
        </filters>
        <filters>
            <field>Value</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>forExcludeSaoPaulo</elementReference>
            </value>
        </filters>
        <filters>
            <field>Value</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>forExcludeShanghai</elementReference>
            </value>
        </filters>
        <filters>
            <field>Value</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>forExcludeSingapore</elementReference>
            </value>
        </filters>
        <filters>
            <field>Value</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>forExcludeStockholm</elementReference>
            </value>
        </filters>
        <filters>
            <field>Value</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>forExcludeSydney</elementReference>
            </value>
        </filters>
        <filters>
            <field>Value</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>forExcludeTokyo</elementReference>
            </value>
        </filters>
        <filters>
            <field>Value</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>forExcludeToronto</elementReference>
            </value>
        </filters>
        <filters>
            <field>Value</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>forExcludeBrussels</elementReference>
            </value>
        </filters>
        <filters>
            <field>Value</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>forExcludeAustin</elementReference>
            </value>
        </filters>
        <filters>
            <field>Value</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>forExcludeBoston</elementReference>
            </value>
        </filters>
        <filters>
            <field>Value</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>forExcludeMumbai</elementReference>
            </value>
        </filters>
        <filters>
            <field>Value</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>forExcludeWarsaw</elementReference>
            </value>
        </filters>
        <filters>
            <field>Value</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>forExcludeMexicoCity</elementReference>
            </value>
        </filters>
        <filters>
            <field>Value</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>forExcludeMunich</elementReference>
            </value>
        </filters>
        <filters>
            <field>Value</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>forExcludeDubai</elementReference>
            </value>
        </filters>
        <object>PicklistValueInfo</object>
        <outputAssignments>
            <assignToReference>varSelectedRegion</assignToReference>
            <field>Value</field>
        </outputAssignments>
        <sortField>Label</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Value</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choiceDesiredRegion</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Desired_AM_Region__c</picklistField>
        <picklistObject>Handover__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChPriority</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Priority__c</picklistField>
        <picklistObject>Handover__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>StatusPicklistChoices</name>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EntityParticleId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Handover__c.00N1o00000JpqAt</stringValue>
            </value>
        </filters>
        <filters>
            <field>Value</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>CurrentStatus</elementReference>
            </value>
        </filters>
        <filters>
            <field>Value</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </filters>
        <object>PicklistValueInfo</object>
        <outputAssignments>
            <assignToReference>SelectedStatus</assignToReference>
            <field>Value</field>
        </outputAssignments>
        <sortField>IsActive</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Value</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>forAmToAmHandover</name>
        <dataType>Boolean</dataType>
        <expression>{!GetHandover.RecordType.DeveloperName} = &quot;AMCSMtoAMCSM&quot;</expression>
    </formulas>
    <formulas>
        <name>forAssignedAm</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!varAssignedAm})),{!varAssignedAm},{!GetHandover.AssignToUser__c})</expression>
    </formulas>
    <formulas>
        <name>forAssignedImEmail</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!varAssignedImEmail})),{!varAssignedImEmail},{!GetHandover.AssignedImEmail__c})</expression>
    </formulas>
    <formulas>
        <name>forAssignedPom</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!varAssignedPom})),{!varAssignedPom},{!GetHandover.AssignedPom__c})</expression>
    </formulas>
    <formulas>
        <name>forAssignToUser</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!GetHandover.AssignToUser__c}),NULL,{!GetHandover.AssignToUser__r.Id})</expression>
    </formulas>
    <formulas>
        <name>forDesiredRegion</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!varSelectedRegion})),{!varSelectedRegion},{!forRegionDefault})</expression>
    </formulas>
    <formulas>
        <name>forExcludeAustin</name>
        <dataType>String</dataType>
        <expression>IF({!forSalesToCsmHandover}=True,&quot;Austin&quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>forExcludeBerlin</name>
        <dataType>String</dataType>
        <expression>IF({!forSalesToCsmHandover}=True,&quot;Berlin&quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>forExcludeBoston</name>
        <dataType>String</dataType>
        <expression>IF({!forSalesToCsmHandover}=True,&quot;Boston&quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>forExcludeBrussels</name>
        <dataType>String</dataType>
        <expression>IF({!forSalesToCsmHandover}=True,&quot;Brussels&quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>forExcludeDubai</name>
        <dataType>String</dataType>
        <expression>IF({!forSalesToCsmHandover}=True,&quot;Dubai&quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>forExcludeHongKong</name>
        <dataType>String</dataType>
        <expression>IF({!forSalesToCsmHandover}=True,&quot;Hong Kong&quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>forExcludeMadrid</name>
        <dataType>String</dataType>
        <expression>IF({!forSalesToCsmHandover}=True,&quot;Madrid&quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>forExcludeManchester</name>
        <dataType>String</dataType>
        <expression>IF({!forSalesToCsmHandover}=True,&quot;Manchester&quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>forExcludeMexicoCity</name>
        <dataType>String</dataType>
        <expression>IF({!forSalesToCsmHandover}=True,&quot;Mexico City&quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>forExcludeMilan</name>
        <dataType>String</dataType>
        <expression>IF({!forSalesToCsmHandover}=True,&quot;Milan&quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>forExcludeMumbai</name>
        <dataType>String</dataType>
        <expression>IF({!forSalesToCsmHandover}=True,&quot;Mumbai&quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>forExcludeMunich</name>
        <dataType>String</dataType>
        <expression>IF({!forSalesToCsmHandover}=True,&quot;Munich&quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>forExcludeNewYork</name>
        <dataType>String</dataType>
        <expression>IF({!forSalesToCsmHandover}=True,&quot;New York&quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>forExcludeParis</name>
        <dataType>String</dataType>
        <expression>IF({!forSalesToCsmHandover}=True,&quot;Paris&quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>forExcludeSanFrancisco</name>
        <dataType>String</dataType>
        <expression>IF({!forSalesToCsmHandover}=True,&quot;San Francisco&quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>forExcludeSaoPaulo</name>
        <dataType>String</dataType>
        <expression>IF({!forSalesToCsmHandover}=True,&quot;Sao Paulo&quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>forExcludeShanghai</name>
        <dataType>String</dataType>
        <expression>IF({!forSalesToCsmHandover}=True,&quot;Shanghai&quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>forExcludeSingapore</name>
        <dataType>String</dataType>
        <expression>IF({!forSalesToCsmHandover}=True,&quot;Singapore&quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>forExcludeStockholm</name>
        <dataType>String</dataType>
        <expression>IF({!forSalesToCsmHandover}=True,&quot;Stockholm&quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>forExcludeSydney</name>
        <dataType>String</dataType>
        <expression>IF({!forSalesToCsmHandover}=True,&quot;Sydney&quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>forExcludeTokyo</name>
        <dataType>String</dataType>
        <expression>IF({!forSalesToCsmHandover}=True,&quot;Tokyo&quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>forExcludeToronto</name>
        <dataType>String</dataType>
        <expression>IF({!forSalesToCsmHandover}=True,&quot;Toronto&quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>forExcludeWarsaw</name>
        <dataType>String</dataType>
        <expression>IF({!forSalesToCsmHandover}=True,&quot;Warsaw&quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>forImNeededDefault</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK(TEXT({!GetHandover.IsImNeeded__c})),&quot;Select whether IM is needed&quot;,TEXT({!GetHandover.IsImNeeded__c}))</expression>
    </formulas>
    <formulas>
        <name>forImNeededParticleId</name>
        <dataType>String</dataType>
        <expression>{!$Label.IsImNeeded}</expression>
    </formulas>
    <formulas>
        <name>forIsImNeeded</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!varSelectedImNeeded})),{!varSelectedImNeeded},TEXT({!GetHandover.IsImNeeded__c}))</expression>
    </formulas>
    <formulas>
        <name>forIsPomNeeded</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!varSelectedPomNeeded})),{!varSelectedPomNeeded},TEXT({!GetHandover.IsPomNeeded__c}))</expression>
    </formulas>
    <formulas>
        <name>forLiveAccount</name>
        <dataType>Boolean</dataType>
        <expression>{!GetHandover.Account__r.RecordTypeId} = {!$Label.Live_Account_V2}</expression>
    </formulas>
    <formulas>
        <name>forPomNeededDefault</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK(TEXT({!GetHandover.IsPomNeeded__c})),&quot;Select whether POM is needed&quot;,TEXT({!GetHandover.IsPomNeeded__c}))</expression>
    </formulas>
    <formulas>
        <name>forPomNeededParticleId</name>
        <dataType>String</dataType>
        <expression>{!$Label.IsPomNeeded}</expression>
    </formulas>
    <formulas>
        <name>forRegionDefault</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK(TEXT({!GetHandover.Desired_AM_Region__c})),&quot;Amsterdam&quot;,TEXT({!GetHandover.Desired_AM_Region__c}))</expression>
    </formulas>
    <formulas>
        <name>forSalesToCsmHandover</name>
        <dataType>Boolean</dataType>
        <expression>{!GetHandover.RecordType.DeveloperName} = &quot;SalesToAM&quot;</expression>
    </formulas>
    <formulas>
        <name>forSalesToCxHandover</name>
        <dataType>Boolean</dataType>
        <expression>{!GetHandover.RecordType.DeveloperName} = &quot;SalesToCx&quot;</expression>
    </formulas>
    <formulas>
        <name>forValidAssignedAm</name>
        <dataType>Boolean</dataType>
        <expression>AND(
NOT(ISBLANK({!GetHandover.AssignToUser__c})),
{!GetHandover.AssignToUser__r.IsActive}=True,
OR(
{!GetHandover.AssignToUser__r.Profile_Name__c} = &quot;Adyen v2 Account Manager&quot;,
{!GetHandover.AssignToUser__r.Profile_Name__c} = &quot;Adyen v2 Account Manager Lead&quot;,
{!GetHandover.AssignToUser__r.Profile_Name__c} = &quot;Adyen v2 Customer Success&quot;,
{!GetHandover.AssignToUser__r.Profile_Name__c} = &quot;Adyen v2 Customer Success Lead&quot;))</expression>
    </formulas>
    <formulas>
        <name>StatusDefaultChoice</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK(TEXT({!GetHandover.Status__c})),&quot;Select a Status&quot;,TEXT({!GetHandover.Status__c}))</expression>
    </formulas>
    <interviewLabel>Update Handover Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Handover Status</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetHandover</name>
        <label>Get Handover</label>
        <locationX>4802</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Resources_Requested_and_Stage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Handover__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateHandoverAMCSMAssigned</name>
        <label>Update Handover</label>
        <locationX>2954</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>StatusChangeSuccess</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ErrorScreen_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Assigned_AM__c</field>
            <value>
                <elementReference>AssignedAM_0.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Assigned_CSM__c</field>
            <value>
                <elementReference>AssignedCSM_0.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority__c</field>
            <value>
                <elementReference>PriorityStageAMCSM</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Assigned</stringValue>
            </value>
        </inputAssignments>
        <object>Handover__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateHandoverAMCSMCompleted</name>
        <label>Update Handover</label>
        <locationX>3482</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>StatusChangeSuccess</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ErrorScreen_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>HandoverCompletedDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Handover__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateHandoverAMCSMOpen</name>
        <label>Update Handover</label>
        <locationX>2426</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>StatusChangeSuccess</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ErrorScreen_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>AM/CSM Requested</stringValue>
            </value>
        </inputAssignments>
        <object>Handover__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateHandoverIMPOMOSAM_0</name>
        <label>Update Handover</label>
        <locationX>578</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>StatusChangeSuccess</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorScreen_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AssignedPom__c</field>
            <value>
                <elementReference>AssignedPOM_0_0.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Assigned_OS__c</field>
            <value>
                <elementReference>AssignedOS_0_0.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BusinessAsUsual__c</field>
            <value>
                <elementReference>Business_as_Usual_AMIMPOM</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IM__c</field>
            <value>
                <elementReference>AssignedIM_0_0.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>AM/CSM Requested</stringValue>
            </value>
        </inputAssignments>
        <object>Handover__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateHandoverIMPOMOSAM_OpenRejected</name>
        <label>Update Handover</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>StatusChangeSuccess</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ErrorScreen_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>IM/POM Requested</stringValue>
            </value>
        </inputAssignments>
        <object>Handover__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateHandoverIMPOMOSAM_OpenRejected_0</name>
        <label>Update Handover</label>
        <locationX>1634</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>StatusChangeSuccess</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ErrorScreen_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>HandoverCompletedDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Handover__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateHandoverSales_0_0</name>
        <label>Update Handover</label>
        <locationX>4274</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>StatusChangeSuccess</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ErrorScreen_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>GetHandover.Sales_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Manager__c</field>
            <value>
                <elementReference>GetHandover.Sales_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Assigned</stringValue>
            </value>
        </inputAssignments>
        <object>Handover__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateHandoverSales_0_0_0</name>
        <label>Update Handover</label>
        <locationX>1106</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>StatusChangeSuccess</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ErrorScreen_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Assigned_AM__c</field>
            <value>
                <elementReference>AssignedAM_0_0.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Assigned_CSM__c</field>
            <value>
                <elementReference>AssignedCSM_0_0.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority__c</field>
            <value>
                <elementReference>PriorityStatusAMCSM</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Assigned</stringValue>
            </value>
        </inputAssignments>
        <object>Handover__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateHandoverSales_0_0_0_0</name>
        <label>Update Handover</label>
        <locationX>5330</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>StatusChangeSuccess</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ErrorScreen_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Sales_Manager__c</field>
            <value>
                <elementReference>SalesAssigned_0_0_0.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Assigned</stringValue>
            </value>
        </inputAssignments>
        <object>Handover__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateHandoverSales_0_0_0_0_0</name>
        <label>Update Handover</label>
        <locationX>5858</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>StatusChangeSuccess</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ErrorScreen_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>HandoverCompletedDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Handover__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateHandoverSales_0_0_0_0_0_0</name>
        <label>Update Handover</label>
        <locationX>6650</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>StatusChangeSuccess</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ErrorScreen_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>IM/POM Requested</stringValue>
            </value>
        </inputAssignments>
        <object>Handover__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateHandoverSales_0_0_0_0_0_0_0</name>
        <label>Update Handover</label>
        <locationX>7178</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>StatusChangeSuccess</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ErrorScreen_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AssignedPom__c</field>
            <value>
                <elementReference>AssignedPOM_0_0_0.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Assigned_OS__c</field>
            <value>
                <elementReference>AssignedOS_0_0_0.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IM__c</field>
            <value>
                <elementReference>AssignedIM_0_0_0.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Assigned</stringValue>
            </value>
        </inputAssignments>
        <object>Handover__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateHandoverSales_0_0_0_0_0_0_0_0</name>
        <label>Update Handover</label>
        <locationX>7706</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>StatusChangeSuccess</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ErrorScreen_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>HandoverCompletedDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Handover__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateHandoverSales_0_0_0_0_0_0_0_0_0</name>
        <label>Update Handover</label>
        <locationX>4802</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>StatusChangeSuccess</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ErrorScreen_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Desired_AM_Region__c</field>
            <value>
                <elementReference>Desired_Region_Sales</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Sales Requested</stringValue>
            </value>
        </inputAssignments>
        <object>Handover__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Assignment_AM_0</name>
        <label>Assignment AM/CSM</label>
        <locationX>1106</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>UpdateHandoverSales_0_0_0</targetReference>
        </connector>
        <fields>
            <name>AssignedAM_0_0</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Assigned_AM__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Assigned Account Manager</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Handover__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>GetHandover.Assigned_AM__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>GetHandover.Resources_Requested_Text__c</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>AM</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>AssignedCSM_0_0</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Assigned Customer Success Manager</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Handover__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Assigned_CSM__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>GetHandover.Assigned_CSM__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>GetHandover.Resources_Requested_Text__c</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>CSM</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PriorityStatusAMCSM</name>
            <choiceReferences>ChPriority</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Priority</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Assignment_AM_CSM_0</name>
        <label>Assignment AM/CSM</label>
        <locationX>2954</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>UpdateHandoverAMCSMAssigned</targetReference>
        </connector>
        <fields>
            <name>AssignedAM_0</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Assigned_AM__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Assigned Account Manager</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Handover__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>GetHandover.Assigned_AM__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>GetHandover.Resources_Requested_Text__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>AM;</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>AssignedCSM_0</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Assigned_CSM__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Assigned Customer Success Manager</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Handover__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>GetHandover.Assigned_CSM__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>GetHandover.Resources_Requested_Text__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>CSM;</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PriorityStageAMCSM</name>
            <choiceReferences>ChPriority</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Priority</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Assignment_IM_POM_OS_0_0</name>
        <label>Assignment IM/POM/OS</label>
        <locationX>578</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>UpdateHandoverIMPOMOSAM_0</targetReference>
        </connector>
        <fields>
            <name>AssignedIM_0_0</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>IM__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Assigned Implemenation Manager</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Handover__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>GetHandover.IM__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>GetHandover.Resources_Requested_Text__c</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>IM</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>AssignedPOM_0_0</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AssignedPom__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Assigned Project Operation Manager</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Handover__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>GetHandover.AssignedPom__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>GetHandover.Resources_Requested_Text__c</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>POM</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>AssignedOS_0_0</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Assigned_OS__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Assigned Onboarding Specialist</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Handover__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>GetHandover.Assigned_OS__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>GetHandover.Resources_Requested_Text__c</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>OS</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Business_as_Usual_AMIMPOM</name>
            <defaultValue>
                <stringValue>{!GetHandover.BusinessAsUsual__c}</stringValue>
            </defaultValue>
            <fieldText>Business as Usual</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;Please complete this section when your merchant or partner is already live. This is to ensure a smooth handover to AM and Support. See which information is needed on this hub page: &lt;a href=&quot;https://hub.is.adyen.com/our-company/organization/functions/operations/project-ops-management/pomim-sf-handover-flow/handover-from-impom-to-amsupport/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;https://hub.is.adyen.com/our-company/organization/functions/operations/project-ops-management/pomim-sf-handover-flow/handover-from-impom-to-amsupport/&lt;/a&gt;&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>GetHandover.Project_Resource_Need__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Project Existing Merchant / Partner</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Assignment_IM_POM_OS_0_0_0</name>
        <label>Assignment IM/POM/OS</label>
        <locationX>7178</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>UpdateHandoverSales_0_0_0_0_0_0_0</targetReference>
        </connector>
        <fields>
            <name>AssignedIM_0_0_0</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>IM__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Assigned Implemenation Manager</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Handover__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>GetHandover.IM__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>GetHandover.Resources_Requested_Text__c</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>IM</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>AssignedPOM_0_0_0</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AssignedPom__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Assigned Project Operation Manager</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Handover__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>GetHandover.AssignedPom__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>GetHandover.Resources_Requested_Text__c</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>POM</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>AssignedOS_0_0_0</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Assigned_OS__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Assigned Onboarding Specialist</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Handover__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>GetHandover.Assigned_OS__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>GetHandover.Resources_Requested_Text__c</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>OS</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>AssignmentSales</name>
        <label>AssignmentSales</label>
        <locationX>4802</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>UpdateHandoverSales_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <fields>
            <name>Desired_Region_Sales</name>
            <choiceReferences>choiceDesiredRegion</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>GetHandover.Desired_AM_Region__c</elementReference>
            </defaultValue>
            <fieldText>Desired Region</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>AssignmentSales_0</name>
        <label>AssignmentSales</label>
        <locationX>5330</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>UpdateHandoverSales_0_0_0_0</targetReference>
        </connector>
        <fields>
            <name>SalesAssigned_0_0_0</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Sales_Manager__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Assigned Sales Manager</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Handover__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>GetHandover.Sales_Manager__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CompletionScreenAMCSM</name>
        <label>You are completing the Handover</label>
        <locationX>3482</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>UpdateHandoverAMCSMCompleted</targetReference>
        </connector>
        <fields>
            <name>CompletingHandoverAMCSM</name>
            <fieldText>&lt;p&gt;If you continue, certain fields displayed on the Handover will be copied over to the Account.&lt;/p&gt;&lt;p&gt;These fields are the following:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;ATV&lt;/li&gt;&lt;li&gt;BackOffice Account&lt;/li&gt;&lt;li&gt;Business as Usual&lt;/li&gt;&lt;li&gt;Merchant Core Business Model&lt;/li&gt;&lt;li&gt;Sub-Business Model&lt;/li&gt;&lt;li&gt;Commercial Contact Merchant&lt;/li&gt;&lt;li&gt;Ecommerce Platform&lt;/li&gt;&lt;li&gt;Ecommerce Integrations&lt;/li&gt;&lt;li&gt;Ecommerce System Integrator&lt;/li&gt;&lt;li&gt;Entities&lt;/li&gt;&lt;li&gt;IPP Platform&lt;/li&gt;&lt;li&gt;IPP Integrations&lt;/li&gt;&lt;li&gt;IPP System Integrator&lt;/li&gt;&lt;li&gt;Preferred Language&lt;/li&gt;&lt;li&gt;Share of Wallet % for Ecommerce&lt;/li&gt;&lt;li&gt;Share of Wallet % for IPP&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255)); color: var(--lwc-colorTextWeak,rgb(68, 68, 68)); font-size: var(--lwc-fontSize3,0.8125rem); font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Helvetica, Arial, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;);&quot;&gt;Technical Contact Merchant&lt;/span&gt;&lt;/li&gt;&lt;li&gt;Technical Contact System Integrator&lt;/li&gt;&lt;li&gt;Volume % Adyen&lt;/li&gt;&lt;li&gt;Website&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CompletionScreenIMPOMOS</name>
        <label>You are completing the Handover</label>
        <locationX>7706</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>UpdateHandoverSales_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <fields>
            <name>CompletingHandoverIMPOMOS</name>
            <fieldText>&lt;p&gt;If you continue, certain fields displayed on the Handover will be copied over to the Account.&lt;/p&gt;&lt;p&gt;These fields are the following:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;ATV&lt;/li&gt;&lt;li&gt;BackOffice Account&lt;/li&gt;&lt;li&gt;Business as Usual&lt;/li&gt;&lt;li&gt;Merchant Core Business Model&lt;/li&gt;&lt;li&gt;Sub-Business Model&lt;/li&gt;&lt;li&gt;Commercial Contact Merchant&lt;/li&gt;&lt;li&gt;Ecommerce Platform&lt;/li&gt;&lt;li&gt;Ecommerce Integrations&lt;/li&gt;&lt;li&gt;Ecommerce System Integrator&lt;/li&gt;&lt;li&gt;Entities&lt;/li&gt;&lt;li&gt;IPP Platform&lt;/li&gt;&lt;li&gt;IPP Integrations&lt;/li&gt;&lt;li&gt;IPP System Integrator&lt;/li&gt;&lt;li&gt;Preferred Language&lt;/li&gt;&lt;li&gt;Share of Wallet % for Ecommerce&lt;/li&gt;&lt;li&gt;Share of Wallet % for IPP&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255)); color: var(--lwc-colorTextWeak,rgb(68, 68, 68)); font-size: var(--lwc-fontSize3,0.8125rem); font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Helvetica, Arial, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;);&quot;&gt;Technical Contact Merchant&lt;/span&gt;&lt;/li&gt;&lt;li&gt;Technical Contact System Integrator&lt;/li&gt;&lt;li&gt;Volume % Adyen&lt;/li&gt;&lt;li&gt;Website&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CompletionScreenIMPOMOSAMCSM</name>
        <label>You are completing the Handover</label>
        <locationX>1634</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>UpdateHandoverIMPOMOSAM_OpenRejected_0</targetReference>
        </connector>
        <fields>
            <name>CompletingHandoverAMIMPOMOS</name>
            <fieldText>&lt;p&gt;If you continue, certain fields displayed on the Handover will be copied over to the Account.&lt;/p&gt;&lt;p&gt;These fields are the following:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;ATV&lt;/li&gt;&lt;li&gt;BackOffice Account&lt;/li&gt;&lt;li&gt;Business as Usual&lt;/li&gt;&lt;li&gt;Merchant Core Business Model&lt;/li&gt;&lt;li&gt;Sub-Business Model&lt;/li&gt;&lt;li&gt;Commercial Contact Merchant&lt;/li&gt;&lt;li&gt;Ecommerce Platform&lt;/li&gt;&lt;li&gt;Ecommerce Integrations&lt;/li&gt;&lt;li&gt;Ecommerce System Integrator&lt;/li&gt;&lt;li&gt;Entities&lt;/li&gt;&lt;li&gt;IPP Platform&lt;/li&gt;&lt;li&gt;IPP Integrations&lt;/li&gt;&lt;li&gt;IPP System Integrator&lt;/li&gt;&lt;li&gt;Preferred Language&lt;/li&gt;&lt;li&gt;Share of Wallet % for Ecommerce&lt;/li&gt;&lt;li&gt;Share of Wallet % for IPP&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Helvetica, Arial, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;); font-size: var(--lwc-fontSize3,0.8125rem); color: var(--lwc-colorTextWeak,rgb(68, 68, 68)); background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255));&quot;&gt;Technical Contact Merchant&lt;/span&gt;&lt;/li&gt;&lt;li&gt;Technical Contact System Integrator&lt;/li&gt;&lt;li&gt;Volume % Adyen&lt;/li&gt;&lt;li&gt;Website&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CompletionScreenSales</name>
        <label>You are completing the Handover</label>
        <locationX>5858</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>UpdateHandoverSales_0_0_0_0_0</targetReference>
        </connector>
        <fields>
            <name>CompletingHandoverSales</name>
            <fieldText>&lt;p&gt;If you continue, certain fields displayed on the Handover will be copied over to the Account.&lt;/p&gt;&lt;p&gt;These fields are the following:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;ATV&lt;/li&gt;&lt;li&gt;BackOffice Account&lt;/li&gt;&lt;li&gt;Business as Usual&lt;/li&gt;&lt;li&gt;Merchant Core Business Model&lt;/li&gt;&lt;li&gt;Sub-Business Model&lt;/li&gt;&lt;li&gt;Commercial Contact Merchant&lt;/li&gt;&lt;li&gt;Ecommerce Platform&lt;/li&gt;&lt;li&gt;Ecommerce Integrations&lt;/li&gt;&lt;li&gt;Ecommerce System Integrator&lt;/li&gt;&lt;li&gt;Entities&lt;/li&gt;&lt;li&gt;IPP Platform&lt;/li&gt;&lt;li&gt;IPP Integrations&lt;/li&gt;&lt;li&gt;IPP System Integrator&lt;/li&gt;&lt;li&gt;Preferred Language&lt;/li&gt;&lt;li&gt;Share of Wallet % for Ecommerce&lt;/li&gt;&lt;li&gt;Share of Wallet % for IPP&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255)); color: var(--lwc-colorTextWeak,rgb(68, 68, 68)); font-size: var(--lwc-fontSize3,0.8125rem); font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Helvetica, Arial, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;);&quot;&gt;Technical Contact Merchant&lt;/span&gt;&lt;/li&gt;&lt;li&gt;Technical Contact System Integrator&lt;/li&gt;&lt;li&gt;Volume % Adyen&lt;/li&gt;&lt;li&gt;Website&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ErrorScreen_0</name>
        <label>ErrorScreen</label>
        <locationX>842</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>disErrorText_0</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Something went wrong during this process due to the following error:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(192, 1, 1);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Please retry if you understand what goes wrong, otherwise reach out to your System Administrator.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>StatusChangeSuccess</name>
        <label>StatusChangeSuccess</label>
        <locationX>4802</locationX>
        <locationY>1214</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>StatusChangedSuccessMessage</name>
            <fieldText>&lt;p&gt;The status of your Handover has successfully changed!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>4676</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetHandover</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAssignedAm</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>GetHandover.AssignToUser__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>varAssignedImEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>GetHandover.AssignedImEmail__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>varAssignedPom</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>GetHandover.AssignedPom__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>varSelectedImNeeded</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSelectedPomNeeded</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSelectedRegion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
